#admin-menu(data-ng-include="'app/admin/users/menu/user.menu.html'")
.filter-title
  span.publisher-name.
    Saldo
.shelf
  .inner-shelf
    .shelf-space
      | Tu cuenta tiene un saldo de: {{wallet.user.wallet}}
.filter-title
  span.publisher-name.
    Cupon
.shelf
  .inner-shelf
    .shelf-space
      |Ingresa el cupon del usuario
      |{{wallet.user.objectId}}
      admin-coupon(user-id='{{wallet.user.objectId}}')
.filter-title
  span.publisher-name.
    Agregar saldo al monedero
.shelf
  .inner-shelf
    .shelf-space
      money(user-id='{{wallet.user.objectId}}')