.section-title(data-ng-bind="shell.labels.mySubscriptions")
#submenu.hidden.visible-lg-block(data-ng-if="shell.isDashboard")
  nav
    a(data-ui-sref="dashboard.series", data-ng-class="{'active':shell.submenu == 'series'}", data-ng-bind="shell.labels.series")
    