.section-title
  | Mis Suscripciones
#submenu.hidden.visible-lg-block(data-ng-if="shell.isDashboard")
  nav
    a(data-ui-sref="dashboard.series", data-ng-class="{'active':shell.submenu == 'series'}")
      |Series
    