form#card-form.pure-form.pure-form-stacked(name="cardForm", novalidate)
  fieldset
    .form-container
      label(for="cardName", ng-show="cardForm.cardName.$valid || cardForm.cardName.$pristine", data-ng-bind="shell.labels.name+':'")
      label.error(for="cardName", ng-show="cardForm.cardName.$invalid && cardForm.cardName.$dirty", data-ng-bind="shell.labels.nameRequired")
      .form-icon
        input.pure-input-1#cardName(name="cardName", data-ng-model="card.name", required="")
        i.fa.fa-dot-circle-o.medium-icon(ng-show="cardForm.cardName.$pristine")
        i.fa.fa-check-circle-o.success.medium-icon(ng-show="cardForm.cardName.$valid && cardForm.cardName.$dirty")
        i.fa.fa-times-circle-o.error.medium-icon(ng-show="cardForm.cardName.$invalid && cardForm.cardName.$dirty")
    .form-container
      label(for="cardNumber", ng-show="cardForm.cardNumber.$valid || cardForm.cardNumber.$pristine", data-ng-bind="shell.labels.cardNumber")
      label.error(for="cardNumber", ng-show="cardForm.cardNumber.$invalid && cardForm.cardNumber.$dirty", data-ng-bind="shell.labels.cardNumberRequired")
      .form-icon
        input.pure-input-1#cardNumber(name="cardNumber", data-ng-model="card.number", validate-card)
        i.fa.fa-dot-circle-o.medium-icon(ng-show="cardForm.cardNumber.$pristine")
        i.fa.fa-check-circle-o.success.medium-icon(ng-show="cardForm.cardNumber.$valid && cardForm.cardNumber.$dirty")
        i.fa.fa-times-circle-o.error.medium-icon(ng-show="cardForm.cardNumber.$invalid && cardForm.cardNumber.$dirty")
    .form-container
      label(for="cvc", ng-show="cardForm.cvc.$valid || cardForm.cvc.$pristine", data-ng-bind="shell.labels.cvc")
      label.error(for="cvc", ng-show="cardForm.cvc.$invalid && cardForm.cvc.$dirty", data-ng-bind="shell.labels.cvcRequired")
      .form-icon
        input.pure-input-1#cvc(name="cvc", data-ng-model="card.cvc", validate-cvc)
        i.fa.fa-dot-circle-o.medium-icon(ng-show="cardForm.cvc.$pristine")
        i.fa.fa-check-circle-o.success.medium-icon(ng-show="cardForm.cvc.$valid && cardForm.cvc.$dirty")
        i.fa.fa-times-circle-o.error.medium-icon(ng-show="cardForm.cvc.$invalid && cardForm.cvc.$dirty")
    .form-container
      label(for="expirationDate")
        span(data-ng-bind="shell.labels.expirationDate")
        div.clearfix
          select.left(data-ng-model="card.exp_month" ng-options="n for n in months")
          select.right(data-ng-model="card.exp_year" ng-options="n for n in years")
  .align-center.margin-bottom
    a.pure-button.pure-button-primary(data-ng-click="saveCard(conektaId)",data-ng-bind="shell.labels.saveCard")
  .align-center.margin-bottom
    a.pure-button(data-ng-click="hideCardForm()", data-ng-bind="shell.labels.cancel")
  .error.align-center(data-ng-if="!shell.errorBar")
    |{{shell.error}}