
<form id="card-form" name="cardForm" novalidate="novalidate" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="form-container">
      <label for="cardName" ng-show="cardForm.cardName.$valid || cardForm.cardName.$pristine" data-ng-bind="shell.labels.name+':'"></label>
      <label for="cardName" ng-show="cardForm.cardName.$invalid &amp;&amp; cardForm.cardName.$dirty" data-ng-bind="shell.labels.nameRequired" class="error"></label>
      <div class="form-icon">
        <input id="cardName" name="cardName" data-ng-model="card.name" required="" class="pure-input-1"/><i ng-show="cardForm.cardName.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="cardForm.cardName.$valid &amp;&amp; cardForm.cardName.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="cardForm.cardName.$invalid &amp;&amp; cardForm.cardName.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
      </div>
    </div>
    <div class="form-container">
      <label for="cardNumber" ng-show="cardForm.cardNumber.$valid || cardForm.cardNumber.$pristine" data-ng-bind="shell.labels.cardNumber"></label>
      <label for="cardNumber" ng-show="cardForm.cardNumber.$invalid &amp;&amp; cardForm.cardNumber.$dirty" data-ng-bind="shell.labels.cardNumberRequired" class="error"></label>
      <div class="form-icon">
        <input id="cardNumber" name="cardNumber" data-ng-model="card.number" validate-card="validate-card" class="pure-input-1"/><i ng-show="cardForm.cardNumber.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="cardForm.cardNumber.$valid &amp;&amp; cardForm.cardNumber.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="cardForm.cardNumber.$invalid &amp;&amp; cardForm.cardNumber.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
      </div>
    </div>
    <div class="form-container">
      <label for="cvc" ng-show="cardForm.cvc.$valid || cardForm.cvc.$pristine" data-ng-bind="shell.labels.cvc"></label>
      <label for="cvc" ng-show="cardForm.cvc.$invalid &amp;&amp; cardForm.cvc.$dirty" data-ng-bind="shell.labels.cvcRequired" class="error"></label>
      <div class="form-icon">
        <input id="cvc" name="cvc" data-ng-model="card.cvc" validate-cvc="validate-cvc" class="pure-input-1"/><i ng-show="cardForm.cvc.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="cardForm.cvc.$valid &amp;&amp; cardForm.cvc.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="cardForm.cvc.$invalid &amp;&amp; cardForm.cvc.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
      </div>
    </div>
    <div class="form-container">
      <label for="expirationDate"><span data-ng-bind="shell.labels.expirationDate"></span>
        <div class="clearfix">
          <select data-ng-model="card.exp_month" ng-options="n for n in months" class="left"></select>
          <select data-ng-model="card.exp_year" ng-options="n for n in years" class="right"></select>
        </div>
      </label>
    </div>
  </fieldset>
  <div class="align-center margin-bottom"><a data-ng-click="saveCard(conektaId)" data-ng-bind="shell.labels.saveCard" class="pure-button pure-button-primary"></a></div>
  <div class="align-center margin-bottom"><a data-ng-click="hideCardForm()" data-ng-bind="shell.labels.cancel" class="pure-button"></a></div>
  <div data-ng-if="!shell.errorBar" class="error align-center">{{shell.error}}</div>
</form>