
<div id="account-menu" data-ng-include="'app/account/menu/account.menu.html'" data-ng-if="!view"></div>
<div id="admin-menu" data-ng-include="'app/admin/users/menu/user.menu.html'" data-ng-if="view"></div>
<div class="filter-title"><span class="publisher-name">Mis Tarjetas</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="cards-list" data-ng-hide="loading">
        <div ng-if="payment.cards.length &lt; 1" class="shelf-message bottom-divider">
          <div class="subtitle">No existen tarjetas registradas.</div>
        </div>
        <div ng-if="payment.cards.length &gt; 0" class="bottom-divider">
          <div ng-repeat="item in payment.cards" class="card-item"><i ng-if="item.card.brand == 'VISA'" class="fa fa-cc-visa fa-lg"></i><i ng-if="item.card.brand == 'MC'" class="fa fa-cc-mastercard fa-lg"></i><i ng-if="item.card.brand == 'AMERICAN_EXPRESS'" class="fa fa-cc-amex fa-lg"></i><span class="padding-left-1">**** **** **** {{item.card.last4}}</span><a data-ng-click="showModal()" data-question="¿Eliminar tarjeta?" data-confirm="payment.deleteCard({{$index}})" confirm-message="confirm-message" class="pure-button button-small margin-left-1"><i class="fa fa-trash"></i> Eliminar</a></div>
          <div data-ng-if="payment.error" class="error align-center">{{payment.error}}</div>
        </div>
        <div class="buttons-container"><a ng-click="payment.cardFormView = true"><i class="fa fa-plus-circle fa-4x"></i></a>
          <div>Agregar Tarjeta</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div data-ng-show="payment.cardFormView">
  <div class="filter-title"><span class="publisher-name">Agregar Tarjeta</span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space">
        <div card-form="card-form"></div>
      </div>
    </div>
  </div>
</div>