#account-menu(data-ng-include="'app/account/menu/account.menu.html'", data-ng-if="!view")
#admin-menu(data-ng-include="'app/admin/users/menu/user.menu.html'", data-ng-if="view")
.filter-title
  span.publisher-name.
    Mis Tarjetas
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #cards-list(data-ng-hide="loading")
        .shelf-message.bottom-divider(ng-if="payment.cards.length < 1")
          .subtitle
            |No existen tarjetas registradas.
        .bottom-divider(ng-if="payment.cards.length > 0")
          .card-item(ng-repeat="item in payment.cards")
            i.fa.fa-cc-visa.fa-lg(ng-if="item.card.brand == 'VISA'")
            i.fa.fa-cc-mastercard.fa-lg(ng-if="item.card.brand == 'MC'")
            i.fa.fa-cc-amex.fa-lg(ng-if="item.card.brand == 'AMERICAN_EXPRESS'")
            span.padding-left-1
              |**** **** **** {{item.card.last4}}
            a.pure-button.button-small.margin-left-1(data-ng-click="showModal()", data-question='¿Eliminar tarjeta?', data-confirm="payment.deleteCard({{$index}})", confirm-message)
              i.fa.fa-trash
              |  Eliminar
          .error.align-center(data-ng-if="payment.error")
            |{{payment.error}}
        .buttons-container
          a(ng-click="payment.cardFormView = true")
            i.fa.fa-plus-circle.fa-4x
          div
            |Agregar Tarjeta

div(data-ng-show="payment.cardFormView")
  .filter-title
    span.publisher-name.
      Agregar Tarjeta
  .shelf
    .inner-shelf
      .shelf-space
        div(card-form)