form.pure-form.pure-form-stacked(name="addressForm", novalidate="")
  fieldset
    .child-container
      ng-form(name="addressForm")
        .form-container
            label(for="street", ng-show="addressForm.street.$valid || addressForm.street.$pristine")
              | Calle:
            label.error(for="street", ng-show="addressForm.street.$invalid && addressForm.street.$dirty")
              | Calle es requerido:
            .form-icon
              input.pure-input-1#street(name="street", data-ng-model="address.street", required="")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="addressForm.street.$pristine")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="addressForm.street.$valid && addressForm.street.$dirty")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="addressForm.street.$invalid && addressForm.street.$dirty")
          .pure-control-group
            label(for="number", ng-show="addressForm.number.$valid || addressForm.number.$pristine")
              | Número exterior:
            label.error(for="number", ng-show="addressForm.number.$invalid && addressForm.number.$dirty")
              | Número exterior es requerido:
            .form-icon
              input.pure-input-1#number(name="number", data-ng-model="address.number", required="")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="addressForm.number.$pristine")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="addressForm.number.$valid && addressForm.number.$dirty")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="addressForm.number.$invalid && addressForm.number.$dirty")
          .pure-control-group
            label(for="apt")
              | Numero interior:
            .form-icon
              input.pure-input-1#apt(name="apt", data-ng-model="address.apt")
          .pure-control-group
            label(for="zip", ng-show="addressForm.zip.$valid || addressForm.zip.$pristine")
              | Codigo Postal:
            label.error(for="zip", ng-show="addressForm.zip.$invalid && addressForm.zip.$dirty")
              | Codigo Postal no valido:
            .form-icon
              input.pure-input-1#zip(name="zip", data-ng-model="address.zip", required="", data-ng-pattern="/[0-9]/",maxlength=5, data-ng-minlength=5 data-ng-maxlength=5, data-ng-change="updateUbication()")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="addressForm.zip.$pristine")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="addressForm.zip.$valid && addressForm.zip.$dirty")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="addressForm.zip.$invalid && addressForm.zip.$dirty")
          .pure-control-group
            label(for="district")
              | Colonia:
            select(data-ng-model="address.district", data-ng-options="item.name as item.name for item in districts",data-ng-change="updateZip()")
          .pure-control-group
            label(for="municipality")
              | Delegacion o Municipio:
            select(ng-model="address.municipality", ng-options="item.name as item.name for item in municipalities",data-ng-change="updateDistricts()")
          .pure-control-group
            label(for="state")
              | Estado:
            select(ng-model="address.state", ng-options="item.name as item.name for item in states",data-ng-change="updateMunicipalities()")
          .pure-control-group
            label(for="default_{{index}}")
              | Direccion Principal:
            input(id="default_{{index}}", data-ng-model="address.default")
          .pure-controls
            a.pure-button(data-ng-click="saveAddress()", data-ng-class="{'pure-button-disabled': addressForm.$invalid, 'button-success':addressForm.$valid}")
              span(data-ng-if="addressForm.$invalid")
                | Campos Requeridos    
                i.fa.fa-dot-circle-o.error
              span(data-ng-if="addressForm.$valid")
                i.fa.fa-thumbs-o-up
                |     Guardar