
<form name="addressForm" novalidate="" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="child-container">
      <ng-form name="addressForm">
        <div class="form-container">
          <label for="street" ng-show="addressForm.street.$valid || addressForm.street.$pristine" data-ng-bind="shell.labels.street"></label>
          <label for="street" ng-show="addressForm.street.$invalid &amp;&amp; addressForm.street.$dirty" data-ng-bind="shell.labels.streetRequired" class="error"></label>
          <div class="form-icon">
            <input id="street" name="street" data-ng-model="newAddress.street" required="" class="pure-input-1"/><i ng-show="addressForm.street.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="addressForm.street.$valid &amp;&amp; addressForm.street.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="addressForm.street.$invalid &amp;&amp; addressForm.street.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="pure-control-group">
          <label for="number" ng-show="addressForm.number.$valid || addressForm.number.$pristine" data-ng-bind="shell.labels.number"></label>
          <label for="number" ng-show="addressForm.number.$invalid &amp;&amp; addressForm.number.$dirty" data-ng-bind="shell.labels.numberRequired" class="error"></label>
          <div class="form-icon">
            <input id="number" name="number" data-ng-model="newAddress.number" required="" class="pure-input-1"/><i ng-show="addressForm.number.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="addressForm.number.$valid &amp;&amp; addressForm.number.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="addressForm.number.$invalid &amp;&amp; addressForm.number.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="pure-control-group">
          <label for="apt" data-ng-bind="shell.labels.apt"></label>
          <div class="form-icon">
            <input id="apt" name="apt" data-ng-model="newAddress.apt" class="pure-input-1"/>
          </div>
        </div>
        <div class="pure-control-group">
          <label for="zip" ng-show="addressForm.zip.$valid || addressForm.zip.$pristine" data-ng-bind="shell.labels.zip"></label>
          <label for="zip" ng-show="addressForm.zip.$invalid &amp;&amp; addressForm.zip.$dirty" data-ng-bind="shell.labels.zipInvalid" class="error"></label>
          <div class="form-icon">
            <input id="zip" name="zip" data-ng-model="newAddress.zip" required="" data-ng-pattern="/[0-9]/" maxlength="5" data-ng-minlength='5' data-ng-maxlength='5' data-ng-change="updateUbication()" class="pure-input-1"/><i ng-show="addressForm.zip.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="addressForm.zip.$valid &amp;&amp; addressForm.zip.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="addressForm.zip.$invalid &amp;&amp; addressForm.zip.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="pure-control-group">
          <label for="district" data-ng-bind="shell.labels.district"></label>
          <select data-ng-model="newAddress.district" data-ng-options="item.name as item.name for item in districts" data-ng-change="updateZip()"></select>
        </div>
        <div class="pure-control-group">
          <label for="municipality" data-ng-bind="shell.labels.municipality"></label>
          <select ng-model="newAddress.municipality" ng-options="item.name as item.name for item in municipalities" data-ng-change="updateDistricts()"></select>
        </div>
        <div class="pure-control-group">
          <label for="state" data-ng-bind="shell.labels.state"></label>
          <select ng-model="newAddress.state" ng-options="item.name as item.name for item in states" data-ng-change="updateMunicipalities()"></select>
        </div>
      </ng-form>
    </div>
  </fieldset>
  <div class="align-center margin-bottom"><a data-ng-click="saveAddress()" data-ng-class="{'pure-button-disabled': addressForm.$invalid, 'button-success':addressForm.$valid}" class="pure-button"><span data-ng-if="addressForm.$invalid"><i class="fa fa-dot-circle-o error"></i><span data-ng-bind="shell.labels.fieldsRequired"></span></span><span data-ng-if="addressForm.$valid"><i class="fa fa-thumbs-o-up"></i><span data-ng-bind="shell.labels.save"></span></span></a></div>
  <div class="align-center margin-bottom"><a data-ng-click="showAddressForm(false)" data-ng-bind="shell.labels.cancel" class="pure-button"></a></div>
</form>