
<div id="admin-menu" data-ng-include="'app/admin/users/menu/user.menu.html'" data-ng-if="view"></div>
<div id="account-menu" data-ng-include="'app/account/menu/account.menu.html'" data-ng-if="!view"></div>
<div class="filter-title"><span data-ng-bind="shell.labels.myAddresses" class="publisher-name"></span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="address-list" data-ng-hide="loading"> 
        <div ng-if="address.addresses.length &lt; 1" class="shelf-message bottom-divider">
          <div data-ng-bind="shell.labels.noAddresses" class="subtitle"></div>
        </div>
        <div ng-repeat="address in address.addresses" class="bottom-divider">
          <div class="address-line">{{address.street}} {{address.number}} {{address.apt}}</div>
          <div class="address-line">Colonia {{address.district}}, {{address.municipality}} </div>
          <div class="address-line">{{address.country}}, {{address.state}}, {{address.zip}} </div>
          <div class="address-line"><a data-ng-click="showModal()" data-question="¿Eliminar dirección?" data-confirm="deleteAddress(address.objectId, $index)" confirm-message="confirm-message" class="pure-button button-small"><i class="fa fa-trash"> </i><span data-ng-bind="shell.labels.delete"></span></a></div>
        </div>
        <div class="buttons-container"><a ng-click="address.addressFormView = true"><i class="fa fa-plus-circle fa-4x"></i></a>
          <div data-ng-bind="shell.labels.addAddress"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-show="address.addressFormView">
  <div class="filter-title"><span data-ng-bind="shell.labels.addAddress" class="publisher-name"></span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space">
        <div id="new-address" new-address="new-address"></div>
      </div>
    </div>
  </div>
</div>