
<div id="account-menu" data-ng-include="'app/account/menu/account.menu.html'"></div>
<div class="filter-title"><span class="publisher-name">Mis Direcciones</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div ng-if="addresses.length &lt; 1" class="shelf-message">
        <div class="subtitle">No existen direcciones registradas.</div>
      </div>
      <div ng-repeat="address in addresses" class="address-item">
        <div class="address-line">{{address.street}} {{address.number}} {{address.apt}}</div>
        <div class="address-line">Colonia {{address.district}}, {{address.municipality}} </div>
        <div class="address-line">{{address.country}}, {{address.state}}, {{address.zip}} </div>
        <div class="address-line"><a class="pure-button pure-button-primary button-small"><i class="fa fa-edit"></i>Editar</a><a ng-click="deleteAddress(address.objectId, $index)" class="pure-button button-small"><i class="fa fa-trash"> </i>Borrar</a></div>
      </div>
    </div>
    <div class="buttons-container"><a ng-click="addressFormView = true"><i class="fa fa-plus-circle fa-4x"></i></a>
      <div>Agregar Dirección</div>
    </div>
  </div>
</div>
<div ng-show="addressFormView">
  <div class="filter-title"><span class="publisher-name">Agregar Dirección</span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space">
        <div id="new-address" new-address="new-address"></div>
      </div>
    </div>
  </div>
</div>