#cart.hidden.visible-lg-block(data-ng-if="!vm.isDashboard")
  div
    a(data-ui-sref="checkout")
      i.fa.fa-shopping-cart
      span
        | {{vm.shoppingCart.itemsTotal}}
      |articulos
  div.login-header
    a(data-ui-sref="login", data-ng-if="!vm.currentUser")
      | Iniciar sesion
    a(data-ng-click="logout()", data-ng-if="vm.currentUser")
      | Cerrar Sesion