#cart.hidden.visible-lg-block(data-ng-if="!shell.isDashboard")
  div
    a(data-ui-sref="checkout")
      i.fa.fa-shopping-cart
      span
        | {{shell.shoppingCart.itemsTotal}}
      |articulos
  div.login-header
    a(data-ui-sref="login", data-ng-if="!shell.currentUser")
      | Iniciar sesion
    a(data-ng-click="shell.logout()", data-ng-if="shell.currentUser")
      | Cerrar Sesion