#cart.hidden.visible-lg-inline-block(data-ng-if="!shell.isDashboard && !shell.isAdmin")
  div
    a(data-ui-sref="checkout")
      i.fa.fa-shopping-cart
      span(class="items")
        | {{shell.shoppingCart.itemsTotal}}
      span(data-ng-bind="shell.labels.items")
  div.login-header
    a(data-ui-sref="login", data-ng-if="!shell.currentUser", data-ng-bind="shell.labels.login")
    a(data-ng-click="shell.logout()", data-ng-if="shell.currentUser", data-ng-bind="shell.labels.logout")