
<div id="cart" data-ng-if="!shell.isDashboard &amp;&amp; !shell.isAdmin" class="hidden visible-lg-inline-block">
  <div><a data-ui-sref="checkout"><i class="fa fa-shopping-cart"></i><span class="items">{{shell.shoppingCart.itemsTotal}}</span><span data-ng-bind="shell.labels.items"></span></a></div>
  <div class="login-header"><a data-ui-sref="login" data-ng-if="!shell.currentUser" data-ng-bind="shell.labels.login"></a><a data-ng-click="shell.logout()" data-ng-if="shell.currentUser" data-ng-bind="shell.labels.logout"></a></div>
</div>