#cart.hidden.visible-lg-block
  div
    a(ui-sref="checkout")
      i.fa.fa-shopping-cart
      span
        | {{vm.cartItems.itemsTotal}}
      |articulos
  div.login-header
    a(ui-sref="login")
      | Iniciar sesion