nav#navigation
  a(ui-sref="home").
    TIENDA
  a(ui-sref="suscribe").
    SUSCRIPCIONES
  a(ui-sref="about").
    ¿COMÓ FUNCIONA?
#cart
  a.login(ui-sref="login").
    Iniciar Sesion
  i.fa.fa-shopping-cart
  | 3