.search-params(data-ng-mouseleave="shell.hideSubmenus()")
  .pure-g
    .search-list.pure-u-1.pure-u-sm-1-3
      .search-param.align-center.pointer(data-ng-mouseenter="shell.hoverPremier()")
        span.uppercase(data-ng-bind="shell.labels.premier")
        i.fa.fa-sort-down
      .box-list(data-ng-show="shell.premierList", data-ng-mouseleave="shell.premierList= false")
        .list-element.uppercase.pointer(data-ng-click="shell.loadShelf('dc comics')")
          |DC COMICS
        .list-element.pointer(data-ng-click="shell.loadShelf('marvel comics')")
          |MARVEL COMICS
        .list-element.pointer(data-ng-click="shell.loadShelf('dark horse comics')")
          |DARK HORSE
        .list-element.pointer(data-ng-click="shell.loadShelf('idw publishing')")
          |IDW PUBLISHING
        .list-element.pointer(data-ng-click="shell.loadShelf('image comics')")
          |IMAGE COMICS
    .search-box.pure-u-1.pure-u-sm-1-3
      input(type="text", ng-model="shell.searchBox", placeholder="BUSCAR")
      a(ng-click="shell.searchByName()")
        i.fa.fa-search
    .search-list.pure-u-1.pure-u-sm-1-3
      .search-param.align-center.pointer(data-ng-mouseenter="shell.hoverPublishers()")
        span.uppercase(data-ng-bind="shell.labels.publishers")
        i.fa.fa-sort-down
      .box-list(data-ng-show="shell.publishersList", data-ng-mouseleave="shell.publishersList= false")
        .list-element.uppercase.pointer(data-ng-repeat="publisher in shell.publishers",data-ng-click="shell.loadShelf(publisher.name)")
          |{{publisher.name}}
.notes
  span(data-ng-bind="shell.labels.searchText1")
  span.error(data-ng-bind="shell.labels.searchText2")
  span(data-ng-bind="shell.labels.searchText3")
