.search-box
  input(type="text", ng-model="shell.searchValue")
  a(ng-click="shell.searchByName()")
    i.fa.fa-search.hidden-md
    span.hidden.visible-md-inline
      |BUSCAR
.filters
  #submenu.hidden.visible-lg-block
    nav
      a.pointer(data-ng-repeat="publisher in shell.publishers" data-ng-click="shell.loadShelf('{{publisher.name}}')")
        |{{publisher.name}}
