
<div class="search-params">
  <div class="pure-g">
    <div class="search-list pure-u-1 pure-u-sm-1-3">
      <div data-ng-mouseenter="shell.premierList = true" class="search-param align-center pointer">PREMIER<i class="fa fa-sort-down"></i></div>
      <div data-ng-show="shell.premierList" data-ng-mouseleave="shell.premierList= false" class="box-list">
        <div data-ng-click="shell.loadShelf('dc comics')" class="list-element uppercase pointer">DC COMICS</div>
        <div data-ng-click="shell.loadShelf('marvel comics')" class="list-element pointer">MARVEL COMICS</div>
        <div data-ng-click="shell.loadShelf('dark horse')" class="list-element pointer">DARK HORSE</div>
        <div data-ng-click="shell.loadShelf('idw publishing')" class="list-element pointer">IDW PUBLISHING</div>
        <div data-ng-click="shell.loadShelf('image comics')" class="list-element pointer">IMAGE COMICS</div>
      </div>
    </div>
    <div class="search-box pure-u-1 pure-u-sm-1-3">
      <input type="text" ng-model="shell.searchValue" placeholder="BUSCAR"/><a ng-click="shell.searchByName()"><i class="fa fa-search"></i></a>
    </div>
    <div class="search-list pure-u-1 pure-u-sm-1-3">
      <div data-ng-mouseenter="shell.publishersList = true" class="search-param align-center pointer">EDITORIALES<i class="fa fa-sort-down"></i></div>
      <div data-ng-show="shell.publishersList" data-ng-mouseleave="shell.publishersList= false" class="box-list">
        <div data-ng-repeat="publisher in shell.publishers" data-ng-click="shell.loadShelf(publisher.name)" class="list-element uppercase pointer">{{publisher.name}}</div>
      </div>
    </div>
  </div>
</div>