
<div class="filter-title"><span class="publisher-name">{{shell.title}} Comics</span></div>
<div class="inner-shelf">
  <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-if="loading" class="spinner"></div>
  <div data-ng-hide="loading" class="pure-g">
    <div data-ng-repeat="item in itemsList" class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4 pure-u-xl-1-5">
      <div class="item">
        <div class="item-image"><img alt="" ng-src="{{item.cover.url}}"/></div>
        <div class="item-info">{{item.name}}</div>
        <div class="item-info">{{item.price}} USD</div>
        <div class="item-button"><a data-ng-click="shell.addToCart(item)" class="pure-button pure-button-primary"><span data-ng-if="item.type=='serie'">Suscribirme </span><span data-ng-if="item.type=='preorder'">Preordenar</span><span data-ng-if="item.type=='available'">Comprar</span></a></div>
      </div>
    </div>
  </div>
</div>