
<div class="filter-title"><span class="publisher-name">{{vm.title}} Comics</span></div>
<div class="inner-shelf pure-g">
  <div ng-repeat="item in vm.itemsList" class="pure-u-1 pure-u-sm-1-4 pure-u-md-1-5">
    <div class="item">
      <div class="item-image"><img alt="" ng-src="{{item.cover.url}}"/></div>
      <div class="item-info">{{item.name}}</div>
      <div class="item-info">{{item.price}} USD</div>
      <div class="item-button"><a ng-click="vm.suscribe()" class="pure-button pure-button-primary">Suscribirme</a></div>
    </div>
  </div>
</div>