.filter-title
  span.publisher-name.
    {{title}}
.inner-shelf

  .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-if="loading")
  div(data-ng-hide="loading")
    .shelf-message(ng-if="itemsList.length < 1")
      .shelf-space
        .subtitle
          |No existen productos con estos parametros.
    .pure-g
      .pure-u-1.pure-u-md-1-2.pure-u-lg-1-4.pure-u-xl-1-5(data-ng-repeat="item in itemsList")
        .item
          .item-image
            a(data-ui-sref="item({objectId:item.objectId})") 
              img(alt="", ng-src="{{item.coverUrl}}")
          .item-info
            a.pointer(data-ui-sref="item({objectId:item.objectId})")
              |{{item.name}}
          .item-info.
            {{item.price | currency}} MXN
          .item-button
            a.pure-button.pure-button-primary(data-ng-click="shell.addToCart(item)")
              span(data-ng-if="item.available == 'serie'")
                | Suscribirme 
              span(data-ng-if="item.available == 'preorder'")
                | Preordenar
              span(data-ng-if="item.available == 'available'")
                | Comprar
          





