#menu-button.hidden-lg
  i.fa.fa-bars

.logo
  img(src="common/images/logo.png")
  .logo-text
    .logo-h3
      | THE
    .logo-h2
      | COMICS'
    .logo-h1
      | SOCIETY
nav.side-menu.hidden.visible-lg-block(data-ng-if="!vm.isDashboard")
  a(ui-sref="about")
    | ¿Comó funciona?
  a(ui-sref="home")
    | Tienda
  a(ui-sref="suscribe")
    | Suscripciones
  a(ui-sref="login")
    | Mi Cuenta
  a(ng-click="logout()",data-ng-if="vm.currentUser")
    | Salir
  span
    a.social(href="https://www.facebook.com/thecomicsociety", target="_blank")
      i.fa.fa-facebook
     a.social(href="https://twitter.com/thecomicsociety", target="_blank")
      i.fa.fa-twitter
nav.side-menu.hidden.visible-lg-block(data-ng-if="vm.isDashboard")
  a(ui-sref="dashboard.account", data-ng-class="{'active': vm.active == 'account'}")
    | Mi cuenta
  a(ui-sref="dashboard.orders")
    | Mis Ordernes
  a(ui-sref="suscribe")
    | Mis Suscripciones
  a(ng-click="logout()",data-ng-if="vm.currentUser")
    | Salir
  span
    a.social(href="https://www.facebook.com/thecomicsociety", target="_blank")
      i.fa.fa-facebook
     a.social(href="https://twitter.com/thecomicsociety", target="_blank")
      i.fa.fa-twitter
