
<div id="menu-button" class="hidden-lg"><i class="fa fa-bars"></i></div>
<div class="logo"><img src="common/images/quimera.png"/>
  <div class="logo-text">
    <div class="logo-h3">THE</div>
    <div class="logo-h2">COMICS'</div>
    <div class="logo-h1">SOCIETY</div>
  </div>
</div>
<nav data-ng-if="!shell.isDashboard" class="side-menu hidden visible-lg-block"><a ui-sref="about">¿Comó funciona?</a><a ui-sref="home">Tienda</a><a ui-sref="subscribe">Suscripciones</a><a ui-sref="login">Mi Cuenta</a><a ng-click="shell.logout()" data-ng-if="shell.currentUser">Salir</a><span><a href="https://www.facebook.com/thecomicsociety" target="_blank" class="social"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/thecomicsociety" target="_blank" class="social"><i class="fa fa-twitter"></i></a></span></nav>
<nav data-ng-if="shell.isDashboard" class="side-menu hidden visible-lg-block"><a ui-sref="dashboard.account" data-ng-class="{'active': shell.menu == 'account'}">Mi cuenta</a><a ui-sref="home">Tienda</a><a ui-sref="dashboard.orders" data-ng-class="{'active': shell.menu == 'orders'}">Mis Ordernes</a><a ui-sref="dashboard.series" data-ng-class="{'active': shell.menu == 'series'}">Mis Suscripciones</a><a ng-click="shell.logout()" data-ng-if="shell.currentUser">Salir</a><span><a href="https://www.facebook.com/thecomicsociety" target="_blank" class="social"><i class="fa fa-facebook"></i></a><a href="https://twitter.com/thecomicsociety" target="_blank" class="social"><i class="fa fa-twitter"></i></a></span></nav>