
<div id="menu-button" class="hidden-lg"><i class="fa fa-bars"></i></div>
<div class="logo"><img src="common/images/logo.png"/>
  <div class="logo-text">
    <div class="logo-h3">THE</div>
    <div class="logo-h2">COMICS'</div>
    <div class="logo-h1">SOCIETY</div>
  </div>
</div>
<nav class="side-menu hidden visible-lg-block"><a ui-sref="about">¿Comó funciona?</a><a ui-sref="home">Tienda</a><a ui-sref="suscribe">Suscripciones</a><a ui-sref="login">Mi Cuenta</a><a ng-click="logout()" data-ng-if="vm.currentUser">Salir</a></nav>