.section-title(data-ng-bind="sell.labels.series")
#submenu.hidden.visible-lg-block(data-ng-if="shell.isAdmin")
  nav
    a(data-ui-sref="admin.series", data-ng-class="{'active':shell.submenu == 'series'}", data-ng-bind="shell.labels.series")
    a(data-ui-sref="admin.series", data-ng-class="{'active':shell.submenu == 'series'}",data-ng-bind="shell.labels.stats")