form.pure-form.pure-form-stacked(name="couponForm", novalidate="")
  fieldset
    .child-container
      ng-form(name="couponForm")
        .form-container
            label(for="coupon", ng-show="couponForm.coupon.$valid || couponForm.coupon.$pristine", data-ng-bind="shell.labels.coupon")
            label.error(for="coupon", ng-show="couponForm.coupon.$invalid && couponForm.coupon.$dirty", data-ng-bind="shell.labels.couponRequired")
            .form-icon
              input.pure-input-1#coupon(name="coupon", data-ng-model="coupon.code", required="")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="couponForm.coupon.$pristine")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="couponForm.coupon.$valid && couponForm.coupon.$dirty")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="couponForm.coupon.$invalid && couponForm.coupon.$dirty")
.align-center
  a.pure-button(data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}", data-ng-if="couponForm.$invalid")
    i.fa.fa-dot-circle-o.error
    span(data-ng-bind="shell.labels.fieldsRequired")
  a.pure-button.button-success(data-ng-click="redeemCode()", data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}", data-ng-if="couponForm.$valid")
    i.fa.fa-thumbs-o-up
    span(data-ng-bind="shell.labels.validateCode")    
  .error(data-ng-if="error")
    | {{error}}
  .success(data-ng-if="success")
    | {{success}}