#account-menu(data-ng-include="'app/account/menu/account.menu.html'")
.filter-title
  span.publisher-name.
    Mi Saldo
.shelf
  .inner-shelf
    .shelf-space
      | Tu cuenta tiene un saldo de: {{shell.currentUser.wallet}}
.filter-title
  span.publisher-name.
    Cupon
.shelf
  .inner-shelf
    .shelf-space
      |¿Tienes un cupon? Ingresalo para agregar saldo a tu cuenta.
      coupon