#account-menu(data-ng-include="'app/account/menu/account.menu.html'")
.filter-title
  span.publisher-name(data-ng-bind="shell.labels.myBalance")
.shelf
  .inner-shelf
    .shelf-space
      span(data-ng-bind="shell.labels.walletText1")
      span.important
        | {{shell.currentUser.wallet | currency}} 
      span(data-ng-bind="shell.labels.currency")
.filter-title
  span.publisher-name(data-ng-bind="shell.labels.coupon")
.shelf
  .inner-shelf
    .shelf-space
      span(data-ng-bind="shell.labels.walletText2")
      coupon