#account-menu(data-ng-include="'app/account/menu/account.menu.html'")
.filter-title
  span.publisher-name.
    Mi Saldo
.shelf
  .inner-shelf
    .shelf-space
      | Tu cuenta tiene un saldo de: {{vm.currentUser.wallet.toFixed(2)}}
coupon