.filter-title
  span.publisher-name.
    Iniciar Sesion
.shelf
  .inner-shelf
    .shelf-space
      .pure-g
        .pure-u-1.pure-u-sm-1-2
          .shelf-space
            .title.align-center
              | Ya soy miembro
            form.pure-form.pure-form-aligned(name="loginForm", novalidate="")
              .pure-control-group
                label(for="username", ng-show="loginForm.username.$valid || loginForm.username.$pristine")
                  | Correo Electronico:
                label.error(for="username", ng-show="loginForm.username.$invalid && loginForm.username.$dirty")
                  | Correo Electronico invalido:
                input#username(name="username", type="email", data-ng-model="user.username", required="")
                i.fa.fa-dot-circle-o.medium-icon(ng-show="loginForm.username.$pristine")
                i.fa.fa-check-circle-o.success.medium-icon(ng-show="loginForm.username.$valid && loginForm.username.$dirty")
                i.fa.fa-times-circle-o.error.medium-icon(ng-show="loginForm.username.$invalid && loginForm.username.$dirty")
              .pure-control-group
                label(for="password", ng-show="loginForm.password.$valid || loginForm.password.$pristine")
                  | Contraseña:
                label.error(for="password", ng-show="loginForm.password.$invalid && loginForm.password.$dirty")
                  | Contraseña invalida:
                input#password(name="password", type="password", data-ng-model="user.password", required="")
                i.fa.fa-dot-circle-o.medium-icon(ng-show="loginForm.password.$pristine")
                i.fa.fa-check-circle-o.success.medium-icon(ng-show="loginForm.password.$valid && loginForm.password.$dirty")
                i.fa.fa-times-circle-o.error.medium-icon(ng-show="loginForm.password.$invalid && loginForm.password.$dirty")
            .align-center.margin-bottom
              a.pure-button.pure-button-primary(ng-click="login()").
                Iniciar Sesion
            .error.align-center(data-ng-show="response")
              | {{response}}
        .pure-u-1.pure-u-sm-1-2
          .shelf-space.border-left
            .title.align-center
              | ¡Registrarme!
            form.pure-form.pure-form-aligned(name="registerForm", novalidate="")
              fieldset
              .pure-control-group
                label(for="name", ng-show="registerForm.name.$valid || registerForm.name.$pristine")
                  | Nombre:
                label.error(for="name", ng-show="registerForm.name.$invalid && registerForm.name.$dirty")
                  | Nombre es requerido:
                input#name(name="name", data-ng-model="newUser.name", required="")
                i.fa.fa-dot-circle-o.medium-icon(ng-show="registerForm.name.$pristine")
                i.fa.fa-check-circle-o.success.medium-icon(ng-show="registerForm.name.$valid && registerForm.name.$dirty")
                i.fa.fa-times-circle-o.error.medium-icon(ng-show="registerForm.name.$invalid && registerForm.name.$dirty")
              .pure-control-group
                label(for="lastname", ng-show="registerForm.lastname.$valid || registerForm.lastname.$pristine")
                  | Apellido:
                label.error(for="lastname", ng-show="registerForm.lastname.$invalid && registerForm.lastname.$dirty")
                  | Apellifo invalido:
                input#lastname(name="lastname", data-ng-model="newUser.lastname", required="")
                i.fa.fa-dot-circle-o.medium-icon(ng-show="registerForm.lastname.$pristine")
                i.fa.fa-check-circle-o.success.medium-icon(ng-show="registerForm.lastname.$valid && registerForm.lastname.$dirty")
                i.fa.fa-times-circle-o.error.medium-icon(ng-show="registerForm.lastname.$invalid && registerForm.lastname.$dirty")
              .pure-control-group
                label(for="username", ng-show="registerForm.username.$valid || registerForm.username.$pristine")
                  | Correo Electronico:
                label.error(for="username", ng-show="registerForm.username.$invalid && registerForm.username.$dirty")
                  | Correo Electronico invalido:
                input#username(name="username", type="email", data-ng-model="newUser.username", required="")
                i.fa.fa-dot-circle-o.medium-icon(ng-show="registerForm.username.$pristine")
                i.fa.fa-check-circle-o.success.medium-icon(ng-show="registerForm.username.$valid && registerForm.username.$dirty")
                i.fa.fa-times-circle-o.error.medium-icon(ng-show="registerForm.username.$invalid && registerForm.username.$dirty")
              .pure-control-group
                label(for="password", ng-show="registerForm.password.$valid || registerForm.password.$pristine")
                  | Contraseña:
                label.error(for="password", ng-show="registerForm.password.$invalid && registerForm.password.$dirty")
                  | Contraseña requerido:
                input#password(name="password", data-ng-model="newUser.password", required="")
                i.fa.fa-dot-circle-o.medium-icon(ng-show="registerForm.password.$pristine")
                i.fa.fa-check-circle-o.success.medium-icon(ng-show="registerForm.password.$valid && registerForm.password.$dirty")
                i.fa.fa-times-circle-o.error.medium-icon(ng-show="registerForm.password.$invalid && registerForm.password.$dirty")
              .pure-control-group
                label(for="confirmPassword", ng-show="registerForm.confirmPassword.$valid || registerForm.confirmPassword.$pristine")
                  | Confirmar Contraseña:
                label.error(for="confirmPassword", ng-show="registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$dirty")
                  | Contraseña requerida:
                input#confirmPassword(name="confirmPassword", data-ng-model="newUser.confirmPassword", required="")
                i.fa.fa-dot-circle-o.medium-icon(ng-show="registerForm.confirmPassword.$pristine")
                i.fa.fa-check-circle-o.success.medium-icon(ng-show="registerForm.confirmPassword.$valid && registerForm.confirmPassword.$dirty")
                i.fa.fa-times-circle-o.error.medium-icon(ng-show="registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$dirty")              
            .align-center.margin-bottom
              a.pure-button.pure-button-primary(ng-click="register()").
                Registrarme
            .error.align-center(data-ng-show="response")
              | {{response}}
      

      
