
<div class="filter-title"><span data-ng-bind="shell.labels.login" class="publisher-name"></span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div class="pure-g">
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="shelf-space">
            <div data-ng-bind="shell.labels.iAmMember" class="title align-center"></div>
            <form name="loginForm" novalidate="" class="pure-form pure-form-stacked">
              <fieldset>
                <label for="username" ng-show="loginForm.username.$valid || loginForm.username.$pristine" data-ng-bind="shell.labels.email"></label>
                <label for="username" ng-show="loginForm.username.$invalid &amp;&amp; loginForm.username.$dirty" data-ng-bind="shell.labels.emailInvalid" class="error"></label>
                <div class="form-icon">
                  <input id="username" name="username" type="email" data-ng-model="user.username" required="" class="pure-input-1"/><i ng-show="loginForm.username.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="loginForm.username.$valid &amp;&amp; loginForm.username.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="loginForm.username.$invalid &amp;&amp; loginForm.username.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
                <label for="password" ng-show="loginForm.password.$valid || loginForm.password.$pristine" data-ng-bind="shell.labels.password"></label>
                <label for="password" ng-show="loginForm.password.$invalid &amp;&amp; loginForm.password.$dirty" data-ng-bind="shell.labels.passwordInvalid" class="error"></label>
                <div class="form-icon">
                  <input id="password" name="password" type="password" data-ng-model="user.password" required="" class="pure-input-1"/><i ng-show="loginForm.password.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="loginForm.password.$valid &amp;&amp; loginForm.password.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="loginForm.password.$invalid &amp;&amp; loginForm.password.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
              </fieldset>
            </form>
            <div class="align-center margin-bottom"><a ng-click="login()" data-ng-bind="shell.labels.login" class="pure-button pure-button-primary"></a></div>
            <div class="align-center margin-top-1 margin-bottom"><a data-ui-sref="forgot" data-ng-bind="shell.labels.passwordForgot" class="action"></a></div>
            <div data-ng-show="response.login" class="error align-center">{{response.login}}</div>
          </div>
        </div>
        <div class="pure-u-1 pure-u-sm-1-2">
          <div class="shelf-space border-left">
            <div data-ng-bind="shell.labels.registerNow" class="title align-center"></div>
            <form name="registerForm" novalidate="" class="pure-form pure-form-stacked">
              <fieldset>
                <label for="name" ng-show="registerForm.name.$valid || registerForm.name.$pristine" data-ng-bind="shell.labels.name"></label>
                <label for="name" ng-show="registerForm.name.$invalid &amp;&amp; registerForm.name.$dirty" data-ng-bind="shell.labels.nameRequired" class="error"></label>
                <div class="form-icon">
                  <input id="name" name="name" data-ng-model="newUser.name" required="" class="pure-input-1"/><i ng-show="registerForm.name.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="registerForm.name.$valid &amp;&amp; registerForm.name.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="registerForm.name.$invalid &amp;&amp; registerForm.name.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
                <label for="lastname" ng-show="registerForm.lastname.$valid || registerForm.lastname.$pristine" data-ng-bind="shell.labels.lastname"></label>
                <label for="lastname" ng-show="registerForm.lastname.$invalid &amp;&amp; registerForm.lastname.$dirty" data-ng-bind="shell.labels.lastnameRequired" class="error"></label>
                <div class="form-icon">
                  <input id="lastname" name="lastname" data-ng-model="newUser.lastname" required="" class="pure-input-1"/><i ng-show="registerForm.lastname.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="registerForm.lastname.$valid &amp;&amp; registerForm.lastname.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="registerForm.lastname.$invalid &amp;&amp; registerForm.lastname.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
                <label for="username" ng-show="registerForm.username.$valid || registerForm.username.$pristine" data-ng-bind="shell.labels.email"></label>
                <label for="username" ng-show="registerForm.username.$invalid &amp;&amp; registerForm.username.$dirty" data-ng-bind="shell.labels.emailInvalid" class="error"></label>
                <div class="form-icon">
                  <input id="username" name="username" type="email" data-ng-model="newUser.username" required="" class="pure-input-1"/><i ng-show="registerForm.username.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="registerForm.username.$valid &amp;&amp; registerForm.username.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="registerForm.username.$invalid &amp;&amp; registerForm.username.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
                <label for="password" ng-show="((registerForm.password.$valid || registerForm.password.$pristine) || (!registerForm.password.$error.required  &amp;&amp; registerForm.password.$error.match &amp;&amp; registerForm.confirmPassword.$pristine)) &amp;&amp; !(registerForm.confirmPassword.$dirty &amp;&amp; registerForm.password.$error.required)" data-ng-bind="shell.labels.password"></label>
                <label for="password" ng-show="registerForm.password.$error.required &amp;&amp; (registerForm.password.$dirty || registerForm.confirmPassword.$dirty)" data-ng-bind="shell.labels.passwordInvalid" class="error"></label>
                <label for="password" ng-show="registerForm.confirmPassword.$dirty &amp;&amp; !registerForm.password.$error.required &amp;&amp; registerForm.password.$error.match &amp;&amp; registerForm.password.$dirty" data-ng-bind="shell.labels.passwordNotMatch" class="error"></label>
                <div class="form-icon">
                  <input id="password" name="password" type="password" data-ng-model="newUser.password" required="" password-match="passwordMatch" class="pure-input-1"/><i ng-show="registerForm.password.$pristine &amp;&amp; !(registerForm.confirmPassword.$dirty &amp;&amp; registerForm.password.$error.required)" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="(registerForm.password.$valid &amp;&amp; registerForm.password.$dirty) || (registerForm.confirmPassword.$pristine &amp;&amp; registerForm.password.$dirty &amp;&amp; registerForm.password.$error.match) " class="fa fa-check-circle-o success medium-icon"></i><i ng-show="(registerForm.password.$error.required &amp;&amp; registerForm.password.$dirty) || (registerForm.confirmPassword.$dirty &amp;&amp; registerForm.password.$error.match)" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
                <label for="confirmPassword" ng-show="registerForm.confirmPassword.$valid || registerForm.confirmPassword.$pristine" data-ng-bind="shell.labels.passwordConfirm"></label>
                <label for="confirmPassword" ng-show="registerForm.confirmPassword.$error.required &amp;&amp; registerForm.confirmPassword.$dirty" data-ng-bind="shell.labels.passwordRequired" class="error"></label>
                <div class="form-icon">
                  <input id="confirmPassword" name="confirmPassword" type="password" data-ng-model="passwordMatch" required="" class="pure-input-1"/><i ng-show="registerForm.confirmPassword.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="registerForm.confirmPassword.$valid &amp;&amp; registerForm.confirmPassword.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="registerForm.confirmPassword.$invalid &amp;&amp; registerForm.confirmPassword.$dirty" class="fa fa-times-circle-o error medium-icon">             </i>
                </div>
              </fieldset>
            </form>
            <div class="privacy"><span data-ng-bind="shell.labels.privacyParagraph1"></span><span data-ng-bind="shell.labels.readIt" class="accent"></span><span data-ng-bind="shell.labels.and"></span><span data-ng-bind="shell.labels.acceptIt" class="accent"></span><span data-ng-bind="shell.labels.the"></span><a data-ui-sref="terms" data-ng-bind="shell.labels.termsAndConditions"></a><span data-ng-bind="shell.labels.as"></span><a data-ui-sref="privacy" data-ng-bind="shell.labels.privacyTerms"></a>.</div>
            <div class="align-center margin-bottom"><a ng-click="register()" data-ng-bind="shell.labels.register" class="pure-button pure-button-primary"></a></div>
            <div data-ng-show="response.register" class="error align-center">{{response.register}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>