.filter-title
  span.publisher-name.
    Iniciar Sesion
.shelf
  .inner-shelf
    .shelf-space
      .pure-g
        .pure-u-1.pure-u-sm-1-2
          .shelf-space
            .title.align-center
              | Ya soy miembro
            form.pure-form
              fieldset.pure-group
                  input.pure-input-2-3(ng-model="user.username" , type="text", placeholder="Correo Electronico", ng-init="user.username = 'carlos@canizal.com'")
                  input.pure-input-2-3(ng-model="user.password" , type="password", placeholder="Contraseña", ng-init="user.password = 'canizal'")
            .align-center.margin-bottom
              a.pure-button.pure-button-primary(ng-click="login()").
                Iniciar Sesion
            .error.align-center
              | Correo Electronico o Contraseña invalidos          
        .pure-u-1.pure-u-sm-1-2
          .shelf-space.border-left
            .title.align-center
              | ¡Registrarme!
            form.pure-form.a
              fieldset.pure-group
                input.pure-input-2-3(ng-model="newUser.name" , type="text", placeholder="Nombre", ng-init="newUser.name = 'Carlos Canizal'")
                input.pure-input-2-3(ng-model="newUser.username" , type="text", placeholder="Correo Electronico", ng-init="newUser.username = 'carlos@canizal.com'")
                input.pure-input-2-3(ng-model="newUser.password" , type="password", placeholder="Contraseña", ng-init="newUser.password = 'canizal'")
                input.pure-input-2-3(ng-model="newUser.password" , type="password", placeholder="Confirmar Contraseña", ng-init="newUser.password = 'canizal'")
            .align-center
              a.pure-button.pure-button-primary(ng-click="register()").
                Registrarme
      

      
