
<div class="center-form">
  <form class="pure-form pure-form-aligned">
    <fieldset>
      <div class="pure-control-group">
        <label for="username">Username</label>
        <input id="name" ng-model="user.username" type="text" placeholder="Username" ng-init="user.username = 'carlos@canizal.com'"/>
      </div>
      <div class="pure-control-group">
        <label for="password">Password</label>
        <input id="password" ng-model="user.password" type="text" placeholder="Password" ng-init="user.password = 'carlos@canizal.com'"/>
      </div>
    </fieldset>
    <div class="pure-controls"><a ng-click="login()" class="pure-button pure-button-primary">Iniciar Sesion</a></div>
  </form>
</div>