.section-title(data-ng-bind="shell.labels.products")
#submenu.hidden.visible-lg-block(data-ng-if="shell.isAdmin")
  nav
    a(data-ui-sref="admin.products", data-ng-class="{'active':shell.submenu == 'products'}", data-ng-bind="shell.labels.products")
    a(data-ui-sref="admin.products", data-ng-class="{'active':shell.submenu == 'products'}", data-ng-bind="shell.labels.stats")