.section-title.
  Suscripciones
.search(data-ng-include="'app/layout/search.template.html'")
.shelf(data-ng-include="'app/layout/shelf.template.html'", data-ng-if="vm.itemsList.length > 0")
.shelf(shelf, publisher="dc", store="Serie")
.shelf(shelf, publisher="marvel", store="Serie")
