#address(data-ng-show="showAddress")
  .filter-title
    span.publisher-name.
      Direccion de Envio
  .shelf
    .disable-shelf(data-ng-show="showPayment")
      i.fa.fa-check-square-o.fa-5.success
    .inner-shelf
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      .shelf-space(data-ng-hide="loading")
        .shelf-content(data-ng-hide="loading")
          .pure-g
            .pure-u-1.pure-u-md-1-3.border-right
              .information-box.no-padding
                .shelf-message(ng-if="addresses.length < 1")
                  h2
                  |No existen direcciones registradas.
                .address-line
                  | {{shoppingCart.shippingAddress.street}} {{shoppingCart.shippingAddress.number}} {{shoppingCart.shippingAddress.apt}}
                .address-line
                    | Colonia {{shoppingCart.shippingAddress.district}}, {{shoppingCart.shippingAddress.municipality}} 
                .address-line
                  | {{shoppingCart.shippingAddress.country}}, {{shoppingCart.shippingAddress.state}}, {{shoppingCart.shippingAddress.zip}} 
            .pure-u-1.pure-u-md-1-3.border-right
              .information-box
                .address-line
                  | Cambiar direccion
                .address-line
                  select(ng-model="shoppingCart.shippingAddress", ng-options="item as item.street for item in addresses")
                .address-line
                  a.pure-button.button-xsmall
                    i.fa.fa-plus
                    | Agregar Direccion
            .pure-u-1.pure-u-md-1-3.align-center
              a.pure-button.button-success(data-ng-click="toPaymentMethod()",data-ng-hide="showPayment")
                i.fa.fa-check
                | Continuar