
<div id="new-address" data-ng-if="checkout.addressFormView">
  <div class="filter-title"><span class="publisher-name">Agregar Dirección</span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div data-ng-hide="loading" class="shelf-space">
        <div class="shelf-content">
          <div new-address="new-address"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="address" data-ng-show="checkout.showAddress &amp;&amp; !checkout.addressFormView">
  <div class="filter-title"><span class="publisher-name">Entrega</span></div>
  <div class="shelf">
    <div data-ng-show="checkout.showPayment" class="disable-shelf"><i class="fa fa-check-square-o fa-5 success"></i></div>
    <div class="inner-shelf">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div data-ng-hide="loading" class="shelf-space">
        <div data-ng-hide="loading" class="shelf-content">
          <div class="pure-g">
            <div class="pure-u-1 pure-u-md-1-3 border-right">
              <div class="information-box">
                <div ng-if="checkout.addresses.length &lt; 1" class="shelf-message">
                  <div class="subtitle">No existen direcciones registradas.</div>
                </div>
                <div data-ng-show="checkout.addresses.length &gt; 0" class="description">{{shell.shoppingCart.shippingAddress.street}} {{shell.shoppingCart.shippingAddress.number}} {{shell.shoppingCart.shippingAddress.apt}}<br/>Colonia {{shell.shoppingCart.shippingAddress.district}}, {{shell.shoppingCart.shippingAddress.municipality}} <br/>{{shell.shoppingCart.shippingAddress.country}}, {{shell.shoppingCart.shippingAddress.state}}, {{shell.shoppingCart.shippingAddress.zip}} </div>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3 border-right">
              <div class="information-box padding-side-1">
                <div data-ng-show="checkout.addresses.length &gt; 0">
                  <div class="address-line">Seleccionar metodo de envio</div>
                  <div class="address-line">
                    <select data-ng-model="shell.shoppingCart.shippingMethod" data-ng-options="item.name for item in checkout.shippingMethods track by item.objectId" data-ng-change="checkout.updateShipping()">                     </select>
                  </div>
                </div>
              </div>
              <div class="information-box padding-side-1">
                <div data-ng-show="checkout.addresses.length &gt; 0">
                  <div class="address-line">Cambiar direccion</div>
                  <div class="address-line">
                    <select data-ng-model="shell.shoppingCart.shippingAddress" data-ng-options="item.street for item in checkout.addresses track by item.objectId"></select>
                  </div>
                </div>
                <div class="address-line"><a data-ng-click="checkout.addressFormView=true" class="pure-button button-xsmall"><i class="fa fa-plus"></i>Agregar Direccion</a></div>
              </div>
            </div>
            <div class="pure-u-1 pure-u-md-1-3 align-center">
              <div data-ng-hide="showPayment" class="padding-side-1">
                <div class="shipping-method">{{shell.shoppingCart.shippingMethod.name}} - {{shell.shoppingCart.shippingMethod.price | currency}}</div>
                <div class="address-line"><a data-ng-click="checkout.toPaymentMethod()" data-ng-class="{'pure-button-disabled': !shell.shoppingCart.shippingAddress}" class="pure-button button-success"><i class="fa fa-check"></i>Continuar</a></div>
                <div class="address-line"><a data-ng-click="showModal()" data-question="¿Ir al carrito?" data-confirm="checkout.goToCart()" data-ng-hide="checkout.showConfirmation" confirm-message="confirm-message" class="pure-button"><i class="fa fa-shopping-cart"></i>Ir al carrito</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>