.section-title(data-ng-bind="shell.labels.publishers")
#submenu.hidden.visible-lg-block(data-ng-if="shell.isAdmin")
  nav
    a(data-ui-sref="admin.publishers", data-ng-class="{'active':shell.submenu == 'publishers'}", data-ng-bind="shell.labels.publishers")
    a(data-ui-sref="admin.publishers", data-ng-class="{'active':shell.submenu == 'publishers'}", data-ng-bind="shell.labels.stats")