
<div id="admin-menu" data-ng-include="'app/admin/menu/admin.menu.html'"></div>
<div class="filter-title"><span class="publisher-name">Ventas</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="sales">
        <div class="margin-bottom-1">Inicio 
          <input type="date" ng-model="sales.startDate"/>Fin
          <input type="date" ng-model="sales.endDate"/><a data-ng-click="sales.getSales(sales.startDate, sales.endDate)" class="pure-button pure-button-primary button-small">Buscar</a>
        </div>
        <table class="info-table">
          <thead>
            <tr>
              <th>Total</th>
              <th>Descuento</th>
              <th>Monedero</th>
              <th>Numero de ordenes</th>
              <th>Numero de articulos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>${{sales.result.total}}</td>
              <td>${{sales.result.discount}}</td>
              <td>${{sales.result.wallet}}</td>
              <td>{{sales.result.orders.length}}</td>
              <td>{{sales.result.items}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Articulos</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div ng-if="sales.list.length &lt; 1" class="shelf-message">
        <div class="subtitle">No exiten articulos en este periodo.</div>
      </div>
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="items">
        <div data-ng-if="sales.list.length &gt; 0">
          <table class="info-table">
            <thead>
              <tr>
                <th>Articulo</th>
                <th>Tipo</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr data-ng-repeat="item in sales.list | orderBy: 'total':true ">
                <td>{{item.item.name}}</td>
                <td>{{item.type}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.price}}</td>
                <td>{{item.total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>