#account-menu(data-ng-include="'app/admin/menu/admin.menu.html'")
.filter-title
  span.publisher-name.
    Ventas
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #sales
        |Inicio 
        input(type="date" ng-model="sales.startDate")
        |Fin
        input(type="date" ng-model="sales.endDate")
        a.pure-button.pure-button-primary.button-small(data-ng-click="sales.getSales(sales.startDate, sales.endDate)")
          |Buscar
        h1
          | Total ${{sales.total}}
        h1
          | Numero de ordenes {{sales.orders.length}}


        