$first-color: #666
$second-color: #999
$third-color: #CCC
$error-color: rgb(221, 81, 76)
$success-color: rgb(28, 184, 65)
$warning-color: #f57b00
$loading-color: #666
$action-color: #0078e7
$update-color: #0078e7
$menu-color: rgba(0,0,0,0.7)
$menu-font-color: #FFF
$menu-hover-color: #FF9100
// $menu-hover-color: #EA80FC

// $primary-color: #3F51B5
// $accent-color: #7C4DFF

$primary-color: #7C4DFF
$accent-color: #FF9100

// $accent-color: #1A237E
// $accent-color: #F50057
// $accent-color: #304FFE
// $accent-color: #FF6D00
// $accent-color: #FF3D00
// $accent-color: #0091EA
// $accent-color: #304FFE
// $accent-color: #F50057


$text-primary-black: rgba(0,0,0,0.87);
$text-secondary-black: rgba(0,0,0,0.54);
$text-disable-black: rgba(0,0,0,0.26);
$dividers-black: rgba(0,0,0,0.12);

$text-primary-white: rgba(255,255,255,0.87);
$text-secondary-white: rgba(255,255,255,0.54);
$text-disable-white: rgba(255,255,255,0.26);
$dividers-white: rgba(255,255,255,0.12);

