/* line 1, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/buttons.sass */
.button-large {
  font-size: 110%; }

/* line 4, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/buttons.sass */
.button-xlarge {
  font-size: 125%; }

/* line 10, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/buttons.sass */
.button-success, .button-error, .button-warning, .button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 15, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/buttons.sass */
.button-success {
  background: #1cb841;
  /* this is a green */ }

/* line 18, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/buttons.sass */
.button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

/* line 21, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/buttons.sass */
.button-warning {
  background: #df7514;
  /* this is an orange */ }

/* line 24, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/buttons.sass */
.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }
