@import 'colors';

$cart-height: 2.3rem

body
  margin: 0
  padding: 1rem 3rem
  background: url('../images/satinweave.png')

div
  // outline: solid 1px yellow


html, button, input, select, textarea,.pure-g [class *= "pure-u"]
  font-family: 'Raleway'

#right-pane
  margin-top: $cart-height

.inner-box
  padding-right: 2rem

.side-space
  padding-right: 2rem

a:hover, a:active, a:focus
  outline: 0

.shelf
  margin-bottom: 2rem
  position:relative

.inner-shelf
  border: solid 1px $dividers-black
  border-radius: 0.5rem
  color: $text-primary-black
  position: relative

.text-disable-black
  color: $text-disable-black

.text-secondary-black
  color: $text-secondary-black


.shelf-space
  padding: 1rem

.item-space
  padding: 0 1rem

.filter-title
  color: $text-secondary-black
  font-size: 1.5rem

.section-title
  font-family: 'RalewayLight'
  color: $text-primary-black
  text-align: right
  font-size: 2rem
  padding-top: 1rem

.title
  font-size: 1.8rem
  margin-bottom: 1rem

.subtitle
  font-size: 1.3rem
  // margin-bottom: 1rem

#cart
  background-color: $primary-color
  text-align: right
  font-size: 1rem
  position: fixed
  right:3rem
  top: 0
  z-index: 3
  padding: 0.3rem 1rem
  border-bottom-left-radius: 0.5rem
  border-bottom-right-radius: 0.5rem
  i
    font-size: 1.8rem
  span
    font-size: 1.8rem
    margin: 0 0.5rem
  a
    color: $text-primary-white
    text-decoration: none
    &:hover
      color: $accent-color

.login-header
  font-size: 0.8rem
  color: $text-primary-white
  a
    cursor: pointer

.left
  float: left

.right
  float: right

.item
  margin: 1rem
  img
    width: 100%

.item-image
  margin-bottom: 0.5rem

.item-button
  text-align:center

.item-info
  text-align: center
  padding-bottom: 0.5rem
  font-family: 'Raleway'
  font-size: 1.2rem
  color: $text-primary-black
  text-transform: uppercase

.search-box
  padding: 1rem 0
  input
    width:85%
    font-size: 1.7rem
    // border:solid 2px $third-color
    border: solid 2px $dividers-black
    border-top-left-radius:0.5rem
    border-bottom-left-radius:0.5rem
    border-right:0
    padding:0 1rem
    color:$text-primary-black
    outline: none
    -webkit-box-sizing: border-box
  a
    text-align: center
    width:15%
    background-color: $primary-color
    border:solid 2px $primary-color
    letter-spacing: normal
    color: $text-primary-white
    line-height: 2.5rem
    border-top-right-radius:0.5rem
    border-bottom-right-radius:0.5rem
    -webkit-box-sizing: border-box
    cursor: pointer

.publisher-name
  text-transform: uppercase

.shelf-name
  text-transform: uppercase

.uppercase
  text-transform: uppercase

.login
  font-size: 1.1rem
  text-decoration: none
  color: $text-primary-black

.table-image
  width: 5rem

.card-item
  padding: 1rem 0
  a.button
    margin-left: 2rem

.cart-item
  padding-bottom: 0.5rem
  &:last-child
    padding-bottom: 0
  a.button
    margin-left: 2rem
  img
    width: 100%


// .address-item
  

.bottom-divider
  border-bottom:solid 1px $dividers-black
  margin-bottom: 1rem
  padding-bottom: 1rem

.address-item:last-child
  margin-bottom: 0

.list-item
  margin-bottom: 1rem
  padding-bottom: 1rem
  border-bottom:solid 1px $dividers-black
  cursor: pointer
  &:hover
    color: $accent-color


.list-item:last-child
  margin-bottom: 0
  border-bottom: 0

.address-line
  padding-bottom: 0.5rem
  

.action
  color: $action-color

.error
  color: $error-color

.success
  color: $success-color

.warning
  color: $warning-color

.update
  color: $update-color

.form-icon
  position: relative
  i.fa-dot-circle-o
    color: $text-disable-black

.pure-form-stacked label
  font-family: 'RalewayLight'
  margin: 0.5rem 0

.medium-icon
  font-size: 1.5rem
  position: absolute
  top: 0.4rem
  right: 0.5rem
  padding-left: 0.5rem


.button
  border: solid 1px $text-primary-black
  padding: 0.5rem 1rem
  border-radius: 0.5rem

.buttons-container
  text-align: center
  padding-bottom: 1rem
  color: $text-disable-black
  a
    color: $text-disable-black
    cursor:pointer

.button-xsmall
  font-size: 70%;

.button-small
  font-size: 85%;

.pure-form 
  select
    width: 100%
    display: inline-block
    border: 1px solid $dividers-black
    box-shadow: inset 0 1px 3px #ddd
    border-radius: 4px
    height: 2.3rem
    font-size: 1.1rem
    box-sizing: border-box

.disable-shelf
  position: absolute
  width: 100%
  height: 100%
  background-color: $text-secondary-white
  border-radius: 0.5rem
  text-align:center
  z-index: 2


.fa-5
  position: absolute
  bottom: 0.5rem
  right: 0.5rem
  font-size: 5rem

.fa-8
  font-size: 8rem

.success-container
  text-align: center
  color:$success-color

.error-container
  text-align: center
  color:$error-color

.error-border
  border-color: $error-color
  
.description > div
  font-size: 1.2rem
  padding-bottom: 0.5rem

.quantity
  a
    background-color: transparent
    color: $text-primary-black

.relative
  position: relative

.information-box
  //padding-left:1rem
  //padding-bottom: 0.5rem

.border-right
  border-right: solid 1px $dividers-black
  -webkit-box-sizing: border-box

.border-left
  border-left: solid 1px $dividers-black
  -webkit-box-sizing: border-box

.border-top
  border-top: solid 1px $dividers-black
  -webkit-box-sizing: border-box

.padding-1
  padding: 1rem
  
.padding-top
  padding-top: 0.5rem

.padding-right-1
  padding-right: 1rem

.padding-left-1
  padding-left: 1rem

.padding-bottom-1
  padding-bottom: 1rem

.margin-left-1
  margin-left: 1rem

.margin-bottom-1
  margin-bottom: 1rem

.margin-top-1
  margin-top: 1rem

.margin-right-1
  margin-right: 1rem

.margin-right-1-2
  margin-right: 0.5rem

.margin-left-1-2
  margin-left: 0.5rem

.margin-top-bottom-1
  margin-top: 1rem
  margin-bottom: 1rem

.padding-side-1
  padding-left: 1rem
  padding-right: 1rem

.pure-button
  white-space: normal

.information-box.no-padding
  padding-left: 0

.quantity input
  margin: 0 0.5rem 
  color: $text-primary-black

.query-params
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: solid 1px $dividers-black

.align-center
  text-align: center

.align-right
  text-align: right

.pure-form .pure-group input
  margin: 0 auto

.margin-bottom
  margin-bottom: 0.5rem

.margin-side-1
  margin-left: 1rem
  margin-right: 1rem

.margin-side-1-2
  margin-left: 0.5rem
  margin-right: 0.5rem

.margin-right
  margin-right: 1rem

.margin-1
  margin: 1rem

.pure-button
  i
    margin-right: 0.3rem

.address-line
  i
    margin-right: 0.3rem

.pure-button.just-icon
  i
    margin-right: 0

.xs-input
  width: 2em

.row
  padding-bottom: 1rem

.description
  // font-family: Helvetica

.information-title
  padding-bottom: 0.5rem
  font-style: italic
  text-transform: uppercase
  color: $accent-color
  // color: $accent-color

.info
  th
    padding: 1rem

.info-label
  text-align: right
  padding-right: 1rem
  color: $text-secondary-black

.info-value, .pure-g .info-value
  font-family: Helvetica

.info-important
  font-family: Helvetica
  font-weight: bold

.pointer
  cursor: pointer

.pointer:hover
  color: $menu-hover-color !important

.form-container
  textarea
    width:100%
  select
    width: 49%
    display:inline-block

.form-container
  select.complete-1
    width: 100%


.total-table
  margin: 0 auto;
  margin-bottom: 1rem
  text-align: right
  .table-label
    padding-right: 1rem

.info-table
  td
    padding: 0 1rem
    font-size: 1.1rem
    padding-top: 0.5rem
    text-align: right
  th
    padding: 0 1rem
    border-bottom: 1px solid $dividers-black
    padding-bottom: 0.5rem
    color: $text-secondary-black
    


.coupon-row
  font-size: 1rem
  padding: 0.5rem 0

.total-container
  display: inline-block

.error-layer
  position: fixed
  right: 1rem
  top: 0
  padding: 0.5rem
  color: white
  background-color: rgb(202, 60, 60)
  border-bottom-left-radius: 0.5rem
  border-bottom-right-radius: 0.5rem
  z-index: 4

.text-secondary-black
  color: $text-secondary-black

.important
  font-size: 1.5rem
  color: $accent-color

#submenu
  text-align: right
  nav
    margin: 1rem 0
    a
      padding: 0 1rem
      color: $text-secondary-black
      text-decoration: none
      text-transform: uppercase
      border-right: solid 1px $dividers-black
    .active
      color: $accent-color

.initial-layer
  top: 0
  left: 0
  position: fixed
  width: 100%
  height: 100%
  background-color: $primary-color
  z-index: 5
  -webkit-transition: 0.5s linear all
  transition: 0.5s linear all
  .initial-logo
    margin: 3rem auto
    margin-bottom: 1rem
    width: 20%
    text-align: center
    -webkit-transition: 0.5s linear all
    transition: 0.5s linear all
    img
      width: 100%

.initial-text
  color: $text-primary-white
  font-size: 1.2rem
  text-align: center
  margin-bottom: 2rem
  font-family: 'RalewayLight'

.initial-layer.ng-hide
  top: 100%
  .initial-logo
    width: 0
  
.amex
  color: $amex-color

.visa
  color: $visa-color

.mastercard
  color: $mastercard-color




  


