$first-color: #666
$second-color: #999
$third-color: #CCC
$error-color: rgb(202, 60, 60)
$success-color: rgb(28, 184, 65)
$loading-color: #666
$update-color: #0078e7

body
  margin: 0
  padding: 1rem 3rem
  background: url('../images/satinweave.png')

div
  // outline: solid 1px yellow

.logo
  img
    width: 100%
  border-bottom: solid 5px #000

.logo-text
  font-family: 'Raleway'

.logo-h3
  font-size: 1.6rem

.logo-h2
  font-size: 1.9rem

.logo-h1
  font-size: 2.4rem


#left-pane

#right-pane

.inner-box
  padding: 1rem 2rem 0 0

#navigation
  text-align: right
  a
    padding: 0 1rem
    font-size: 1.1rem
  a:last-child
    padding-right:0
    border-right:0

nav
  a
    color: $second-color
    text-decoration: none
    font-family: 'Raleway', sans-serif
    border-right: 1px solid $second-color

.shelf
  margin-bottom: 2rem
  position:relative

.inner-shelf
  border: solid 2px $third-color
  border-radius: 0.5rem
  color: $first-color
  position: relative


.shelf-space
  padding: 1rem

.item-space
  padding: 0 1rem

.filter-title
  font-family: 'Raleway', sans-serif
  color: $first-color
  font-size: 2rem

.section-title
  font-family: 'RalewayThin'
  color:#999
  text-align: right
  font-size: 2rem
  padding-top: 1.5rem

.title
  font-size: 1.8rem
  font-family: 'Raleway'
  margin-bottom: 1rem

.subtitle
  font-size: 1.3rem
  font-family: 'Raleway'
  // margin-bottom: 1rem

#cart
  padding-top: 0.5rem
  text-align: right
  font-size: 2rem
  color: $second-color

.item
  margin: 1rem
  img
    width: 100%

.item-image
  margin-bottom: 0.5rem

.item-button
  text-align:center

.item-info
  text-align: center
  padding-bottom: 0.5rem
  font-family: 'Raleway'
  font-size: 1.2rem
  color: $first-color
  text-transform: uppercase

.search-box
  padding: 1rem 0
  input
    font-family: 'Raleway', sans-serif
    width:85%
    font-size: 1.7rem
    border:solid 2px $third-color
    border-top-left-radius:0.5rem
    border-bottom-left-radius:0.5rem
    border-right:0
    padding:0 1rem
    color:$first-color
    outline: none
    -webkit-box-sizing: border-box
  a
    font-family: 'Raleway', sans-serif
    text-align: center
    width:15%
    background-color: $third-color
    border:solid 2px $third-color
    letter-spacing: normal
    color:$first-color
    line-height: 2.5rem
    border-top-right-radius:0.5rem
    border-bottom-right-radius:0.5rem
    -webkit-box-sizing: border-box
    cursor: pointer

.publisher-name
  text-transform: uppercase

.uppercase
  text-transform: uppercase

.login
  font-family: 'Raleway', sans-serif
  font-size: 1.1rem
  text-decoration: none
  color:$first-color

.table-image
  width: 5rem

/*login template*/
// .center-form
//   border: solid 2px $third-color
//   margin: 1rem auto
//   border-radius: 1rem
//   padding: 3rem
//   font-size: 1.3rem
//   color: #999
//   font-family: 'Raleway'
/*login template*/

.card-item
  padding: 1rem 0
  a.button
    margin-left: 2rem

.cart-item
  padding-bottom: 0.5rem
  &:last-child
    padding-bottom: 0
  a.button
    margin-left: 2rem
  img
    width: 100%

.address-item
  margin-bottom: 1rem
  padding-bottom: 1rem
  border-bottom:solid 1px $third-color

.address-item:last-child
  margin-bottom: 0

.list-item
  margin-bottom: 1rem
  padding-bottom: 1rem
  border-bottom:solid 1px $third-color

.list-item:last-child
  margin-bottom: 0
  border-bottom: 0

.address-line
  padding-bottom: 0.5rem
  

.error
  color: $error-color

.success
  color: $success-color

.update
  color: $update-color

.medium-icon
  font-size: 1.5rem
  position: relative
  top: 0.3rem
  padding-left: 0.5rem

.button
  border: solid 1px $first-color
  padding: 0.5rem 1rem
  border-radius: 0.5rem

.buttons-container
  text-align: center
  padding-bottom: 1rem
  a
    color: $third-color
    cursor:pointer


.shelf-message
  // text-align: center

.button-xsmall
  font-size: 70%;

.button-small
  font-size: 85%;

.pure-form 
  select
    width: 12rem
    display: inline-block
    border: 1px solid #ccc
    box-shadow: inset 0 1px 3px #ddd
    border-radius: 4px
    // font-size: 1.6rem
    height: 2.3rem
    font-size: 1.1rem
    box-sizing: border-box

.loading-layer
  position: fixed;
  width: 100%
  height: 100%
  background-color: rgba(0,0,0,0.8)
  top:0
  left:0 
  z-index: 3

.disable-shelf
  position: absolute
  width: 100%
  height: 100%
  background-color: rgba(255,255,255,0.5)
  border-radius: 0.5rem
  text-align:center
  z-index: 2

.fa-5
  position: absolute
  bottom: 0.5rem
  right: 0.5rem
  font-size: 5rem

.fa-8
  font-size: 8rem

.success-container
  text-align: center
  color:$success-color

.error-container
  text-align: center
  color:$error-color

.error-border
  border-color: $error-color
  
.description > div
  font-family: 'Raleway'
  font-size: 1.2rem
  padding-bottom: 0.5rem

.quantity
  a
    background-color: transparent
    color: $first-color

.information-box
  padding-left:1rem

.border-right
  border-right: solid 2px $third-color
  -webkit-box-sizing: border-box

.border-left
  border-left: solid 2px $third-color
  -webkit-box-sizing: border-box

.information-box.no-padding
  padding-left: 0

.quantity input
  margin: 0 0.5rem 
  color: $first-color

.align-center
  text-align: center

.pure-form .pure-group input
  margin: 0 auto

.margin-bottom
  margin-bottom: 0.5rem

.pure-button
  i
    margin-right: 0.3rem

.pure-button.just-icon
  i
    margin-right: 0

.xs-input
  width: 2em

.button-large
  font-size: 110%;

.button-xlarge
  font-size: 125%;

.button-success,
.button-error,
.button-warning,
.button-secondary
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

.button-success
  background: rgb(28, 184, 65); /* this is a green */

.button-error
  background: rgb(202, 60, 60); /* this is a maroon */

.button-warning
  background: rgb(223, 117, 20); /* this is an orange */

.button-secondary
  background: rgb(66, 184, 221); /* this is a light blue */


@font-face
  font-family: 'Raleway'
  src: url('fonts/raleway/raleway-regular-webfont.eot')
  src: url('fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),url('fonts/raleway/raleway-regular-webfont.woff') format('woff'),url('fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),url('fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'titilliumthin'
  src: url('fonts/titillium/titillium-thin-webfont.eot')
  src: url('fonts/titillium/titillium-thin-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/titillium/titillium-thin-webfont.woff2') format('woff2'),url('fonts/titillium/titillium-thin-webfont.woff') format('woff'),url('fonts/titillium/titillium-thin-webfont.ttf') format('truetype'),url('fonts/titillium/titillium-thin-webfont.svg#titilliumthin') format('svg')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'RalewayThin'
  src: url('fonts/raleway-thin/raleway-thin-webfont.eot')
  src: url('fonts/raleway-thin/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),url('fonts/raleway-thin/raleway-thin-webfont.woff2') format('woff2'),url('fonts/raleway-thin/raleway-thin-webfont.woff') format('woff'),url('fonts/raleway-thin/raleway-thin-webfont.ttf') format('truetype'),url('fonts/raleway-thin/raleway-thin-webfont.svg#ralewaythin') format('svg')
  font-weight: normal
  font-style: normal

.spinner-circle
  margin: 20px auto
  width: 100px
  height: 100px
  position: relative
  text-align: center
  -webkit-animation: rotate 2.0s infinite linear
  -webkit-animation: rotate 2.0s infinite linear
  animation: rotate 2.0s infinite linear


.dot1, .dot2
  width: 60%
  height: 60%
  display: inline-block
  position: absolute
  top: 0
  background-color: $loading-color
  border-radius: 100%
  -webkit-animation: bounce 2.0s infinite ease-in-out
  animation: bounce 2.0s infinite ease-in-out
  // background-image: url(../images/cs-square.png)
  // background-size: 100% auto

.dot2
  top: auto
  bottom: 0px
  animation-delay: -1.0s
  -webkit-animation-delay: -1.0s

@keyframes rotate 
  100%
    -webkit-transform: rotate(360deg)

@keyframes rotate 
  100%
    -webkit-transform: rotate(360deg)
    -webkit-transform: rotate(360deg)

@keyframes bounce 
  0%, 100%
    -webkit-transform: scale(0.0)
  50%
    -webkit-transform: scale(1.0)

@keyframes bounce 
  0%, 100%
    -webkit-transform: scale(0.0)
    -webkit-transform: scale(0.0)
  50%
  -webkit-transform: scale(1.0)
  -webkit-transform: scale(1.0)

// .spinner-square
//   width: 100px
//   height: 100px
//   background-color: $loading-color
//   margin: 100px auto
//   -webkit-animation: rotateplane 1.2s infinite ease-in-out
//   animation: rotateplane 1.2s infinite ease-in-out
//   background-image: url(../images/cs-square.png)
//   background-size: 100% auto

// @keyframes rotateplane
//   0%
//     -webkit-transform: perspective(120px)
//   50%
//     -webkit-transform: perspective(120px) rotateY(180deg)
//   100%
//     -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg)

// @keyframes rotateplane
//   0%
//     transform: perspective(120px) rotateX(0deg) rotateY(0deg)
//     -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
//   50%
//     transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
//     -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
//   100%
//     transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)
//     -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg)

.spinner-rectangle
  margin: 20px auto
  width: 50px
  height: 30px
  text-align: center
  font-size: 10px

.spinner-rectangle > div
  background-color: $loading-color
  height: 100%
  width: 6px
  display: inline-block
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out
  animation: stretchdelay 1.2s infinite ease-in-out

.spinner-rectangle .rect2
  -webkit-animation-delay: -1.1s
  animation-delay: -1.1s

.spinner-rectangle .rect3
  -webkit-animation-delay: -1.0s
  animation-delay: -1.0s

.spinner-rectangle .rect4
  -webkit-animation-delay: -0.9s
  animation-delay: -0.9s

.spinner-rectangle .rect5
  -webkit-animation-delay: -0.8s
  animation-delay: -0.8s

@keyframes stretchdelay
  0%, 40%, 100%
    transform: scaleY(0.4)
    -webkit-transform: scaleY(0.4)
  20%
    transform: scaleY(1.0)
    -webkit-transform: scaleY(1.0)
