/* line 9, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
body {
  margin: 0;
  padding: 1rem 3rem;
  background: url('../images/satinweave.png'); }

/* line 17, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.logo img {
  width: 100%; }

/* line 24, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.inner-box {
  padding: 1rem; }

/* line 27, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
#navigation {
  text-align: right; }
  /* line 29, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  #navigation a {
    padding: 0 1rem;
    font-size: 1.1rem; }
  /* line 32, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  #navigation a:last-child {
    padding-right: 0;
    border-right: 0; }

/* line 37, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
nav a {
  color: #999;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  border-right: 1px solid #999; }

/* line 43, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.shelf {
  margin-bottom: 2rem;
  position: relative; }

/* line 47, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.inner-shelf {
  border: solid 2px #CCC;
  border-radius: 0.5rem;
  color: #666;
  position: relative; }

/* line 54, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.shelf-space {
  padding: 1rem; }

/* line 57, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item-space {
  padding: 0 1rem; }

/* line 60, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.filter-title {
  font-family: 'Raleway', sans-serif;
  color: #666;
  font-size: 2rem; }

/* line 65, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.section-title {
  font-family: 'RalewayThin';
  color: #999;
  text-align: right;
  font-size: 2rem;
  padding-top: 1.5rem; }

/* line 72, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.title {
  font-size: 1.8rem;
  font-family: 'Raleway';
  margin-bottom: 1rem; }

/* line 77, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.subtitle {
  font-size: 1.3rem;
  font-family: 'Raleway';
  margin-bottom: 1rem; }

/* line 82, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
#cart {
  padding-top: 0.5rem;
  text-align: right;
  font-size: 2rem;
  color: #999; }

/* line 88, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item {
  margin: 1rem; }
  /* line 90, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .item img {
    width: 100%; }

/* line 93, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item-image {
  margin-bottom: 0.5rem; }

/* line 96, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item-button {
  text-align: center; }

/* line 99, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item-info {
  text-align: center;
  padding-bottom: 0.5rem;
  font-family: 'Raleway';
  font-size: 1.2rem;
  color: #666;
  text-transform: uppercase; }

/* line 107, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.search-box {
  padding: 1rem 0; }
  /* line 109, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .search-box input {
    font-family: 'Raleway', sans-serif;
    width: 85%;
    font-size: 1.7rem;
    border: solid 2px #CCC;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 0;
    padding: 0 1rem;
    color: #666;
    outline: none;
    -webkit-box-sizing: border-box; }
  /* line 121, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .search-box a {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 15%;
    background-color: #CCC;
    border: solid 2px #CCC;
    letter-spacing: normal;
    color: #666;
    line-height: 2.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    -webkit-box-sizing: border-box;
    cursor: pointer; }

/* line 135, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.publisher-name {
  text-transform: uppercase; }

/* line 138, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.uppercase {
  text-transform: uppercase; }

/* line 141, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.login {
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  text-decoration: none;
  color: #666; }

/* line 147, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.table-image {
  width: 5rem; }

/*login template*/
/* line 151, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.center-form {
  border: solid 2px #CCC;
  margin: 1rem auto;
  border-radius: 1rem;
  padding: 3rem;
  font-size: 1.3rem;
  color: #999;
  font-family: 'Raleway'; }

/*login template*/
/* line 161, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.card-item {
  padding: 1rem 0; }
  /* line 163, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .card-item a.button {
    margin-left: 2rem; }

/* line 166, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.cart-item {
  padding-bottom: 0.5rem; }
  /* line 168, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .cart-item:last-child {
    padding-bottom: 0; }
  /* line 170, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .cart-item a.button {
    margin-left: 2rem; }
  /* line 172, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .cart-item img {
    width: 100%; }

/* line 175, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.address-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #CCC; }

/* line 180, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.address-item:last-child {
  margin-bottom: 0; }

/* line 183, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.address-line {
  padding-bottom: 0.5rem; }

/* line 187, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.error {
  color: #ca3c3c; }

/* line 190, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.success {
  color: #1cb841; }

/* line 193, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.update {
  color: #0078e7; }

/* line 196, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.medium-icon {
  font-size: 1.5rem;
  position: relative;
  top: 0.3rem;
  padding-left: 0.5rem; }

/* line 202, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button {
  border: solid 1px #666;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem; }

/* line 207, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.buttons-container {
  text-align: center;
  padding-bottom: 1rem; }
  /* line 210, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .buttons-container a {
    color: #CCC;
    cursor: pointer; }

/* line 215, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.shelf-message {
  text-align: center; }

/* line 218, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-xsmall {
  font-size: 70%; }

/* line 221, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-small {
  font-size: 85%; }

/* line 225, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-form select {
  width: 12rem;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  height: 2.3rem;
  font-size: 1.1rem;
  box-sizing: border-box; }

/* line 235, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.loading-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 3; }

/* line 244, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.disable-shelf {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  text-align: center;
  z-index: 2; }

/* line 253, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.fa-5 {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 5rem; }

/* line 259, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.fa-8 {
  font-size: 8rem; }

/* line 262, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.success-container {
  text-align: center;
  color: #1cb841; }

/* line 266, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.error-container {
  text-align: center;
  color: #ca3c3c; }

/* line 270, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.error-border {
  border-color: #ca3c3c; }

/* line 273, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.description > div {
  font-family: 'Raleway';
  font-size: 1.2rem;
  padding-bottom: 0.5rem; }

/* line 279, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.quantity a {
  background-color: transparent;
  color: #666; }

/* line 284, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.quantity input {
  margin: 0 0.5rem;
  color: #666; }

/* line 288, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.align-center {
  text-align: center; }

/* line 291, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.margin-bottom {
  margin-bottom: 0.5rem; }

/* line 295, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-button i {
  margin-right: 0.3rem; }

/* line 299, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-button.just-icon i {
  margin-right: 0; }

/* line 303, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.xs-input {
  width: 2em; }

/* line 306, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-large {
  font-size: 110%; }

/* line 309, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-xlarge {
  font-size: 125%; }

/* line 315, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-success, .button-error, .button-warning, .button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }

/* line 320, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-success {
  background: #1cb841;
  /* this is a green */ }

/* line 323, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-error {
  background: #ca3c3c;
  /* this is a maroon */ }

/* line 326, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-warning {
  background: #df7514;
  /* this is an orange */ }

/* line 329, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-secondary {
  background: #42b8dd;
  /* this is a light blue */ }

@font-face {
  font-family: 'Raleway';
  src: url('fonts/raleway/raleway-regular-webfont.eot');
  src: url('fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway/raleway-regular-webfont.woff2') format('woff2'), url('fonts/raleway/raleway-regular-webfont.woff') format('woff'), url('fonts/raleway/raleway-regular-webfont.ttf') format('truetype'), url('fonts/raleway/raleway-regular-webfont.svg#ralewayregular') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'titilliumthin';
  src: url('fonts/titillium/titillium-thin-webfont.eot');
  src: url('fonts/titillium/titillium-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/titillium/titillium-thin-webfont.woff2') format('woff2'), url('fonts/titillium/titillium-thin-webfont.woff') format('woff'), url('fonts/titillium/titillium-thin-webfont.ttf') format('truetype'), url('fonts/titillium/titillium-thin-webfont.svg#titilliumthin') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'RalewayThin';
  src: url('fonts/raleway-thin/raleway-thin-webfont.eot');
  src: url('fonts/raleway-thin/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/raleway-thin/raleway-thin-webfont.woff2') format('woff2'), url('fonts/raleway-thin/raleway-thin-webfont.woff') format('woff'), url('fonts/raleway-thin/raleway-thin-webfont.ttf') format('truetype'), url('fonts/raleway-thin/raleway-thin-webfont.svg#ralewaythin') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 354, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.spinner-circle {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2s infinite linear;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear; }

/* line 365, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #666;
  border-radius: 100%;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

/* line 376, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.dot2 {
  top: auto;
  bottom: 0px;
  animation-delay: -1s;
  -webkit-animation-delay: -1s; }

@-webkit-keyframes rotate {
  /* line 383, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes rotate {
  /* line 383, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes rotate {
  /* line 387, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes bounce {
  /* line 392, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  0%, 100% {
    -webkit-transform: scale(0); }

  /* line 394, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  /* line 392, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  0%, 100% {
    -webkit-transform: scale(0); }

  /* line 394, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  -webkit-transform: scale(1);
  -webkit-transform: scale(1);
  /* line 398, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  0%, 100% {
    -webkit-transform: scale(0);
    -webkit-transform: scale(0); }
 }

/* line 408, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.spinner-rectangle {
  margin: 20px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px; }

/* line 415, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.spinner-rectangle > div {
  background-color: #666;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

/* line 423, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.spinner-rectangle .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

/* line 427, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.spinner-rectangle .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

/* line 431, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.spinner-rectangle .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

/* line 435, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.spinner-rectangle .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  /* line 440, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }

  /* line 443, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

@keyframes stretchdelay {
  /* line 440, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }

  /* line 443, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }
