/* line 5, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
body {
  margin: 0;
  padding: 1rem 3rem;
  background: url('../images/satinweave.png'); }

/* line 13, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
html, button, input, select, textarea, .pure-g [class*="pure-u"] {
  font-family: 'Raleway'; }

/* line 16, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
#right-pane {
  margin-top: 2.3rem; }

/* line 19, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.inner-box {
  padding-right: 2rem; }

/* line 22, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.side-space {
  padding-right: 2rem; }

/* line 25, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
a:hover, a:active, a:focus {
  outline: 0; }

/* line 28, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.shelf {
  margin-bottom: 2rem;
  position: relative; }

/* line 32, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.inner-shelf {
  border: solid 2px #CCC;
  border-radius: 0.5rem;
  color: #666;
  position: relative; }

/* line 39, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.shelf-space {
  padding: 1rem; }

/* line 42, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item-space {
  padding: 0 1rem; }

/* line 45, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.filter-title {
  color: #666;
  font-size: 2rem; }

/* line 49, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.section-title {
  font-family: 'RalewayLight';
  color: #999;
  text-align: right;
  font-size: 2rem;
  padding-top: 1rem; }

/* line 56, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.title {
  font-size: 1.8rem;
  margin-bottom: 1rem; }

/* line 60, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.subtitle {
  font-size: 1.3rem; }

/* line 63, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
#cart {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: right;
  font-size: 1rem;
  position: fixed;
  right: 3rem;
  top: 0;
  z-index: 3;
  padding: 0.3rem 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem; }
  /* line 74, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  #cart i {
    font-size: 1.8rem; }
  /* line 76, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  #cart span {
    font-size: 1.8rem;
    margin: 0 0.5rem; }
  /* line 79, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  #cart a {
    color: #FFF;
    text-decoration: none; }
    /* line 82, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
    #cart a:hover {
      color: orange; }

/* line 85, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.login-header {
  font-size: 0.8rem;
  color: #999; }
  /* line 88, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .login-header a {
    cursor: pointer; }

/* line 91, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.left {
  float: left; }

/* line 94, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.right {
  float: right; }

/* line 97, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item {
  margin: 1rem; }
  /* line 99, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .item img {
    width: 100%; }

/* line 102, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item-image {
  margin-bottom: 0.5rem; }

/* line 105, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item-button {
  text-align: center; }

/* line 108, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.item-info {
  text-align: center;
  padding-bottom: 0.5rem;
  font-family: 'Raleway';
  font-size: 1.2rem;
  color: #666;
  text-transform: uppercase; }

/* line 116, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.search-box {
  padding: 1rem 0; }
  /* line 118, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .search-box input {
    width: 85%;
    font-size: 1.7rem;
    border: solid 2px #CCC;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 0;
    padding: 0 1rem;
    color: #666;
    outline: none;
    -webkit-box-sizing: border-box; }
  /* line 129, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .search-box a {
    text-align: center;
    width: 15%;
    background-color: #CCC;
    border: solid 2px #CCC;
    letter-spacing: normal;
    color: #666;
    line-height: 2.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    -webkit-box-sizing: border-box;
    cursor: pointer; }

/* line 142, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.publisher-name {
  text-transform: uppercase; }

/* line 145, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.shelf-name {
  text-transform: uppercase; }

/* line 148, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.uppercase {
  text-transform: uppercase; }

/* line 151, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.login {
  font-size: 1.1rem;
  text-decoration: none;
  color: #666; }

/* line 156, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.table-image {
  width: 5rem; }

/* line 159, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.card-item {
  padding: 1rem 0; }
  /* line 161, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .card-item a.button {
    margin-left: 2rem; }

/* line 164, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.cart-item {
  padding-bottom: 0.5rem; }
  /* line 166, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .cart-item:last-child {
    padding-bottom: 0; }
  /* line 168, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .cart-item a.button {
    margin-left: 2rem; }
  /* line 170, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .cart-item img {
    width: 100%; }

/* line 174, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.address-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #CCC; }

/* line 179, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.address-item:last-child {
  margin-bottom: 0; }

/* line 182, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.list-item {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px #CCC;
  cursor: pointer; }
  /* line 187, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .list-item:hover {
    color: orange; }

/* line 191, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.list-item:last-child {
  margin-bottom: 0;
  border-bottom: 0; }

/* line 195, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.address-line {
  padding-bottom: 0.5rem; }

/* line 199, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.action {
  color: #0078e7; }

/* line 202, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.error {
  color: #ca3c3c; }

/* line 205, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.success {
  color: #1cb841; }

/* line 208, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.warning {
  color: #f57b00; }

/* line 211, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.update {
  color: #0078e7; }

/* line 214, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.form-icon {
  position: relative; }

/* line 217, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-form-stacked label {
  font-family: 'RalewayLight';
  margin: 0.5rem 0; }

/* line 221, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.medium-icon {
  font-size: 1.5rem;
  position: absolute;
  top: 0.4rem;
  right: 0.5rem;
  padding-left: 0.5rem; }

/* line 229, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button {
  border: solid 1px #666;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem; }

/* line 234, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.buttons-container {
  text-align: center;
  padding-bottom: 1rem; }
  /* line 237, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .buttons-container a {
    color: #CCC;
    cursor: pointer; }

/* line 241, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-xsmall {
  font-size: 70%; }

/* line 244, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.button-small {
  font-size: 85%; }

/* line 248, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-form select {
  width: 100%;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  height: 2.3rem;
  font-size: 1.1rem;
  box-sizing: border-box; }

/* line 258, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.disable-shelf {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.5rem;
  text-align: center;
  z-index: 2; }

/* line 268, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.fa-5 {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 5rem; }

/* line 274, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.fa-8 {
  font-size: 8rem; }

/* line 277, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.success-container {
  text-align: center;
  color: #1cb841; }

/* line 281, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.error-container {
  text-align: center;
  color: #ca3c3c; }

/* line 285, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.error-border {
  border-color: #ca3c3c; }

/* line 288, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.description > div {
  font-size: 1.2rem;
  padding-bottom: 0.5rem; }

/* line 293, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.quantity a {
  background-color: transparent;
  color: #666; }

/* line 297, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.relative {
  position: relative; }

/* line 302, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.border-right {
  border-right: solid 2px #CCC;
  -webkit-box-sizing: border-box; }

/* line 306, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.border-left {
  border-left: solid 2px #CCC;
  -webkit-box-sizing: border-box; }

/* line 310, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.border-top {
  border-top: solid 2px #CCC;
  -webkit-box-sizing: border-box; }

/* line 314, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.padding-top {
  padding-top: 0.5rem; }

/* line 317, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.padding-right-1 {
  padding-right: 1rem; }

/* line 320, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.padding-left-1 {
  padding-left: 1rem; }

/* line 323, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.margin-left-1 {
  margin-left: 1rem; }

/* line 326, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.margin-bottom-1 {
  margin-bottom: 1rem; }

/* line 329, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.padding-side-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

/* line 333, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-button {
  white-space: normal; }

/* line 336, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.information-box.no-padding {
  padding-left: 0; }

/* line 339, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.quantity input {
  margin: 0 0.5rem;
  color: #666; }

/* line 343, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.align-center {
  text-align: center; }

/* line 346, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.align-right {
  text-align: right; }

/* line 349, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-form .pure-group input {
  margin: 0 auto; }

/* line 352, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.margin-bottom {
  margin-bottom: 0.5rem; }

/* line 355, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.margin-right {
  margin-right: 1rem; }

/* line 358, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.margin-1 {
  margin: 1rem; }

/* line 362, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-button i {
  margin-right: 0.3rem; }

/* line 366, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.address-line i {
  margin-right: 0.3rem; }

/* line 370, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pure-button.just-icon i {
  margin-right: 0; }

/* line 373, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.xs-input {
  width: 2em; }

/* line 376, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.row {
  padding-bottom: 1rem; }

/* line 381, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.information-title {
  padding-bottom: 0.5rem;
  font-style: italic;
  text-transform: uppercase;
  color: orange; }

/* line 388, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.info th {
  padding: 1rem; }

/* line 391, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.info-label {
  text-align: right;
  padding-right: 1rem; }

/* line 395, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.info-value, .pure-g .info-value {
  font-family: Helvetica; }

/* line 398, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.info-important {
  font-family: Helvetica;
  font-weight: bold; }

/* line 402, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.pointer {
  cursor: pointer; }

/* line 405, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
tr.pointer:hover {
  color: orange; }

/* line 409, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.form-container textarea {
  width: 100%; }
/* line 411, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.form-container select {
  width: 49%;
  display: inline-block; }

/* line 415, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.total-table {
  margin: 0 auto;
  margin-bottom: 1rem;
  text-align: right; }
  /* line 419, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  .total-table .table-label {
    padding-right: 1rem; }

/* line 423, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.info-table td {
  padding: 0 1rem;
  font-size: 1.1rem;
  padding-top: 0.5rem;
  text-align: right; }
/* line 428, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.info-table th {
  padding: 0 1rem;
  border-bottom: 2px solid #CCC;
  padding-bottom: 0.5rem;
  font-size: 1.2rem; }

/* line 435, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.coupon-row {
  font-size: 1rem;
  padding: 0.5rem 0; }

/* line 439, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.total-container {
  display: inline-block; }

/* line 442, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
.error-layer {
  position: fixed;
  right: 1rem;
  top: 0;
  padding: 0.5rem;
  color: white;
  background-color: #ca3c3c;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  z-index: 4; }

/* line 454, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
#submenu {
  text-align: right; }
  /* line 456, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
  #submenu nav {
    margin: 1rem 0; }
    /* line 458, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
    #submenu nav a {
      padding: 0 1rem;
      color: #999;
      text-decoration: none;
      text-transform: uppercase;
      border-right: solid 1px #CCC; }
    /* line 464, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/main.sass */
    #submenu nav .active {
      color: orange; }
