/* line 3, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
.hidden {
  display: none; }

@media screen and (min-width: 64em) {
  /* line 7, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-xl-block {
    display: block; }

  /* line 9, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-xl-inline {
    display: inline; }

  /* line 11, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-xl-inline-block {
    display: inline-block; }

  /* line 13, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .hidden-xl {
    display: none; }
 }

@media screen and (min-width: 35.5em) {
  /* line 18, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-md-block {
    display: block; }

  /* line 20, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-md-inline {
    display: inline; }

  /* line 22, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-md-inline-block {
    display: inline-block; }

  /* line 24, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .hidden-md {
    display: none; }
 }

@media screen and (min-width: 48em) {
  /* line 28, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-lg-block {
    display: block; }

  /* line 30, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-lg-inline {
    display: inline; }

  /* line 32, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-lg-inline-block {
    display: inline-block; }

  /* line 34, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .hidden-lg {
    display: none; }
 }

@media screen and (min-width: 35.5em) {
  /* line 38, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-sm-block {
    display: block; }

  /* line 40, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-sm-inline {
    display: inline; }

  /* line 42, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .visible-sm-inline-block {
    display: inline-block; }

  /* line 44, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .hidden-sm {
    display: none; }
 }

@media screen and (max-width: 35.5em) {
  /* line 48, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  body {
    padding-bottom: 2rem; }

  /* line 50, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .filter-title {
    font-size: 1.3rem; }

  /* line 52, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .information-box {
    padding-left: 0;
    border-bottom: 2px solid #CCC;
    margin-bottom: 1rem;
    padding-bottom: 1rem; }

  /* line 57, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .no-border {
    border-bottom: 0;
    border-right: 0; }

  /* line 60, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .no-margin {
    margin-bottom: 0; }

  /* line 62, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .no-padding {
    padding-bottom: 0; }

  /* line 64, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .border-left {
    border-left: 0; }

  /* line 66, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .border-right {
    border-right: 0; }

  /* line 68, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .side-space {
    padding-right: 0; }

  /* line 70, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .confirmation-box {
    margin-top: 50%; }

  /* line 72, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/media-query.sass */
  .item-space {
    padding: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid #CCC; }
 }
