@import 'colors'

.hidden
  display: none

@media screen and (min-width: 64em)
  .visible-xl-block
    display: block
  .visible-xl-inline
    display: inline
  .visible-xl-inline-block
    display: inline-block
  .hidden-xl
    display: none


@media screen and (min-width: 35.5em)
  .visible-md-block
    display: block
  .visible-md-inline
    display: inline
  .visible-md-inline-block
    display: inline-block
  .hidden-md
    display: none

@media screen and (min-width: 48em)
  .visible-lg-block
    display: block
  .visible-lg-inline
    display: inline
  .visible-lg-inline-block
    display: inline-block
  .hidden-lg
    display: none

@media screen and (min-width: 35.5em)
  .visible-sm-block
    display: block
  .visible-sm-inline
    display: inline
  .visible-sm-inline-block
    display: inline-block
  .hidden-sm
    display: none

@media screen and (max-width: 35.5em)
  body
    padding: 1rem 2rem 2rem 2rem
  .filter-title
    font-size: 1.3rem
  .section-title
    margin-bottom: 0.5rem;
  .information-box
    padding-left: 0 
    border-bottom: 1px solid $dividers-black
    margin-bottom: 1rem
    padding-bottom: 1rem
  .no-border
    border-bottom: 0
    border-right: 0
  .no-margin
    margin-bottom: 0
  .no-padding
    padding-bottom: 0
  .border-left
    border-left: 0
  .border-right
    border-right: 0
  .side-space
    padding-right: 0
  .confirmation-box
    margin-top: 50%
  .item-space
    padding: 0
    padding-bottom: 0.5rem
    margin-bottom: 1rem
    border-bottom: 1px solid $dividers-black
  .search-box
    padding-top: 0
  .footer
    padding-bottom: 2rem




