form.pure-form.pure-form-stacked(name="moneyForm", novalidate="")
  fieldset
    .child-container
      ng-form(name="moneyForm")
        .form-container
            label(for="amount", ng-show="moneyForm.amount.$valid || moneyForm.amount.$pristine")
              | Cantidad:
            label.error(for="amount", ng-show="moneyForm.amount.$invalid && moneyForm.amount.$dirty")
              | Cantidad es requerido:
            .form-icon
              input.pure-input-1#amount(name="amount", data-ng-model="wallet.amount", required="")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="moneyForm.amount.$pristine")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="moneyForm.amount.$valid && moneyForm.amount.$dirty")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="moneyForm.amount.$invalid && moneyForm.amount.$dirty")
.align-center
  a.pure-button(data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}", data-ng-if="moneyForm.$invalid")
    | Campos Requeridos    
    i.fa.fa-dot-circle-o.error
  a.pure-button.button-success(data-ng-click="addMoney(wallet.amount)", data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}", data-ng-if="moneyForm.$valid")
    i.fa.fa-thumbs-o-up
    | Agregar saldo
  .error(data-ng-if="error")
    | {{error}}
  .success(data-ng-if="success")
    | {{success}}
