.section-title
  | Tienda
.search(data-ng-include="'app/layout/search.template.html'")
.shelf(shelf, publisher="{{shell.searchValue}}" store="Search" data-ng-if="shell.itemsList.length > 0")
.shelf(shelf, publisher="dc comics", store="Product")
.shelf(shelf, publisher="marvel comics", store="Product")
