/* line 3, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/layout/sidebar.sass */
.logo {
  border-bottom: solid 5px #000; }
  /* line 4, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/layout/sidebar.sass */
  .logo img {
    width: 100%; }

/* line 8, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/layout/sidebar.sass */
.logo-text {
  font-family: 'Raleway'; }

/* line 11, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/layout/sidebar.sass */
.logo-h3 {
  font-size: 1.6rem; }

/* line 14, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/layout/sidebar.sass */
.logo-h2 {
  font-size: 1.9rem; }

/* line 17, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/layout/sidebar.sass */
.logo-h1 {
  font-size: 2.4rem; }

/* line 20, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/layout/sidebar.sass */
.side-menu {
  color: #666;
  text-align: center; }

/* line 25, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/layout/sidebar.sass */
nav a {
  color: #999;
  display: block;
  width: 100%;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-bottom: 1px solid #999; }
