.section-title(data-ng-bind="shell.labels.forgotMyPassword")
.filter-title
  span.publisher-name(data-ng-bind="shell.labels.recoveryPassword")
.shelf
  .inner-shelf
    .shelf-space
      div(data-ng-hide="forgot.sendIt")
        .title.align-center(data-ng-bind="shell.labels.recoveryText1")
        form.pure-form.pure-form-stacked(name="forgotForm", novalidate="")
          fieldset
            label(for="username", ng-show="forgotForm.username.$valid || forgotForm.username.$pristine", data-ng-bind="shell.labels.email")
            label.error(for="username", ng-show="forgotForm.username.$invalid && forgotForm.username.$dirty",data-ng-bind="shell.labels.emailInvalid")
            .form-icon
              input.pure-input-1#username(name="username", type="email", data-ng-model="forgot.username", required="")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="forgotForm.username.$pristine")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="forgotForm.username.$valid && forgotForm.username.$dirty")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="forgotForm.username.$invalid && forgotForm.username.$dirty")  
        .align-center.margin-bottom
          a.pure-button.pure-button-primary(ng-click="forgot.sendLink(forgot.username)",data-ng-bind="shell.labels.recoveryPassword")
      div(data-ng-if="forgot.sendIt")
        .title.align-center.success(data-ng-bind="shell.labels.recoveryText2")