
<div data-ng-bind="shell.labels.forgotMyPassword" class="section-title"></div>
<div class="filter-title"><span data-ng-bind="shell.labels.recoveryPassword" class="publisher-name"></span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-hide="forgot.sendIt">
        <div data-ng-bind="shell.labels.recoveryText1" class="title align-center"></div>
        <form name="forgotForm" novalidate="" class="pure-form pure-form-stacked">
          <fieldset>
            <label for="username" ng-show="forgotForm.username.$valid || forgotForm.username.$pristine" data-ng-bind="shell.labels.email"></label>
            <label for="username" ng-show="forgotForm.username.$invalid &amp;&amp; forgotForm.username.$dirty" data-ng-bind="shell.labels.emailInvalid" class="error"></label>
            <div class="form-icon">
              <input id="username" name="username" type="email" data-ng-model="forgot.username" required="" class="pure-input-1"/><i ng-show="forgotForm.username.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="forgotForm.username.$valid &amp;&amp; forgotForm.username.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="forgotForm.username.$invalid &amp;&amp; forgotForm.username.$dirty" class="fa fa-times-circle-o error medium-icon"> </i>
            </div>
          </fieldset>
        </form>
        <div class="align-center margin-bottom"><a ng-click="forgot.sendLink(forgot.username)" data-ng-bind="shell.labels.recoveryPassword" class="pure-button pure-button-primary"></a></div>
      </div>
      <div data-ng-if="forgot.sendIt">
        <div data-ng-bind="shell.labels.recoveryText2" class="title align-center success"></div>
      </div>
    </div>
  </div>
</div>