
<div class="filter-title"><span class="publisher-name">Agregar Tarjeta</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div card-form="card-form"></div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Tus Tarjetas</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">           
      <div id="cards-list"></div>
      <div ng-repeat="item in cards" class="card-item"><span></span>{{item.card.brand}} **** **** **** {{item.card.last4}}<a data-ng-click="deleteCard($index)" class="button"><i class="fa fa-trash"></i> Eliminar</a></div>
    </div>
  </div>
</div>