.filter-title
  span.publisher-name.
    Agregar Tarjeta
.shelf
  .inner-shelf
    .shelf-space
      div(card-form)
.filter-title
  span.publisher-name.
    Tus Tarjetas
.shelf
  .inner-shelf
    .shelf-space            
      #cards-list
      .card-item(ng-repeat="card in cards")
        span
        | {{card.brand}} **** **** **** {{card.last4}}
        a.button(data-ng-click="deleteCard($index)")
          i.fa.fa-trash
          |  Eliminar