
<div id="account-menu" data-ng-include="'app/account/menu/account.menu.html'"></div>
<div class="filter-title"><span class="publisher-name">Mis Tarjetas</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div ng-if="cards.length &lt; 1" class="shelf-message">
        <div class="subtitle">No existen tarjetas registradas.</div>
      </div>
      <div id="cards-list"></div>
      <div ng-repeat="item in cards" class="card-item"><i ng-if="item.card.brand == 'VISA'" class="fa fa-cc-visa fa-lg"></i><i ng-if="item.card.brand == 'MC'" class="fa fa-cc-mastercard fa-lg"></i><i ng-if="item.card.brand == 'AMERICAN_EXPRESS'" class="fa fa-cc-amex fa-lg"></i><span></span>**** **** **** {{item.card.last4}}<a data-ng-click="deleteCard($index)" class="button"><i class="fa fa-trash"></i> Eliminar</a></div>
    </div>
    <div class="buttons-container"><a ng-click="cardFormView = true"><i class="fa fa-plus-circle fa-4x"></i></a>
      <div>Agregar Tarjeta</div>
    </div>
  </div>
</div>
<div data-ng-show="cardFormView">
  <div class="filter-title"><span class="publisher-name">Agregar Tarjeta</span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space">
        <div card-form="card-form"></div>
      </div>
    </div>
  </div>
</div>