.filter-title
  span.publisher-name.
    Mis Tarjetas
.shelf
  .inner-shelf
    .shelf-space
      .shelf-message(ng-if="cards.length < 1")
        .subtitle
          |No existen tarjetas registradas.
      #cards-list
      .card-item(ng-repeat="item in cards")
        i.fa.fa-cc-visa.fa-lg(ng-if="item.card.brand == 'VISA'")
        i.fa.fa-cc-mastercard.fa-lg(ng-if="item.card.brand == 'MC'")
        i.fa.fa-cc-amex.fa-lg(ng-if="item.card.brand == 'AMERICAN_EXPRESS'")
        span
        |**** **** **** {{item.card.last4}}
        a.button(data-ng-click="deleteCard($index)")
          i.fa.fa-trash
          |  Eliminar
    .buttons-container
      a(ng-click="cardFormView = true")
        i.fa.fa-plus-circle.fa-4x
      div
        |Agregar Dirección

div(data-ng-show="cardFormView")
  .filter-title
    span.publisher-name.
      Agregar Tarjeta
  .shelf
    .inner-shelf
      .shelf-space
        div(card-form)