body{
  margin: 0;
  padding: 1rem 3rem;
  background: url('../images/satinweave.png');
}

div{
  /*outline: solid 1px yellow;*/
}

.logo img{
  width:100%;
}

#shell{
}

#left-pane{
  height:500px; /*remove*/
}

#right-pane{
}

.nav-top{
  /*height:10rem;*/
}

.inner-box{
  padding:1rem;
}

#navigation{
  text-align: right;
}

#navigation a{
  padding: 0 1rem;
  font-size: 1.1rem;
}

nav a{
  color:#999;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  border-right: 1px solid #999;
}

#navigation a:last-child {
  padding-right:0;
  border-right:0;
}

.shelf{
  margin-bottom:2rem;
}

.inner-shelf{
  border:solid 2px #CCC;
  border-radius: 1rem;
}

.filter-title{
  font-family: 'Raleway', sans-serif;
  color:#666;
  font-size: 2rem;
  padding-bottom:0.5rem;

}

.section-title{
  font-family: 'ralewaythin';
  color:#999;
  text-align: right;
  font-size: 2rem;
  padding-top: 1.5rem;
}

#cart{
  padding-top:0.5rem;
  text-align: right;
  font-size: 2rem;
  color:#999;
}

.item{
  margin:1rem;
}

.item img{
  width:100%;
}

.item-image{
  margin-bottom:0.5rem;
}

.item-button{
  text-align: center;
}

.item-info{
  text-align: center;
  padding-bottom:0.5rem;
  font-family: 'Raleway';
  font-size:1.2rem;
  color:#666;
  text-transform: uppercase;
}

.search-box{
  padding:1rem 0;
}

.search-box input{
  font-family: 'Raleway', sans-serif;
  width:85%;
  font-size: 1.7rem;
  border:solid 2px #CCC;
  border-top-left-radius:0.5rem;
  border-bottom-left-radius:0.5rem;
  border-right:0;
  padding:0 1rem;
  color:#666;
  outline: none;
  -webkit-box-sizing: border-box;
}

.search-box a{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  width:15%;
  background-color: #ccc;
  border:solid 2px #CCC;
  letter-spacing: normal;
  color:#666;
  line-height: 2.5rem;
  border-top-right-radius:0.5rem;
  border-bottom-right-radius:0.5rem;
  -webkit-box-sizing: border-box;
  cursor: pointer;
}

.publisher-name{
  text-transform: uppercase;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */



@font-face {
    font-family: 'titilliumthin';
    src: url('titillium-thin-webfont.eot');
    src: url('titillium-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('titillium-thin-webfont.woff2') format('woff2'),
         url('titillium-thin-webfont.woff') format('woff'),
         url('titillium-thin-webfont.ttf') format('truetype'),
         url('titillium-thin-webfont.svg#titilliumthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaythin';
    src: url('raleway-thin-webfont.eot');
    src: url('raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('raleway-thin-webfont.woff2') format('woff2'),
         url('raleway-thin-webfont.woff') format('woff'),
         url('raleway-thin-webfont.ttf') format('truetype'),
         url('raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}