
<div class="section-title">Carrito de Compras</div>
<div id="user-forms" login-forms="login-forms" data-ng-if="!currentUser" data-ng-show="loginFormsView"></div>
<div id="items-checkout" items-list="items-list" data-ng-if="!completed"></div>
<div id="address-checkout" shipping-address="shipping-address" data-ng-if="currentUser"></div>
<div id="payment-checkout" payment-method="payment-method" data-ng-if="currentUser"></div>
<div id="placeOrder-checkout" place-order="place-order" data-ng-if="currentUser"></div>
<div id="response-checkout" response-payment="response-payment" data-ng-if="currentUser"></div>