div(data-ng-controller="Checkout as checkout")
  .section-title
    | Carrito de Compras
  #user-forms(login-forms, data-ng-if="!shell.currentUser", data-ng-show="checkout.loginFormsView")
  #items-checkout(items-list, data-ng-if="!checkout.completed")
  #wallet-checkout(wallet, data-ng-if="checkout.walletView")
  #address-checkout(shipping-address, data-ng-if="shell.currentUser")
  #payment-checkout(payment-method, data-ng-if="shell.currentUser")
  #placeOrder-checkout(place-order, data-ng-if="shell.currentUser")
  #response-checkout(response-payment, data-ng-if="shell.currentUser")

      
        


        

          
        


        
