
<div data-ng-controller="Checkout as checkout">
  <div class="section-title">Carrito de Compras</div>
  <div id="user-forms" login-forms="login-forms" data-ng-if="!shell.currentUser" data-ng-show="checkout.loginFormsView"></div>
  <div id="items-checkout" items-list="items-list" data-ng-if="!checkout.completed"></div>
  <div id="wallet-checkout" wallet="wallet" data-ng-if="checkout.walletView"></div>
  <div id="membership-checkout" membership="membership" data-ng-if="shell.system.membership &amp;&amp; !shell.isMember()" data-ng-hide="checkout.upgrade"></div>
  <div id="upgrade-checkout" upgrade-membership="upgrade-membership" data-ng-if="checkout.upgrade"></div>
  <div id="address-checkout" shipping-address="shipping-address" data-ng-if="shell.currentUser &amp;&amp; checkout.loadAddress"></div>
  <div id="payment-checkout" payment-method="payment-method" data-ng-if="shell.currentUser &amp;&amp; checkout.loadPayment"></div>
  <div id="placeOrder-checkout" place-order="place-order" data-ng-if="shell.currentUser"></div>
  <div id="response-checkout" response-payment="response-payment" data-ng-if="shell.currentUser"></div>
</div>