#items-checkout(items-list, data-ng-if="!completed")
#address-checkout(shipping-address)
#payment-checkout(payment-method)
#placeOrder-checkout(place-order)
#response-checkout(response-payment)



      
        


        

          
        


        
