//- #account-menu(data-ng-include="'app/account/menu/account.menu.html'", data-ng-if="!view")
//- #admin-menu(data-ng-include="'app/admin/users/menu/user.menu.html'")
#back-menu(data-ng-include="'app/item/menu/item.menu.html'")
.filter-title
  span.publisher-name.
    Información
.shelf
  .inner-shelf
    .shelf-space
      .pure-g.item-details
        .pure-u-1.pure-u-sm-1-3.pure-u-md-1-4
          img(data-ng-src="{{item.info.coverUrl}}")
        .pure-u-1.pure-u-sm-2-3.pure-u-md-3-4
          .padding-side-1
            .item-name
              |{{item.info.name}}
            .item-description(data-ng-bind-html="item.info.description")
            .item-attribute
              span.text-secondary-black.margin-right-1
                |Editorial:
              span.uppercase
                |{{item.info.publisher}}
            .item-attribute
              span.text-secondary-black.margin-right-1
                |Precio:
              |{{item.info.price | currency}}
            .item-attribute(data-ng-if="item.info.writer")
              span.text-secondary-black.margin-right-1
                |Escritor:
              |{{item.info.writer}}
            .item-attribute(data-ng-if="item.info.artist")
              span.text-secondary-black.margin-right-1
                |Artista:
              |{{item.info.artist}}
            .item-attribute(data-ng-if="item.info.coverArtist")
              span.text-secondary-black.margin-right-1
                |Portada:
              |{{item.info.coverArtist}}
            div(data-ng-if="item.info.status=='active'")
              .item-attribute
                span.text-secondary-black.margin-right-1
                  |Disponibilidad:
                span.uppercase
                  |{{item.info.available}}
              .item-attribute
                a.pure-button.button-small.just-icon(data-ng-click="item.minusOne()")
                  i.fa.fa-minus-circle
                span.margin-side-1(data-ng-class="{update:update}")
                  | {{item.quantity}}
                a.pure-button.button-small.just-icon(data-ng-click="item.plusOne()")
                  i.fa.fa-plus-circle
              .item-attribute.error(data-ng-if="item.info.available == 'available' && item.quantity >= item.info.stock")
                | Solo {{item.info.stock}} disponibles.
              .item-attribute
                a.pure-button.pure-button-primary(data-ng-click="shell.addToCart(item.info, item.quantity)")
                  span(data-ng-if="item.info.available =='serie'")
                    | Suscribirme 
                  span(data-ng-if="item.info.available =='preorder'")
                    | Preordenar
                  span(data-ng-if="item.info.available =='available'")
                    | Comprar
                a.pure-button.margin-left-1(data-ui-sref="home")
                  |Regresar
            div(data-ng-if="item.info.stock < 1 || item.info.status!='active'")
              .item-attribute
                span.text-secondary-black.margin-right-1
                  |Disponibilidad:
                span.uppercase.error
                  | No hay existensias.

