
<div id="admin-menu" data-ng-include="'app/admin/series/menu/series.menu.html'"></div>
<div class="filter-title"><span class="publisher-name">Series</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="series" data-ng-if="series.list.length &gt; 0">
        <table class="info-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Status</th>
              <th>Precio</th>
              <th>Editorial</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="serie in series.list" ui-sref="admin.serie({serieId:serie.objectId})" class="pointer">
              <td>{{serie.name}}</td>
              <td>{{serie.available}}</td>
              <td>{{serie.status}}</td>
              <td>{{serie.price | currency}}</td>
              <td>{{serie.publisher}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="margin-1 align-right"><a data-ui-sref="admin.newSerie" class="pure-button button-small pure-button-primary">Agregar Nuevo</a></div>
  </div>
</div>