
<div id="admin-menu" data-ng-include="'app/admin/series/menu/serie.menu.html'"></div>
<div data-ng-show="serie.form">
  <div class="filter-title"><span class="publisher-name">Edit Serie</span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space">
        <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
        <serie-form></serie-form>
      </div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Serie Info</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="serie">
        <table class="info">
          <tbody>
            <tr>
              <td class="info-label">Nombre:</td>
              <td class="info-value">{{serie.info.name}}</td>
            </tr>
            <tr>
              <td class="info-label">Precio:</td>
              <td class="info-value">{{serie.info.price}}</td>
            </tr>
            <tr>
              <td class="info-label">Publisher:</td>
              <td class="info-value">{{serie.info.publisher}}</td>
            </tr>
            <tr>
              <td class="info-label">Cover:</td>
              <td class="info-value">{{serie.info.cover.url}}</td>
            </tr>
            <tr>
              <td class="info-label">Status:</td>
              <td class="info-value">{{serie.info.status}}</td>
            </tr>
          </tbody>
        </table>
        <div class="margin-top-1"><a data-ng-click="serie.form = true" class="pure-button pure-button-primary button-small margin-right-1-2"><i class="fa fa-pencil"></i>Editar</a><a data-ng-click="showModal()" data-question="¿Eliminar Serie?" data-confirm="deleteSerie(serie.info.objectId, $index)" confirm-message="confirm-message" class="pure-button button-small"><i class="fa fa-trash"></i>Borrar</a></div>
      </div>
    </div>
  </div>
</div>