form.pure-form.pure-form-stacked(name="serieForm", novalidate="")
  fieldset
    .child-container
      ng-form(name="serieForm")
        .form-container
          label(for="name", ng-show="serieForm.name.$valid || serieForm.name.$pristine")
            | Nombre:
          label.error(for="name", ng-show="serieForm.name.$invalid && serieForm.name.$dirty")
            | Nombre es requerido:
          .form-icon
            input.pure-input-1#name(name="name", data-ng-model="form.name", required="")
            i.fa.fa-dot-circle-o.medium-icon(ng-show="serieForm.name.$pristine")
            i.fa.fa-check-circle-o.success.medium-icon(ng-show="serieForm.name.$valid && serieForm.name.$dirty")
            i.fa.fa-times-circle-o.error.medium-icon(ng-show="serieForm.name.$invalid && serieForm.name.$dirty")
        .form-container
          label(for="price", ng-show="serieForm.price.$valid || serieForm.price.$pristine")
            | Precio:
          label.error(for="price", ng-show="serieForm.price.$invalid && serieForm.price.$dirty")
            | Precio es requerido:
          .form-icon
            input.pure-input-1#price(name="price", data-ng-model="form.price", required="")
            i.fa.fa-dot-circle-o.medium-icon(ng-show="serieForm.price.$pristine")
            i.fa.fa-check-circle-o.success.medium-icon(ng-show="serieForm.price.$valid && serieForm.price.$dirty")
            i.fa.fa-times-circle-o.error.medium-icon(ng-show="serieForm.price.$invalid && serieForm.price.$dirty")
        .form-container
          label(for="publisher")
            |Editorial:
          select.complete-1(data-ng-model="publisher", data-ng-change="form.publisher = publisher.name" data-ng-options="item as item.label for item in serie.publishers track by item.name")
          input(type="hidden", data-ng-model="form.publisher")
        //- .form-container
        //-   label(for="cover", ng-show="serieForm.cover.$valid || serieForm.cover.$pristine")
        //-     | Imagen:
        //-   label.error(for="cover", ng-show="serieForm.cover.$invalid && serieForm.cover.$dirty")
        //-     | Imagen es requerido:
        //-   .form-icon
        //-     input.pure-input-1#cover(name="cover", data-ng-model="form.cover.url", required="")
        //-     i.fa.fa-dot-circle-o.medium-icon(ng-show="serieForm.cover.$pristine")
        //-     i.fa.fa-check-circle-o.success.medium-icon(ng-show="serieForm.cover.$valid && serieForm.cover.$dirty")
        //-     i.fa.fa-times-circle-o.error.medium-icon(ng-show="serieForm.cover.$invalid && serieForm.cover.$dirty")
  .align-center.margin-bottom
    a.pure-button.button-success.button-small(data-ng-click="saveSerie()", data-ng-class="{'pure-button-disabled': addressForm.$invalid, 'button-success':addressForm.$valid}")
      span(data-ng-if="serieForm.$invalid")
        | Campos Requeridos    
        i.fa.fa-dot-circle-o.error
      span(data-ng-if="serieForm.$valid")
        i.fa.fa-thumbs-o-up
        | Guardar
  .align-center.margin-bottom
    a.pure-button(data-ng-click="serie.showForm(false)")
      | Cancelar