#items-unavailable(data-ng-if="itemsUnavailable.length > 0")         
  .filter-title
    span.publisher-name.error
      | Articulos no disponibles
  .shelf
    .disable-shelf(data-ng-show="showAddress")
      i.fa.fa-check-square-o.fa-5.success
    .inner-shelf.error-border
      .shelf-space
          .pure-g
            .pure-u-1.pure-u-sm-2-3
              .cart-item.pure-g(ng-repeat="item in itemsUnavailable")
                .pure-u-1.pure-u-sm-1-4.pure-u-md-1-8
                  img(alt="", data-ng-src="{{item.cover.url}}")
                .pure-u-1.pure-u-md-1-2
                  .item-space
                    div
                      | {{item.name}}
                    div(data-ng-if="item.type == 'serie'")
                      | Suscripcion
                    div(data-ng-if="item.type == 'preorder'")
                      | Preorden
                    div(data-ng-if="item.type == 'available'")
                      | Disponible de inmediato
                    div
                      | Precio: ${{item.price}} USD
            .pure-u-1.pure-u-sm-1-3            
              a.pure-button(data-ng-click="cleanItemsUnavaibale()")
                i.fa.fa-trash
                | Cerrar
#items-available
  .filter-title
    span.publisher-name.
      Checkout
  .shelf
    .disable-shelf(data-ng-show="showAddress")
      i.fa.fa-check-square-o.fa-5.success
    .inner-shelf
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      .shelf-space
        .shelf-content(data-ng-hide="loading")
          div(ng-if="vm.cartItems.items.length < 1")
            h2
              |No existen articulos en el carrito de compras
          .pure-g(ng-if="vm.cartItems.items.length > 0")
            .pure-u-1.pure-u-lg-2-3
              .cart-item.pure-g(ng-repeat="item in vm.cartItems.items", cart-item)
            .pure-u-1.pure-u-lg-1-3.align-center
              .title
                | Total de la orden:
              .title
                |$ {{vm.cartItems.cartTotal}} USD
              .margin-bottom(data-ng-show="updateCart")
                a.pure-button.pure-button-primary(data-ng-click="updateQuantity()",data-ng-hide="showAddress")
                  i.fa.fa-check
                  | Actualizar Orden
              .margin-bottom(data-ng-hide="updateCart")
                a.pure-button.button-success(data-ng-if="currentUser", data-ng-click="toAddress()",data-ng-hide="showAddress")
                  i.fa.fa-check
                  | Continuar
                a.pure-button.pure-button-primary(data-ng-if="!currentUser", data-ng-click="showLoginForms(true)")
                  i.fa.fa-user
                  | Iniciar Sesion
              div
                //- a.pure-button(data-ng-click="emptyCart()",data-ng-hide="showAddress")
                a.pure-button(data-ng-click="showModal()", data-question='¿Vaciar carrito?', data-confirm="emptyCart()",data-ng-hide="showAddress", confirm-message)
                  i.fa.fa-trash
                  | Vaciar Carrito