.section-title
  | Assistent
#submenu.hidden.visible-lg-block(data-ng-if="shell.isAdmin")
  nav
    a(data-ui-sref="admin.user.orders", data-ng-class="{'active':shell.submenu == 'orders'}")
      |Membresia