.section-title
  | Assistent
#submenu.hidden.visible-lg-block(data-ng-if="shell.isAdmin")
  nav
    a(data-ui-sref="admin.assistent", data-ng-class="{'active':shell.submenu == 'orders'}")
      |Inicio
    a(data-ui-sref="admin.assistentStart", data-ng-class="{'active':shell.submenu == 'orders'}")
      |Membresia
    a(data-ui-sref="admin.assistentUsers", data-ng-class="{'active':shell.submenu == 'orders'}")
      |Usuarios