#admin-menu(data-ng-include="'app/admin/products/menu/product.menu.html'")
.filter-title
  span.publisher-name.
    New Product
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      product-form