#admin-menu(data-ng-include="'app/admin/products/menu/products.menu.html'")
.filter-title
  span.publisher-name.
    Productos
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #products(data-ng-if="products.list.length > 0")
        table.info-table
          thead
            tr
              th
                |Nombre
              th
                |Tipo
              th
                |Stock
              th
                |Status
              th
                |Precio
              th
                |Editorial
          tbody
            tr.pointer(data-ng-repeat="product in products.list", ui-sref="admin.product({productId:product.objectId})")
              td
                |{{product.name}}
              td
                |{{product.available}}
              td
                |{{product.stock}}
              td
                |{{product.status}}
              td
                |{{product.price | currency}}
              td
                |{{product.publisher}}
    .margin-1.align-right
      a.pure-button.button-small.pure-button-primary(data-ui-sref="admin.newProduct")
        |Agregar Nuevo