
<div id="admin-menu" data-ng-include="'app/admin/products/menu/product.menu.html'"></div>
<div data-ng-show="product.form">
  <div class="filter-title"><span class="publisher-name">Edit Product</span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space">
        <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
        <product-form></product-form>
      </div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Product Info</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="product">
        <table class="info">
          <tbody>
            <tr>
              <td class="info-label">Nombre:</td>
              <td class="info-value">{{product.info.name}}</td>
            </tr>
            <tr>
              <td class="info-label">Main Desc:</td>
              <td class="info-value">{{product.info.mainDesc}}</td>
            </tr>
            <tr>
              <td class="info-label">Issue No:</td>
              <td class="info-value">{{product.info.issueNo}}</td>
            </tr>
            <tr>
              <td class="info-label">Volume Tag:</td>
              <td class="info-value">{{product.info.volumeTag}}</td>
            </tr>
            <tr>
              <td class="info-label">Max issue:</td>
              <td class="info-value">{{product.info.maxIssue}}</td>
            </tr>
            <tr>
              <td class="info-label">Diamond ID:</td>
              <td class="info-value">{{product.info.diamondId}}</td>
            </tr>
            <tr>
              <td class="info-label">stock ID:</td>
              <td class="info-value">{{product.info.stockId}}</td>
            </tr>
            <tr>
              <td class="info-label">Disponibilidad:</td>
              <td class="info-value">{{product.info.available}}</td>
            </tr>
            <tr data-ng-if="product.info.stock">
              <td class="info-label">Cantidad:</td>
              <td class="info-value">{{product.info.stock}}</td>
            </tr>
            <tr>
              <td class="info-label">Precio:</td>
              <td class="info-value">{{product.info.price | currency}}</td>
            </tr>
            <tr>
              <td class="info-label">Publisher:</td>
              <td class="info-value">{{product.info.publisher}}</td>
            </tr>
            <tr>
              <td class="info-label">Cover URL:</td>
              <td class="info-value"><a data-ng-href="{{product.info.coverUrl}}" target="_blank">Ver Imagen</a></td>
            </tr>
            <tr>
              <td class="info-label">Status:</td>
              <td class="info-value">{{product.info.status}}</td>
            </tr>
          </tbody>
        </table>
        <div class="margin-top-1"><a data-ng-click="product.form = true" class="pure-button pure-button-primary button-small margin-right-1-2"><i class="fa fa-pencil"></i>Editar</a><a data-ng-click="showModal()" data-question="¿Eliminar Producto?" data-confirm="deleteProduct(product.info.objectId, $index)" confirm-message="confirm-message" class="pure-button button-small"><i class="fa fa-trash"> </i>Borrar</a></div>
      </div>
    </div>
  </div>
</div>