
<div id="admin-menu" data-ng-include="'app/admin/orders/menu/orders.menu.html'"></div>
<div class="filter-title"><span class="publisher-name">Productos</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="products" data-ng-if="products.list.length &gt; 0">
        <table class="info-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Tipo</th>
              <th>Stock</th>
              <th>Status</th>
              <th>Precio</th>
              <th>Editorial</th>
            </tr>
          </thead>
          <tbody>
            <tr data-ng-repeat="product in products.list" ui-sref="admin.product({productId:product.objectId})">
              <td>{{product.name}}</td>
              <td>{{product.type}}</td>
              <td>{{product.stock}}</td>
              <td>{{product.status}}</td>
              <td>{{product.price | currency}}</td>
              <td>{{product.publisher}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>