#admin-menu(data-ng-include="'app/admin/products/menu/product.menu.html'")
div(data-ng-show="product.form")
  .filter-title
    span.publisher-name.
      Edit Product
  .shelf
    .inner-shelf
      .shelf-space
        .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
        product-form
.filter-title
  span.publisher-name.
    Product Info
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #product
        table.info
          tbody
            tr
              td.info-label
                |Nombre:
              td.info-value
                |{{product.info.name}}
            tr
              td.info-label
                |Main Desc:
              td.info-value
                |{{product.info.mainDesc}}
            tr
              td.info-label
                |Issue No:
              td.info-value
                |{{product.info.issueNo}}
            tr
              td.info-label
                |Volume Tag:
              td.info-value
                |{{product.info.volumeTag}}
            tr
              td.info-label
                |Max issue:
              td.info-value
                |{{product.info.maxIssue}}
            tr
              td.info-label
                |Diamond ID:
              td.info-value
                |{{product.info.diamondId}}
            tr
              td.info-label
                |stock ID:
              td.info-value
                |{{product.info.stockId}}
            tr
              td.info-label
                |Disponibilidad:
              td.info-value
                |{{product.info.available}}
            tr(data-ng-if="product.info.stock")
              td.info-label
                |Cantidad:
              td.info-value
                |{{product.info.stock}}
            tr
              td.info-label
                |Precio:
              td.info-value
                |{{product.info.price | currency}}
            tr
              td.info-label
                |Publisher:
              td.info-value
                |{{product.info.publisher}}
            tr
              td.info-label
                |Cover URL:
              td.info-value
                a(data-ng-href="{{product.info.coverUrl}}", target="_blank")
                  |Ver Imagen
            tr
              td.info-label
                |Status:
              td.info-value
                |{{product.info.status}}
        .margin-top-1
          a.pure-button.pure-button-primary.button-small.margin-right-1-2(data-ng-click="product.form = true")
            i.fa.fa-pencil
            |Editar
          a.pure-button.button-small(data-ng-click="showModal()", data-question='¿Eliminar Producto?', data-confirm="deleteProduct(product.info.objectId, $index)", confirm-message)
            i.fa.fa-trash 
            |Borrar
//- .filter-title
//-   span.publisher-name.
//-     Product Stats
//- .shelf
//-   .inner-shelf
//-     .shelf-space
//-       .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
//-       #stats
