
<form name="productForm" novalidate="" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="child-container">
      <ng-form name="productForm">
        <div class="form-container">
          <label for="name" ng-show="productForm.name.$valid || productForm.name.$pristine">Nombre:</label>
          <label for="name" ng-show="productForm.name.$invalid &amp;&amp; productForm.name.$dirty" class="error">Nombre es requerido:</label>
          <div class="form-icon">
            <input id="name" name="name" data-ng-model="form.name" required="" class="pure-input-1"/><i ng-show="productForm.name.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.name.$valid &amp;&amp; productForm.name.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.name.$invalid &amp;&amp; productForm.name.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="description" ng-show="productForm.description.$valid || productForm.description.$pristine">Descripcion:</label>
          <label for="description" ng-show="productForm.description.$invalid &amp;&amp; productForm.description.$dirty" class="error">Descripcion es requerido:</label>
          <div class="form-icon">
            <textarea id="description" name="description" data-ng-model="form.description" required="" class="pure-input-1"></textarea><i ng-show="productForm.description.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.description.$valid &amp;&amp; productForm.description.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.description.$invalid &amp;&amp; productForm.description.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="mainDesc" ng-show="productForm.mainDesc.$valid || productForm.mainDesc.$pristine">Main Desc:</label>
          <label for="mainDesc" ng-show="productForm.mainDesc.$invalid &amp;&amp; productForm.mainDesc.$dirty" class="error">Main Desc es requerida:</label>
          <div class="form-icon">
            <input id="mainDesc" name="mainDesc" data-ng-model="form.mainDesc" required="" class="pure-input-1"/><i ng-show="productForm.mainDesc.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.mainDesc.$valid &amp;&amp; productForm.mainDesc.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.mainDesc.$invalid &amp;&amp; productForm.mainDesc.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="issueNo" ng-show="productForm.issueNo.$valid || productForm.issueNo.$pristine">Numero:</label>
          <label for="issueNo" ng-show="productForm.issueNo.$invalid &amp;&amp; productForm.issueNo.$dirty" class="error">Numero es requerido:</label>
          <div class="form-icon">
            <input id="issueNo" name="issueNo" data-ng-model="form.issueNo" required="" class="pure-input-1"/><i ng-show="productForm.issueNo.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.issueNo.$valid &amp;&amp; productForm.issueNo.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.issueNo.$invalid &amp;&amp; productForm.issueNo.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="volumeTag" ng-show="productForm.volumeTag.$valid || productForm.volumeTag.$pristine">Volume Tag:</label>
          <div class="form-icon">
            <input id="volumeTag" name="volumeTag" data-ng-model="form.volumeTag" class="pure-input-1"/><i ng-show="productForm.volumeTag.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.volumeTag.$valid &amp;&amp; productForm.volumeTag.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.volumeTag.$invalid &amp;&amp; productForm.volumeTag.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="maxIssue" ng-show="productForm.maxIssue.$valid || productForm.maxIssue.$pristine">Max Issue:</label>
          <div class="form-icon">
            <input id="maxIssue" name="maxIssue" data-ng-model="form.maxIssue" class="pure-input-1"/><i ng-show="productForm.maxIssue.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.maxIssue.$valid &amp;&amp; productForm.maxIssue.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.maxIssue.$invalid &amp;&amp; productForm.maxIssue.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="diamondId" ng-show="productForm.diamondId.$valid || productForm.diamondId.$pristine">DiamondId:</label>
          <div class="form-icon">
            <input id="diamondId" name="diamondId" data-ng-model="form.diamondId" class="pure-input-1"/><i ng-show="productForm.diamondId.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.diamondId.$valid &amp;&amp; productForm.diamondId.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.diamondId.$invalid &amp;&amp; productForm.diamondId.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="stockId" ng-show="productForm.stockId.$valid || productForm.stockId.$pristine">stockId:</label>
          <div class="form-icon">
            <input id="stockId" name="stockId" data-ng-model="form.stockId" class="pure-input-1"/><i ng-show="productForm.stockId.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.stockId.$valid &amp;&amp; productForm.stockId.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.stockId.$invalid &amp;&amp; productForm.stockId.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="available">Diponibilidad:</label>
          <select data-ng-model="available" data-ng-change="form.available = available.name" data-ng-options="item as item.label for item in product.availables track by item.name" class="complete-1"></select>
          <input type="hidden" data-ng-model="form.available"/>
        </div>
        <div data-ng-show="form.available == 'available'" class="form-container">
          <label for="stock" ng-show="productForm.stock.$valid || productForm.stock.$pristine">Cantidad:</label>
          <label for="stock" ng-show="productForm.stock.$invalid &amp;&amp; productForm.stock.$dirty" class="error">Cantidad es requerido:</label>
          <div class="form-icon">
            <input id="stock" name="stock" data-ng-model="form.stock" required="" ng-required="form.available == 'available'" class="pure-input-1"/><i ng-show="productForm.stock.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.stock.$valid &amp;&amp; productForm.stock.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.stock.$invalid &amp;&amp; productForm.stock.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="price" ng-show="productForm.price.$valid || productForm.price.$pristine">Precio:</label>
          <label for="price" ng-show="productForm.price.$invalid &amp;&amp; productForm.price.$dirty" class="error">Precio es requerido:</label>
          <div class="form-icon">
            <input id="price" name="price" data-ng-model="form.price" required="" class="pure-input-1"/><i ng-show="productForm.price.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.price.$valid &amp;&amp; productForm.price.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.price.$invalid &amp;&amp; productForm.price.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="publisher">Editorial:</label>
          <select data-ng-model="publisher" data-ng-change="form.publisher = publisher.name" data-ng-options="item as item.label for item in product.publishers track by item.name" class="complete-1"></select>
          <input type="hidden" data-ng-model="form.publisher"/>
        </div>
        <div class="form-container">
          <label for="cover" ng-show="productForm.cover.$valid || productForm.cover.$pristine">Imagen URL:</label>
          <label for="cover" ng-show="productForm.cover.$invalid &amp;&amp; productForm.cover.$dirty" class="error">Imagen es requerido:</label>
          <div class="form-icon">
            <input id="cover" name="cover" data-ng-model="form.coverUrl" required="" class="pure-input-1"/><i ng-show="productForm.cover.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.cover.$valid &amp;&amp; productForm.cover.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.cover.$invalid &amp;&amp; productForm.cover.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="status">Status:</label>
          <select data-ng-model="status" data-ng-change="form.status = status.name" data-ng-options="item as item.label for item in product.statusList track by item.name" class="complete-1"></select>
          <input type="hidden" data-ng-model="form.status"/>
        </div>
        <div class="form-container">
          <label for="tags">Tags:</label>
          <textarea data-ng-model="tags">{{tags}}</textarea>
        </div>
      </ng-form>
    </div>
  </fieldset>
  <div class="align-center margin-bottom"><a data-ng-if="productForm.$invalid" class="pure-button button-small"><i class="fa fa-dot-circle-o error"></i>Campos Requeridos    </a><a data-ng-click="saveProduct()" data-ng-if="productForm.$valid" class="pure-button button-success button-small"><i class="fa fa-thumbs-o-up"></i>Guardar</a></div>
  <div data-ng-if="form.objectId" class="align-center margin-bottom"><a data-ng-click="product.showForm(false)" class="pure-button button-small">Cancelar</a></div>
  <div data-ng-if="!form.objectId" class="align-center margin-bottom"><a data-ui-sref="admin.publishers" class="pure-button button-small">Regresar</a></div>
</form>