#admin-menu(data-ng-include="'app/admin/products/menu/product.menu.html'")
div(data-ng-show="product.form")
  .filter-title
    span.publisher-name.
      Edit Product
  .shelf
    .inner-shelf
      .shelf-space
        .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
        product-form
.filter-title
  span.publisher-name.
    Product Info
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #product
        div
          |{{product.info.name}}
        div
          |{{product.info.type}}
        div
          |{{product.info.stock}}
        div
          |{{product.info.price}}
        div
          |{{product.info.publisher}}
        div
          |{{product.info.cover.url}}
        div
          |{{product.info.status}}
        a.pure-button.pure-button-primary.button-small(data-ng-click="product.form = true")
          |Editar
        a.pure-button.button-small(data-ng-click="showModal()", data-question='¿Eliminar Producto?', data-confirm="deleteProduct(product.info.objectId, $index)", confirm-message)
          i.fa.fa-trash 
          |Borrar
.filter-title
  span.publisher-name.
    Product Stats
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #stats
