
<div id="admin-menu" data-ng-include="'app/admin/products/menu/product.menu.html'"></div>
<div data-ng-show="product.form">
  <div class="filter-title"><span class="publisher-name">Edit Product</span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space">
        <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
        <product-form></product-form>
      </div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Product Info</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="product">
        <div>{{product.info.name}}</div>
        <div>{{product.info.type}}</div>
        <div>{{product.info.stock}}</div>
        <div>{{product.info.price}}</div>
        <div>{{product.info.publisher}}</div>
        <div>{{product.info.cover.url}}</div>
        <div>{{product.info.status}}</div><a data-ng-click="product.form = true" class="pure-button pure-button-primary button-small">Editar</a><a data-ng-click="showModal()" data-question="¿Eliminar Producto?" data-confirm="deleteProduct(product.info.objectId, $index)" confirm-message="confirm-message" class="pure-button button-small"><i class="fa fa-trash"> </i>Borrar</a>
      </div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Product Stats</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="stats"></div>
    </div>
  </div>
</div>