
<form name="productForm" novalidate="" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="child-container">
      <ng-form name="productForm">
        <div class="form-container">
          <label for="name" ng-show="productForm.name.$valid || productForm.name.$pristine">Nombre:</label>
          <label for="name" ng-show="productForm.name.$invalid &amp;&amp; productForm.name.$dirty" class="error">Nombre es requerido:</label>
          <div class="form-icon">
            <input id="name" name="name" data-ng-model="form.name" required="" class="pure-input-1"/><i ng-show="productForm.name.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.name.$valid &amp;&amp; productForm.name.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.name.$invalid &amp;&amp; productForm.name.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="available">Diponibilidad:</label>
          <select data-ng-model="available" data-ng-change="form.available = available.name" data-ng-options="item as item.label for item in product.availables track by item.name" class="complete-1"></select>
          <input type="hidden" data-ng-model="form.available"/>
        </div>
        <div data-ng-show="form.available == 'available'" class="form-container">
          <label for="stock" ng-show="productForm.stock.$valid || productForm.stock.$pristine">Cantidad:</label>
          <label for="stock" ng-show="productForm.stock.$invalid &amp;&amp; productForm.stock.$dirty" class="error">Cantidad es requerido:</label>
          <div class="form-icon">
            <input id="stock" name="stock" data-ng-model="form.stock" required="" class="pure-input-1"/><i ng-show="productForm.stock.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.stock.$valid &amp;&amp; productForm.stock.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.stock.$invalid &amp;&amp; productForm.stock.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="price" ng-show="productForm.price.$valid || productForm.price.$pristine">Precio:</label>
          <label for="price" ng-show="productForm.price.$invalid &amp;&amp; productForm.price.$dirty" class="error">Precio es requerido:</label>
          <div class="form-icon">
            <input id="price" name="price" data-ng-model="form.price" required="" class="pure-input-1"/><i ng-show="productForm.price.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="productForm.price.$valid &amp;&amp; productForm.price.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="productForm.price.$invalid &amp;&amp; productForm.price.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
        <div class="form-container">
          <label for="publisher">Editorial:</label>
          <select data-ng-model="publisher" data-ng-change="form.publisher = publisher.name" data-ng-options="item as item.label for item in product.publishers track by item.name" class="complete-1"></select>
          <input type="hidden" data-ng-model="form.publisher"/>
        </div>
        <div class="form-container">
          <label for="status">Status:</label>
          <select data-ng-model="status" data-ng-change="form.status = status.name" data-ng-options="item as item.label for item in product.statusList track by item.name" class="complete-1"></select>
          <input type="hidden" data-ng-model="form.status"/>
        </div>
      </ng-form>
    </div>
  </fieldset>
  <div class="align-center margin-bottom"><a data-ng-click="saveProduct()" data-ng-class="{'pure-button-disabled': addressForm.$invalid, 'button-success':addressForm.$valid}" class="pure-button button-success button-small"><span data-ng-if="productForm.$invalid">Campos Requeridos    <i class="fa fa-dot-circle-o error"></i></span><span data-ng-if="productForm.$valid"><i class="fa fa-thumbs-o-up"></i>Guardar</span></a></div>
  <div data-ng-if="form.objectId" class="align-center margin-bottom"><a data-ng-click="product.showForm(false)" class="pure-button button-small">Cancelar</a></div>
  <div data-ng-if="!form.objectId" class="align-center margin-bottom"><a data-ui-sref="admin.publishers" class="pure-button button-small">Regresar</a></div>
</form>