#admin-menu(data-ng-include="'app/admin/menu/admin.menu.html'")
.filter-title
  span.publisher-name.
    Usuarios
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #users
        .shelf-content
          .margin-bottom-1
            |Inicio 
            input(type="date" ng-model="users.startDate")
            |Fin
            input(type="date" ng-model="users.endDate")
            select(ng-model="users.membership", ng-options="item as item for item in users.memberships",data-ng-change="updateMunicipalities()")
            a.pure-button.pure-button-primary.button-small(data-ng-click="users.search(users.startDate, users.endDate, users.membership)")
              |Buscar
          .shelf-message(ng-if="users.list.length < 1")
            .subtitle
              |No existen usuarios registrados.
          h1.align-right
            | Total {{users.list.length}}
          #list(ng-if="users.list.length > 0")
            table.info-table
              thead
                tr
                  th
                    |Nombre
                  th
                    |Email
                  th
                    |Membresia
                  th
                    |Orders
                  th
                    |Items
                  th
                    |Total
                  th
                    |Monedero
                  th
                    |Descuento
              tbody
                tr(ng-repeat="stat in users.list", data-ui-sref="admin.user({objectId : stat.user.objectId})")
                  td
                    |{{stat.user.name}} {{stat.user.lastname}}
                  td
                    |{{stat.user.username}}
                  td
                    |{{stat.user.membership}}
                  td
                    |{{stat.orders}}
                  td
                    |{{stat.items}}
                  td
                    |{{stat.total | currency}}
                  td
                    |{{stat.wallet | currency}}
                  td
                    |{{stat.discount | currency}}
.filter-title
  span.publisher-name.
    Usuarios que han comprado
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      .shelf-content
        .shelf-message(ng-if="users.buyers.length < 1")
          .subtitle
            |No existen usuarios con estos parametros.
        h1.align-right
          | Total {{users.buyers.length}}
        #list(ng-if="users.buyers.length > 0")
          table.info-table
            thead
              tr
                th
                  |Nombre
                th
                  |Email
                th
                  |Membresia
                th
                  |Orders
                th
                  |Items
                th
                  |Total
                th
                  |Monedero
                th
                  |Descuento
            tbody
              tr(ng-repeat="stat in users.buyers", data-ui-sref="admin.user({objectId : stat.user.objectId})")
                td
                  |{{stat.user.name}} {{stat.user.lastname}}
                td
                  |{{stat.user.username}}
                td
                  |{{stat.user.membership}}
                td
                  |{{stat.orders}}
                td
                  |{{stat.items}}
                td
                  |{{stat.total | currency}}
                td
                  |{{stat.wallet | currency}}
                td
                  |{{stat.discount | currency}}
.filter-title
  span.publisher-name.
    Usuarios que no han comprado
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      .shelf-content
        .shelf-message(ng-if="users.notBuyers.length < 1")
          .subtitle
            |No existen usuarios con estos parametros.
        h1.align-right
          | Total {{users.notBuyers.length}}
        #list(ng-if="users.notBuyers.length > 0")
          table.info-table
            thead
              tr
                th
                  |Nombre
                th
                  |Email
                th
                  |Membresia
                th
                  |Orders
                th
                  |Items
                th
                  |Total
                th
                  |Monedero
                th
                  |Descuento
            tbody
              tr(ng-repeat="stat in users.notBuyers", data-ui-sref="admin.user({objectId : stat.user.objectId})")
                td
                  |{{stat.user.name}} {{stat.user.lastname}}
                td
                  |{{stat.user.username}}
                td
                  |{{stat.user.membership}}
                td
                  |{{stat.orders}}
                td
                  |{{stat.items}}
                td
                  |{{stat.total | currency}}
                td
                  |{{stat.wallet | currency}}
                td
                  |{{stat.discount | currency}}