
<div class="filter-title"><span class="publisher-name">Usuarios</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="users">
        <div class="shelf-content">
          <div class="margin-bottom-1">Inicio 
            <input type="date" ng-model="users.startDate"/>Fin
            <input type="date" ng-model="users.endDate"/>
            <select ng-model="users.membership" ng-options="item as item for item in users.memberships" data-ng-change="updateMunicipalities()"></select><a data-ng-click="users.search(users.startDate, users.endDate, users.membership)" class="pure-button pure-button-primary button-small">Buscar</a>
          </div>
          <div ng-if="users.list.length &lt; 1" class="shelf-message">
            <div class="subtitle">No existen usuarios registrados.</div>
          </div>
          <h1 class="align-right">Total {{users.list.length}}</h1>
          <div id="list" ng-if="users.list.length &gt; 0">
            <table class="info-table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Membresia</th>
                  <th>Orders</th>
                  <th>Items</th>
                  <th>Total</th>
                  <th>Monedero</th>
                  <th>Descuento</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="stat in users.list" data-ui-sref="admin.user.profile({userId : stat.user.objectId})" class="pointer">
                  <td>{{stat.user.name}} {{stat.user.lastname}}</td>
                  <td>{{stat.user.username}}</td>
                  <td>{{stat.user.membership}}</td>
                  <td>{{stat.orders}}</td>
                  <td>{{stat.items}}</td>
                  <td>{{stat.total | currency}}</td>
                  <td>{{stat.wallet | currency}}</td>
                  <td>{{stat.discount | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Usuarios que han comprado</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div class="shelf-content">
        <div ng-if="users.buyers.length &lt; 1" class="shelf-message">
          <div class="subtitle">No existen usuarios con estos parametros.</div>
        </div>
        <h1 class="align-right">Total {{users.buyers.length}}</h1>
        <div id="list" ng-if="users.buyers.length &gt; 0">
          <table class="info-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Membresia</th>
                <th>Orders</th>
                <th>Items</th>
                <th>Total</th>
                <th>Monedero</th>
                <th>Descuento</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="stat in users.buyers" data-ui-sref="admin.user({objectId : stat.user.objectId})">
                <td>{{stat.user.name}} {{stat.user.lastname}}</td>
                <td>{{stat.user.username}}</td>
                <td>{{stat.user.membership}}</td>
                <td>{{stat.orders}}</td>
                <td>{{stat.items}}</td>
                <td>{{stat.total | currency}}</td>
                <td>{{stat.wallet | currency}}</td>
                <td>{{stat.discount | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Usuarios que no han comprado</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div class="shelf-content">
        <div ng-if="users.notBuyers.length &lt; 1" class="shelf-message">
          <div class="subtitle">No existen usuarios con estos parametros.</div>
        </div>
        <h1 class="align-right">Total {{users.notBuyers.length}}</h1>
        <div id="list" ng-if="users.notBuyers.length &gt; 0">
          <table class="info-table">
            <thead>
              <tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Membresia</th>
                <th>Orders</th>
                <th>Items</th>
                <th>Total</th>
                <th>Monedero</th>
                <th>Descuento</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="stat in users.notBuyers" data-ui-sref="admin.user({objectId : stat.user.objectId})" class="pointer">
                <td>{{stat.user.name}} {{stat.user.lastname}}</td>
                <td>{{stat.user.username}}</td>
                <td>{{stat.user.membership}}</td>
                <td>{{stat.orders}}</td>
                <td>{{stat.items}}</td>
                <td>{{stat.total | currency}}</td>
                <td>{{stat.wallet | currency}}</td>
                <td>{{stat.discount | currency}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>