#admin-menu(data-ng-include="'app/admin/publishers/menu/publisher.menu.html'")
div(data-ng-show="publisher.form")
  .filter-title
    span.publisher-name.
      Edit Publisher
  .shelf
    .inner-shelf
      .shelf-space
        .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
        publisher-form
.filter-title
  span.publisher-name.
    Publisher Info
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #publisher
        div
          |{{publisher.info.name}}
        div
          |{{publisher.info.label}}
        a.pure-button.pure-button-primary.button-small(data-ng-click="publisher.form = true")
          |Editar
        a.pure-button.button-small(data-ng-click="showModal()", data-question='¿Eliminar Publisher?', data-confirm="deletePublisher(publisher.info.objectId, $index)", confirm-message)
          i.fa.fa-trash 
          |Borrar
.filter-title
  span.publisher-name.
    Publisher Stats
.shelf
  .inner-shelf
    .shelf-space
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      #stats
