
<form name="publisherForm" novalidate="" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="child-container">
      <ng-form name="publisherForm">
        <div class="form-container">
          <label for="name" ng-show="publisherForm.name.$valid || publisherForm.name.$pristine">Nombre:</label>
          <label for="name" ng-show="publisherForm.name.$invalid &amp;&amp; publisherForm.name.$dirty" class="error">Nombre es requerido:</label>
          <div class="form-icon">
            <input id="name" name="name" data-ng-model="form.name" required="" class="pure-input-1"/><i ng-show="publisherForm.name.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="publisherForm.name.$valid &amp;&amp; publisherForm.name.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="publisherForm.name.$invalid &amp;&amp; publisherForm.name.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
        </div>
      </ng-form>
    </div>
  </fieldset>
  <div class="align-center margin-bottom"><a data-ng-click="saveProduct()" data-ng-class="{'pure-button-disabled': addressForm.$invalid, 'button-success':addressForm.$valid}" class="pure-button button-success button-small"><span data-ng-if="publisherForm.$invalid">Campos Requeridos    <i class="fa fa-dot-circle-o error"></i></span><span data-ng-if="publisherForm.$valid"><i class="fa fa-thumbs-o-up"></i>Guardar</span></a></div>
  <div class="align-center margin-bottom"><a data-ng-click="publisher.showForm(false)" class="pure-button">Cancelar</a></div>
</form>