#account-menu(data-ng-include="'app/account/menu/account.menu.html'")
.filter-title
  span.publisher-name.
    Mi Perfil
.shelf
  .inner-shelf
    .shelf-space
      form.pure-form.pure-form-stacked(name="profileForm", novalidate="")
        fieldset
          .child-container
            ng-form(name="profileForm")
              .form-container
                  label(for="name", ng-show="profileForm.name.$valid || profileForm.name.$pristine")
                    | Nombre:
                  label.error(for="name", ng-show="profileForm.name.$invalid && profileForm.name.$dirty")
                    | Nombre es requerido:
                  .form-icon
                    input.pure-input-1#name(name="name", data-ng-model="profile.user.name", required="")
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="profileForm.name.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="profileForm.name.$valid && profileForm.name.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="profileForm.name.$invalid && profileForm.name.$dirty")

                  label(for="lastname", ng-show="profileForm.lastname.$valid || profileForm.lastname.$pristine")
                    | Apellido:
                  label.error(for="lastname", ng-show="profileForm.lastname.$invalid && profileForm.lastname.$dirty")
                    | Apellido es requerido:
                  .form-icon
                    input.pure-input-1#lastname(name="lastname", data-ng-model="profile.user.lastname", required="")
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="profileForm.lastname.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="profileForm.lastname.$valid && profileForm.lastname.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="profileForm.lastname.$invalid && profileForm.lastname.$dirty")

                  label(for="email", ng-show="profileForm.email.$valid || profileForm.email.$pristine")
                    | Email:
                  label.error(for="email", ng-show="profileForm.email.$invalid && profileForm.email.$dirty")
                    | Email es invalido:
                  .form-icon
                    input.pure-input-1#email(name="email",type="email", data-ng-model="profile.user.username", required="")
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="profileForm.email.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="profileForm.email.$valid && profileForm.email.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="profileForm.email.$invalid && profileForm.email.$dirty")

                  label(for="phone", ng-show="profileForm.phone.$valid || profileForm.phone.$pristine")
                    | Movil:
                  label.error(for="phone", ng-show="profileForm.phone.$invalid && profileForm.phone.$dirty")
                    | Movil es invalido:
                  .form-icon
                    input.pure-input-1#phone(name="phone", data-ng-model="profile.user.phone", required="", data-ng-pattern="/[0-9]/",maxlength=10, data-ng-minlength=10 data-ng-maxlength=10)
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="profileForm.phone.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="profileForm.phone.$valid && profileForm.phone.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="profileForm.phone.$invalid && profileForm.phone.$dirty")
        .align-center
          a.pure-button(data-ng-click="saveProfile()", data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}", data-ng-if="profileForm.$invalid")
            | Campos Requeridos    
            i.fa.fa-dot-circle-o.error
          a.pure-button(data-ng-click="saveProfile()", data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}", data-ng-if="profileForm.$valid")
            i.fa.fa-thumbs-o-up
            | Guardar
.filter-title
  span.publisher-name.
    Mi Contraseña
.shelf
  .inner-shelf
    .shelf-space