#account-menu(data-ng-include="'app/account/menu/account.menu.html'")
.filter-title
  span.publisher-name.
    Mi Perfil
.shelf
  .inner-shelf
    .shelf-space
      form.pure-form.pure-form-stacked(name="profileForm", novalidate="")
        fieldset
          .child-container
            ng-form(name="profileForm")
              .form-container
                  label(for="name", ng-show="profileForm.name.$valid || profileForm.name.$pristine")
                    | Nombre:
                  label.error(for="name", ng-show="profileForm.name.$invalid && profileForm.name.$dirty")
                    | Nombre es requerido:
                  .form-icon
                    input.pure-input-1#name(name="name", data-ng-model="profile.user.name", required="")
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="profileForm.name.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="profileForm.name.$valid && profileForm.name.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="profileForm.name.$invalid && profileForm.name.$dirty")

                  label(for="lastname", ng-show="profileForm.lastname.$valid || profileForm.lastname.$pristine")
                    | Apellido:
                  label.error(for="lastname", ng-show="profileForm.lastname.$invalid && profileForm.lastname.$dirty")
                    | Apellido es requerido:
                  .form-icon
                    input.pure-input-1#lastname(name="lastname", data-ng-model="profile.user.lastname", required="")
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="profileForm.lastname.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="profileForm.lastname.$valid && profileForm.lastname.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="profileForm.lastname.$invalid && profileForm.lastname.$dirty")

                  label(for="email", ng-show="profileForm.email.$valid || profileForm.email.$pristine")
                    | Email:
                  label.error(for="email", ng-show="profileForm.email.$invalid && profileForm.email.$dirty")
                    | Email es invalido:
                  .form-icon
                    input.pure-input-1#email(name="email",type="email", data-ng-model="profile.user.username", required="")
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="profileForm.email.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="profileForm.email.$valid && profileForm.email.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="profileForm.email.$invalid && profileForm.email.$dirty")

                  label(for="phone", ng-show="profileForm.phone.$valid || profileForm.phone.$pristine")
                    | Movil:
                  label.error(for="phone", ng-show="profileForm.phone.$invalid && profileForm.phone.$dirty")
                    | Movil es invalido:
                  .form-icon
                    input.pure-input-1#phone(name="phone", data-ng-model="profile.user.phone", required="", data-ng-pattern="/[0-9]/",maxlength=10, data-ng-minlength=10 data-ng-maxlength=10)
                    i.fa.fa-dot-circle-o.medium-icon(ng-show="profileForm.phone.$pristine")
                    i.fa.fa-check-circle-o.success.medium-icon(ng-show="profileForm.phone.$valid && profileForm.phone.$dirty")
                    i.fa.fa-times-circle-o.error.medium-icon(ng-show="profileForm.phone.$invalid && profileForm.phone.$dirty")
        .align-center
          a.pure-button(data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}", data-ng-if="profileForm.$invalid")
            | Campos Requeridos    
            i.fa.fa-dot-circle-o.error
          a.pure-button(data-ng-click="profile.saveProfile()", data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}", data-ng-if="profileForm.$valid")
            i.fa.fa-thumbs-o-up
            | Guardar
.filter-title
  span.publisher-name.
    Mi Contraseña
.shelf
  .inner-shelf
    .shelf-space
      form.pure-form.pure-form-stacked(name="passwordForm", novalidate="")
        fieldset
          label(for="name", ng-show="passwordForm.oldPassword.$valid || passwordForm.oldPassword.$pristine")
            | Contraseña:
          label.error(for="oldPassword", ng-show="passwordForm.oldPassword.$invalid && passwordForm.oldPassword.$dirty")
            | Contraseña es requerido:
          .form-icon
            input.pure-input-1#oldPassword(name="oldPassword",type="password", data-ng-model="profile.oldPassword", required="")
            i.fa.fa-dot-circle-o.medium-icon(ng-show="passwordForm.oldPassword.$pristine")
            i.fa.fa-check-circle-o.success.medium-icon(ng-show="passwordForm.oldPassword.$valid && passwordForm.oldPassword.$dirty")
            i.fa.fa-times-circle-o.error.medium-icon(ng-show="passwordForm.oldPassword.$invalid && passwordForm.name.$dirty")
          label(for="password", ng-show="((passwordForm.password.$valid || passwordForm.password.$pristine) || (!passwordForm.password.$error.required  && passwordForm.password.$error.match && passwordForm.confirmPassword.$pristine)) && !(passwordForm.confirmPassword.$dirty && passwordForm.password.$error.required)")
            | Nueva contraseña
          label.error(for="password", ng-show="passwordForm.password.$error.required && (passwordForm.password.$dirty || passwordForm.confirmPassword.$dirty)")
            | Nueva contraseña requerida:
          label.error(for="password", ng-show="passwordForm.confirmPassword.$dirty && !passwordForm.password.$error.required && passwordForm.password.$error.match && passwordForm.password.$dirty")
            | Nueva contraseña no coincide:
          .form-icon
            input.pure-input-1#password(name="password", type="password" data-ng-model="profile.newPassword", required="", password-match="passwordMatch")
            i.fa.fa-dot-circle-o.medium-icon(ng-show="passwordForm.password.$pristine && !(passwordForm.confirmPassword.$dirty && passwordForm.password.$error.required)")
            i.fa.fa-check-circle-o.success.medium-icon(ng-show="(passwordForm.password.$valid && passwordForm.password.$dirty) || (passwordForm.confirmPassword.$pristine && passwordForm.password.$dirty && passwordForm.password.$error.match) ")
            i.fa.fa-times-circle-o.error.medium-icon(ng-show="(passwordForm.password.$error.required && passwordForm.password.$dirty) || (passwordForm.confirmPassword.$dirty && passwordForm.password.$error.match)")
        
          label(for="confirmPassword", ng-show="passwordForm.confirmPassword.$valid || passwordForm.confirmPassword.$pristine")
            | Confirmar Contraseña:
          label.error(for="confirmPassword", ng-show="passwordForm.confirmPassword.$error.required && passwordForm.confirmPassword.$dirty")
            | Contraseña requerida:
          .form-icon
            input.pure-input-1#confirmPassword(name="confirmPassword", type="password", data-ng-model="passwordMatch", required="")
            i.fa.fa-dot-circle-o.medium-icon(ng-show="passwordForm.confirmPassword.$pristine")
            i.fa.fa-check-circle-o.success.medium-icon(ng-show="passwordForm.confirmPassword.$valid && passwordForm.confirmPassword.$dirty")
            i.fa.fa-times-circle-o.error.medium-icon(ng-show="passwordForm.confirmPassword.$invalid && passwordForm.confirmPassword.$dirty")      
        .align-center
          a.pure-button(data-ng-class="{'pure-button-disabled': passwordForm.$invalid, 'button-success':passwordForm.$valid}", data-ng-if="passwordForm.$invalid")
            | Campos Requeridos    
            i.fa.fa-dot-circle-o.error
          a.pure-button(data-ng-click="profile.updatePassword()", data-ng-class="{'pure-button-disabled': passwordForm.$invalid, 'button-success':passwordForm.$valid}", data-ng-if="passwordForm.$valid")
            i.fa.fa-thumbs-o-up
            | Guardar
        .align-center.error(data-ng-if="shell.error")
          |{{shell.error}}
        .align-center.success(data-ng-if="shell.message")
          |{{shell.message}}