
<div id="account-menu" data-ng-include="'app/account/menu/account.menu.html'"></div>
<div class="filter-title"><span class="publisher-name">Mi Perfil</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <form name="profileForm" novalidate="" class="pure-form pure-form-stacked">
        <fieldset>
          <div class="child-container">
            <ng-form name="profileForm">
              <div class="form-container">
                <label for="name" ng-show="profileForm.name.$valid || profileForm.name.$pristine">Nombre:</label>
                <label for="name" ng-show="profileForm.name.$invalid &amp;&amp; profileForm.name.$dirty" class="error">Nombre es requerido:</label>
                <div class="form-icon">
                  <input id="name" name="name" data-ng-model="profile.user.name" required="" class="pure-input-1"/><i ng-show="profileForm.name.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="profileForm.name.$valid &amp;&amp; profileForm.name.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="profileForm.name.$invalid &amp;&amp; profileForm.name.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
                <label for="lastname" ng-show="profileForm.lastname.$valid || profileForm.lastname.$pristine">Apellido:</label>
                <label for="lastname" ng-show="profileForm.lastname.$invalid &amp;&amp; profileForm.lastname.$dirty" class="error">Apellido es requerido:</label>
                <div class="form-icon">
                  <input id="lastname" name="lastname" data-ng-model="profile.user.lastname" required="" class="pure-input-1"/><i ng-show="profileForm.lastname.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="profileForm.lastname.$valid &amp;&amp; profileForm.lastname.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="profileForm.lastname.$invalid &amp;&amp; profileForm.lastname.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
                <label for="email" ng-show="profileForm.email.$valid || profileForm.email.$pristine">Email:</label>
                <label for="email" ng-show="profileForm.email.$invalid &amp;&amp; profileForm.email.$dirty" class="error">Email es invalido:</label>
                <div class="form-icon">
                  <input id="email" name="email" type="email" data-ng-model="profile.user.username" required="" class="pure-input-1"/><i ng-show="profileForm.email.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="profileForm.email.$valid &amp;&amp; profileForm.email.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="profileForm.email.$invalid &amp;&amp; profileForm.email.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
                <label for="phone" ng-show="profileForm.phone.$valid || profileForm.phone.$pristine">Movil:</label>
                <label for="phone" ng-show="profileForm.phone.$invalid &amp;&amp; profileForm.phone.$dirty" class="error">Movil es invalido:</label>
                <div class="form-icon">
                  <input id="phone" name="phone" data-ng-model="profile.user.phone" required="" data-ng-pattern="/[0-9]/" maxlength="10" data-ng-minlength='10' data-ng-maxlength='10' class="pure-input-1"/><i ng-show="profileForm.phone.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="profileForm.phone.$valid &amp;&amp; profileForm.phone.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="profileForm.phone.$invalid &amp;&amp; profileForm.phone.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
                </div>
              </div>
            </ng-form>
          </div>
        </fieldset>
        <div class="align-center"><a data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}" data-ng-if="profileForm.$invalid" class="pure-button">Campos Requeridos    <i class="fa fa-dot-circle-o error"></i></a><a data-ng-click="saveProfile()" data-ng-class="{'pure-button-disabled': profileForm.$invalid, 'button-success':profileForm.$valid}" data-ng-if="profileForm.$valid" class="pure-button"><i class="fa fa-thumbs-o-up"></i>Guardar</a></div>
      </form>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Mi Contraseña</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <form name="passwordForm" novalidate="" class="pure-form pure-form-stacked">
        <fieldset>
          <label for="name" ng-show="passwordForm.oldPassword.$valid || passwordForm.oldPassword.$pristine">Contraseña:</label>
          <label for="oldPassword" ng-show="passwordForm.oldPassword.$invalid &amp;&amp; passwordForm.oldPassword.$dirty" class="error">Contraseña es requerido:</label>
          <div class="form-icon">
            <input id="oldPassword" name="oldPassword" data-ng-model="profile.oldPassword" required="" class="pure-input-1"/><i ng-show="passwordForm.oldPassword.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="passwordForm.oldPassword.$valid &amp;&amp; passwordForm.oldPassword.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="passwordForm.oldPassword.$invalid &amp;&amp; passwordForm.name.$dirty" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
          <label for="password" ng-show="((passwordForm.password.$valid || passwordForm.password.$pristine) || (!passwordForm.password.$error.required  &amp;&amp; passwordForm.password.$error.match &amp;&amp; passwordForm.confirmPassword.$pristine)) &amp;&amp; !(passwordForm.confirmPassword.$dirty &amp;&amp; passwordForm.password.$error.required)">Nueva contraseña</label>
          <label for="password" ng-show="passwordForm.password.$error.required &amp;&amp; (passwordForm.password.$dirty || passwordForm.confirmPassword.$dirty)" class="error">Nueva contraseña requerida:</label>
          <label for="password" ng-show="passwordForm.confirmPassword.$dirty &amp;&amp; !passwordForm.password.$error.required &amp;&amp; passwordForm.password.$error.match &amp;&amp; passwordForm.password.$dirty" class="error">Nueva contraseña no coincide:</label>
          <div class="form-icon">
            <input id="password" name="password" type="password" data-ng-model="profile.newPassword" required="" password-match="passwordMatch" class="pure-input-1"/><i ng-show="passwordForm.password.$pristine &amp;&amp; !(passwordForm.confirmPassword.$dirty &amp;&amp; passwordForm.password.$error.required)" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="(passwordForm.password.$valid &amp;&amp; passwordForm.password.$dirty) || (passwordForm.confirmPassword.$pristine &amp;&amp; passwordForm.password.$dirty &amp;&amp; passwordForm.password.$error.match) " class="fa fa-check-circle-o success medium-icon"></i><i ng-show="(passwordForm.password.$error.required &amp;&amp; passwordForm.password.$dirty) || (passwordForm.confirmPassword.$dirty &amp;&amp; passwordForm.password.$error.match)" class="fa fa-times-circle-o error medium-icon"></i>
          </div>
          <label for="confirmPassword" ng-show="passwordForm.confirmPassword.$valid || passwordForm.confirmPassword.$pristine">Confirmar Contraseña:</label>
          <label for="confirmPassword" ng-show="passwordForm.confirmPassword.$error.required &amp;&amp; passwordForm.confirmPassword.$dirty" class="error">Contraseña requerida:</label>
          <div class="form-icon">
            <input id="confirmPassword" name="confirmPassword" type="password" data-ng-model="passwordMatch" required="" class="pure-input-1"/><i ng-show="passwordForm.confirmPassword.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="passwordForm.confirmPassword.$valid &amp;&amp; passwordForm.confirmPassword.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="passwordForm.confirmPassword.$invalid &amp;&amp; passwordForm.confirmPassword.$dirty" class="fa fa-times-circle-o error medium-icon">     </i>
          </div>
        </fieldset>
        <div class="align-center"><a data-ng-class="{'pure-button-disabled': passwordForm.$invalid, 'button-success':passwordForm.$valid}" data-ng-if="passwordForm.$invalid" class="pure-button">Campos Requeridos    <i class="fa fa-dot-circle-o error"></i></a><a data-ng-click="updatePassword()" data-ng-class="{'pure-button-disabled': passwordForm.$invalid, 'button-success':passwordForm.$valid}" data-ng-if="passwordForm.$valid" class="pure-button"><i class="fa fa-thumbs-o-up"></i>Guardar</a></div>
        <div data-ng-if="shell.error" class="align-center error">{{shell.error}}</div>
        <div data-ng-if="shell.message" class="align-center success">{{shell.message}}</div>
      </form>
    </div>
  </div>
</div>