.section-title
  | {{view.user.name}} {{view.user.lastname}}
#submenu.hidden.visible-lg-block(data-ng-if="shell.isAdmin")
  nav
    a(data-ui-sref="admin.user.orders", data-ng-class="{'active':shell.submenu == 'orders'}", data-ng-bind="shell.labels.orders")
    a(data-ui-sref="admin.user.series", data-ng-class="{'active':shell.submenu == 'series'}", data-ng-bind="shell.labels.series")
    a(data-ui-sref="admin.user.account", data-ng-class="{'active':shell.submenu == 'account'}", data-ng-bind="shell.labels.membership")
    a(data-ui-sref="admin.user.profile", data-ng-class="{'active':shell.submenu == 'profile'}", data-ng-bind="shell.labels.profile")
    a(data-ui-sref="admin.user.address", data-ng-class="{'active':shell.submenu == 'address'}", data-ng-bind="shell.labels.addresses")
    a(data-ui-sref="admin.user.payment", data-ng-class="{'active':shell.submenu == 'payment'}", data-ng-bind="shell.labels.cards")
    a(data-ui-sref="admin.user.wallet", data-ng-class="{'active':shell.submenu == 'wallet'}", data-ng-bind="shell.labels.wallet")