.section-title
  | {{view.user.name}} {{view.user.lastname}}
#submenu.hidden.visible-lg-block(data-ng-if="shell.isAdmin")
  nav
    a(data-ui-sref="admin.user.account", data-ng-class="{'active':shell.submenu == 'account'}")
      |Cuenta
    a(data-ui-sref="admin.user.profile", data-ng-class="{'active':shell.submenu == 'profile'}")
      |Perfil
    a(data-ui-sref="admin.user.address", data-ng-class="{'active':shell.submenu == 'address'}")
      |Direcciones
    a(data-ui-sref="admin.user.payment", data-ng-class="{'active':shell.submenu == 'cards'}")
      |Tarjetas
    a(data-ui-sref="admin.user.wallet", data-ng-class="{'active':shell.submenu == 'wallet'}")
      |Monedero