/* line 3, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.opacity-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 4; }

/* line 12, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.confirmation-box {
  border: solid 1px rgba(0, 0, 0, 0.12);
  margin: 0 auto;
  border-radius: 0.5rem;
  background: url('/common/images/satinweave.png');
  padding: 1rem;
  margin-top: 15%;
  display: block; }
  /* line 20, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  .confirmation-box .confirmation-text {
    font-size: 1.2rem; }
  /* line 22, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  .confirmation-box .confirmation-buttons {
    margin-top: 1rem; }
  /* line 24, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  .confirmation-box .icon {
    font-size: 5rem;
    color: #dd514c;
    line-height: 5rem; }

/* line 33, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.spinner-circle {
  margin: 20px auto;
  width: 100px;
  height: 100px;
  position: relative;
  top: 35%;
  text-align: center;
  -webkit-animation: rotate 2s infinite linear;
  -webkit-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear; }

/* line 45, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #666;
  border-radius: 100%;
  -webkit-animation: bounce 2s infinite ease-in-out;
  animation: bounce 2s infinite ease-in-out; }

/* line 56, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.dot2 {
  top: auto;
  bottom: 0px;
  animation-delay: -1s;
  -webkit-animation-delay: -1s; }

@-webkit-keyframes rotate {
  /* line 63, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes rotate {
  /* line 63, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes rotate {
  /* line 67, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  100% {
    -webkit-transform: rotate(360deg);
    -webkit-transform: rotate(360deg); } }

@-webkit-keyframes bounce {
  /* line 72, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  0%, 100% {
    -webkit-transform: scale(0); }

  /* line 74, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  /* line 72, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  0%, 100% {
    -webkit-transform: scale(0); }

  /* line 74, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  50% {
    -webkit-transform: scale(1); } }

@keyframes bounce {
  -webkit-transform: scale(1);
  -webkit-transform: scale(1);
  /* line 78, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  0%, 100% {
    -webkit-transform: scale(0);
    -webkit-transform: scale(0); }
 }

/* line 88, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.spinner-rectangle {
  margin: 20px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px; }

/* line 95, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.spinner-rectangle > div {
  background-color: #666;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out; }

/* line 103, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.spinner-rectangle .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

/* line 107, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.spinner-rectangle .rect3 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

/* line 111, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.spinner-rectangle .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

/* line 115, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.spinner-rectangle .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

@-webkit-keyframes stretchdelay {
  /* line 120, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }

  /* line 123, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

@keyframes stretchdelay {
  /* line 120, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4); }

  /* line 123, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1); } }

/* line 127, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.spinner-square {
  margin: 0 auto;
  width: 4rem;
  height: 4rem;
  position: relative; }

/* line 133, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.cube1, .cube2 {
  background-color: rgba(255, 255, 255, 0.87);
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out; }

/* line 143, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

@-webkit-keyframes cubemove {
  /* line 148, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  25% {
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }

  /* line 150, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  50% {
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }

  /* line 152, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  75% {
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }

  /* line 154, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  100% {
    -webkit-transform: rotate(-360deg); } }

@keyframes cubemove {
  /* line 158, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  25% {
    transform: translateX(42px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5); }

  /* line 161, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  50% {
    transform: translateX(42px) translateY(42px) rotate(-179deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg); }

  /* line 164, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  50.1% {
    transform: translateX(42px) translateY(42px) rotate(-180deg);
    -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg); }

  /* line 167, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  75% {
    transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5); }

  /* line 170, /Users/carloscanizal/projects/perro-de-cobre/src/client/common/css/loading/loading.sass */
  100% {
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg); } }
