#admin-menu(data-ng-include="'app/admin/assistent/menu/assistent.menu.html'")
#speech(data-ng-if="!assistent.speech")
  .filter-title
    span.publisher-name.
      Speech
  .shelf
    .inner-shelf
      .shelf-space
        .align-center
          .big-button.launch(data-ng-click="assistent.speechDone()")
            a.launch.launch-border
              i.fa.fa-rocket
            .big-button-label.launch
              | LAUNCH
#answer(data-ng-if="assistent.speech && assistent.answer ")
  .filter-title
    span.publisher-name.
      Answer
  .shelf
    .inner-shelf
      .shelf-space
        .pure-g
          .pure-u-1.pure-u-sm-1-2
            .big-button.success(data-ui-sref="admin.assistentStart")
              a
                i.fa.fa-thumbs-up
              .big-button-label
                | OK
          .pure-u-1.pure-u-sm-1-2
            .big-button.error(data-ng-click="assistent.giveReason()")
              a.error.error-border
                i.fa.fa-thumbs-down
              .big-button-label
                | NOPE
        .align-center
          a.pure-button(data-ng-click="assistent.cancel()")
            |Cancelar
#nope(data-ng-if="assistent.nope")
  .filter-title
    span.publisher-name.
      Reason
  .shelf
    .inner-shelf
      .shelf-space
        |¿Por qué no te interesa la membresia? {{assistent.reason}}
        .margin-top-1
          input.margin-right-1(type="radio" name="reason" value="nocard" data-ng-model="assistent.reason")
          span
            | No tengo tarjeta de credito.
        .margin-top-1
          input.margin-right-1(type="radio" name="reason" value="expensive" data-ng-model="assistent.reason")
          span
            | Es muy caro.
        .margin-top-1
          input.margin-right-1(type="radio" name="reason" value="noOnline" data-ng-model="assistent.reason")
          span
            | No confio en las compras en linea.
        .margin-top-1
          input.margin-right-1(type="radio" name="reason" value="volumen" data-ng-model="assistent.reason")
          span
            | No me conviene.
        .margin-top-1
          input.margin-right-1(type="radio" name="reason" value="stores" data-ng-model="assistent.reason")
          span
            | Prefiero ir a las tiendas.
        .margin-top-1
          span
            |Especificar:
          input.margin-right-1(data-ng-model="assistent.reason")
        .align-center.margin-top-1
          a.pure-button.pure-button-primary.margin-right-1(data-ng-click="assistent.saveReason()")
            |Enviar
          a.pure-button(data-ng-click="assistent.cancel()")
            |Cancelar
          


