
<div id="admin-menu" data-ng-include="'app/admin/assistent/menu/assistent.menu.html'"></div>
<div class="filter-title"><span class="publisher-name">Usuarios</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="users">
        <div class="shelf-content">
          <h1 class="align-right"><span class="margin-right-1 error">Nopes: {{users.nopes.length}}</span><span class="margin-right-1 success">Total: {{users.list.length}}</span></h1>
          <div ng-if="users.list.length &lt; 1" class="shelf-message">
            <div class="subtitle">No existen usuarios registrados.</div>
          </div>
          <div id="list" ng-if="users.list.length &gt; 0">
            <table class="info-table">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Email</th>
                  <th>Membresia</th>
                  <th>Orders</th>
                  <th>Items</th>
                  <th>Total</th>
                  <th>Monedero</th>
                  <th>Descuento</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="stat in users.list" data-ui-sref="admin.user.orders({userId : stat.user.objectId})" class="pointer">
                  <td>{{stat.user.name}} {{stat.user.lastname}}</td>
                  <td>{{stat.user.username}}</td>
                  <td>{{stat.user.membership}}</td>
                  <td>{{stat.orders}}</td>
                  <td>{{stat.items}}</td>
                  <td>{{stat.total | currency}}</td>
                  <td>{{stat.wallet | currency}}</td>
                  <td>{{stat.discount | currency}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>