#admin-menu(data-ng-include="'app/admin/assistent/menu/assistent.menu.html'")
.filter-title
  span.publisher-name(data-ng-bind="shell.labels.generalInformation")
.shelf
  .inner-shelf
    .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
    .shelf-space
      .shelf-content(data-ng-hide="loading")
        .pure-g
          .pure-u-1.pure-u-md-1-2.border-right
            .information-box.padding-right-1
              .information-title.uppercase(data-ng-bind="shell.labels.summary")
              table.info
                tbody
                  tr
                    td.info-label(data-ng-bind="shell.labels.name+':'")
                    td.info-value
                      |{{assistentUser.user.name}} {{assistentUser.user.lastname}}
                  tr
                    td.info-label(data-ng-bind="shell.labels.email+':'")
                    td.info-value
                      |{{assistentUser.user.username}}
                  tr
                    td.info-label(data-ng-bind="shell.labels.mobile+':'")
                    td.info-value
                      | {{assistentUser.user.phone}}
          .pure-u-1.pure-u-md-1-2
            .information-box.padding-side-1(data-ng-if="assistentUser.user.membership  == 'basic'")
              .information-title.uppercase(data-ng-bind="shell.labels.paymentMethod")
              div.align-center
                a.pure-button.pure-button-primary(data-ng-click="assistentUser.paymentMethod = 'card'", data-ng-bind="shell.labels.card")
              div.align-center.margin-top-1 
                a.pure-button(data-ng-click="assistentUser.paymentMethod = 'cash'")
                  |Pago en Efectivo
            .information-box.padding-side-1.align-center.success(data-ng-if="assistentUser.user.membership  == 'pro'")
              .align-center.font-large
                i.fa.fa-check-circle
              |Usuario suscrito correctamente.
#new-card(data-ng-if="assistentUser.paymentMethod == 'card' && assistentUser.user.membership  == 'basic' && !assistentUser.subscription.payment")
  .filter-title
    span.publisher-name
      | Agregar Tarjeta
  .shelf
    .inner-shelf
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      .shelf-space(data-ng-hide="loading")
        .shelf-content(data-ng-hide="loading")
          card-form(conekta-id="{{assistentUser.user.conektaId}}")
.align-center.margin-bottom-1(data-ng-if="assistentUser.paymentMethod == 'card' && assistentUser.user.membership  == 'basic' && assistentUser.subscription.payment")
  .accent.margin-bottom-1
    |La tarjeta se agrego con exito.
  a.pure-button.pure-button-primary.button-large(data-ng-click="assistentUser.updateMembership('pro')")
    | Actualizar Cuenta
.align-center.margin-bottom-1(data-ng-if="assistentUser.paymentMethod == 'cash' && assistentUser.user.membership  == 'basic'")
  .accent.margin-bottom-1
    |Realiza el cobro y da click.
  a.pure-button.pure-button-primary.button-large(data-ng-click="assistentUser.updateCash()")
    | Actualizar Cuenta
.buttons-container(data-ng-if="assistentUser.user.membership  == 'pro'")
  .align-center.font-large
    a(data-ui-sref="admin.assistent")
      i.fa.fa-plus-circle
  |Agregar usuario nuevo.