#series-menu(data-ng-include="'app/serie/menu/serie.menu.html'")
.filter-title
  span.publisher-name
    | {{serie.info.name}}
.shelf
  .inner-shelf
    .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
    .shelf-content(data-ng-hide="loading")
      .pure-g
        .pure-u-1.pure-u-md-1-3
          .item
            .item-image
              img(alt="", ng-src="{{serie.info.cover.url}}")
        .pure-u-1.pure-u-md-2-3
          .item(data-ng-if="serie.subscription.status != 'canceled'")
            .title.uppercase
              | {{serie.info.name}}
            .row(data-ng-if="serie.subscription.status == 'active'")
              .row.subtitle.success(data-ng-bind="shell.labels.subscriptionActive")
              a.pure-button.button-warning.button-small(data-ng-click="serie.changeStatus('paused')", data-ng-bind="shell.labels.pauseSubscription")
            .row(data-ng-if="serie.subscription.status == 'paused'")
              .row.subtitle.warning(data-ng-bind="shell.labels.subscriptionPaused")
              a.pure-button.button-success.button-small(data-ng-click="serie.changeStatus('active')", data-ng-bind="shell.labels.activeSubscription")
            .row
              a.pure-button.button-error.button-small(data-ng-click="serie.changeStatus('canceled')", data-ng-bind="shell.labels.cancelSubscription")
          .item(data-ng-if="serie.subscription.status == 'canceled'")
            .row.subtitle
              span(data-ng-bind="shell.labels.subscriptionText1")
              span.uppercase(data-ng-bind="serie.info.name")
              span(data-ng-bind="shell.labels.subscriptionText2")
            a.pure-button.button-success(data-ng-click="serie.changeStatus('active')", data-ng-bind="shell.labels.activeSubscription")