#series-menu(data-ng-include="'app/serie/menu/serie.menu.html'")
.filter-title
  span.publisher-name.
    {{serie.name}}
.shelf
  .inner-shelf
    .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
    .shelf-content(data-ng-hide="loading").
      Serie
          