.section-title
  | Mis Ordenes
#submenu.hidden.visible-lg-block(data-ng-if="shell.isDashboard")
  nav
    a(data-ui-sref="dashboard.orders", data-ng-class="{'active':shell.submenu == 'orders'}")
      |Ordenes
    