
<div id="admin-menu" data-ng-include="'app/admin/orders/menu/orders.menu.html'" data-ng-if="!orders.byUser"></div>
<div id="admin-menu" data-ng-include="'app/admin/users/menu/user.menu.html'" data-ng-if="orders.byUser"></div>
<div class="filter-title"><span class="publisher-name">Ordenes</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-include="'app/layout/loading/loading.template.html'" data-ng-show="loading" class="spinner"></div>
      <div id="orders">
        <div class="query-params"><span class="margin-right-1-2">Inicio </span>
          <input type="date" ng-model="orders.startDate"/><span class="margin-side-1-2">Fin</span>
          <input type="date" ng-model="orders.endDate"/><a data-ng-click="orders.getOrders(orders.startDate, orders.endDate)" class="pure-button pure-button-primary button-small margin-left-1-2">Buscar</a>
        </div>
        <div class="shelf-content">
          <div ng-if="orders.list.length &lt; 1" class="shelf-message">
            <div class="subtitle align-center">No existen ordenes registradas.</div>
          </div>
          <div ng-repeat="item in orders.list" data-ui-sref="admin.order({objectId : item.objectId})" class="list-item">
            <div class="pure-g">
              <div class="pure-u-1 pure-u-md-1-5">
                <div class="pure-g">
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 text-secondary-black">Referencia</div>
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 info-value">{{item.referenceId}}</div>
                </div>
              </div>
              <div class="pure-u-1 pure-u-md-1-5">
                <div class="pure-g">
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 text-secondary-black">Fecha</div>
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 info-value">{{item.createdAt | date: 'mediumDate'}}</div>
                </div>
              </div>
              <div class="pure-u-1 pure-u-md-1-5">
                <div class="pure-g">
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 text-secondary-black">Monto</div>
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 info-value">{{item.amount | currency}}</div>
                </div>
              </div>
              <div class="pure-u-1 pure-u-md-1-5">
                <div class="pure-g">
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 text-secondary-black">Estado</div>
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 info-value">{{item.status}}</div>
                </div>
              </div>
              <div class="pure-u-1 pure-u-md-1-5">
                <div class="pure-g">
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 text-secondary-black">Tipo</div>
                  <div class="pure-u-1-2 pure-u-sm-1-4 pure-u-md-1 info-value">{{item.type}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>