#placeOrder(data-ng-show="checkout.showPlaceOrder")
  .filter-title
    span.publisher-name.
     Confirmar Orden
  .shelf
    .disable-shelf(data-ng-show="checkout.showConfirmation")
      i.fa.fa-check-square-o.fa-5.success
    .inner-shelf
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      .shelf-space
        .shelf-content(data-ng-hide="loading")
          .pure-g
            .pure-u-1.pure-u-md-1-3.border-right
              .information-box.padding-right-1
                .information-title
                  | Envio:
                .description.margin-bottom
                  | {{shell.shoppingCart.shippingAddress.street}} {{shell.shoppingCart.shippingAddress.number}} {{shell.shoppingCart.shippingAddress.apt}}
                  br
                  | Colonia {{shell.shoppingCart.shippingAddress.district}}, {{shell.shoppingCart.shippingAddress.municipality}} 
                  br
                  | {{shell.shoppingCart.shippingAddress.country}}, {{shell.shoppingCart.shippingAddress.state}}, {{shell.shoppingCart.shippingAddress.zip}} 
                .address-line
                  a.pure-button.button-xsmall(data-ng-click="checkout.toAddress()")
                    | Modificar

            .pure-u-1.pure-u-md-1-3.border-right
              .information-box.padding-side-1
                .information-title
                  | Metodo de pago:
                .address-line
                  | {{shell.shoppingCart.paymentMethod.card.name}}
                .address-line
                  i.fa.fa-cc-visa.visa(ng-if="shell.shoppingCart.paymentMethod.card.brand == 'VISA'")
                  i.fa.fa-cc-mastercard.mastercard(ng-if="shell.shoppingCart.paymentMethod.card.brand == 'MC'")
                  i.fa.fa-cc-amex.amex(ng-if="shell.shoppingCart.paymentMethod.card.brand == 'AMERICAN_EXPRESS'")
                  | **** **** **** {{shell.shoppingCart.paymentMethod.card.last4}}
                .address-line
                  a.pure-button.button-xsmall(data-ng-click="checkout.toPaymentMethod()")
                    | Modificar
            .pure-u-1.pure-u-sm-1-3
              .information-box.no-border.no-margin.align-center.padding-side-1
                div(data-ng-include="'app/cart/checkout/totals/totals.template.html'")
                .address-line
                  a.pure-button.button-success.margin-bottom(data-ng-click="placeOrder()", data-ng-hide="showConfirmation")
                    i.fa.fa-money
                    | Pagar
                .address-line.no-padding
                  a.pure-button(data-ng-click="showModal()", data-question='¿Ir al carrito?', data-confirm="checkout.goToCart()", data-ng-hide="checkout.showConfirmation", confirm-message)
                    i.fa.fa-shopping-cart
                    | Ir al carrito
#orderStatus(data-ng-show="checkout.showConfirmation || checkout.completed")
  .filter-title
    span.publisher-name.
     Confirmación
  .shelf
    .inner-shelf
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="waitingForResponse")
      .shelf-space
        .shelf-content(data-ng-hide="waitingForResponse")
          .success-container(data-ng-if="checkout.completed")
            i.fa.fa-check-circle.fa-8
            h2
              | ¡Gracias por tu compra!
          .error-container(data-ng-if="!checkout.completed")
            i.fa.fa-credit-card.fa-8
            h2
              | {{errorMessage}}
            .address-line.no-padding
              a.pure-button.pure-button-primary(data-ng-click="changePaymentMethod()")
                i.fa.fa-credit-card
                | Cambiar metodo de Pago
  div(data-ng-include="'app/order/orderInfo.template.html'", data-ng-if="checkout.completed")