#account-menu(data-ng-include="'app/account/menu/account.menu.html'")
.filter-title
  span.publisher-name.
    Mi Membresia
.shelf
  .inner-shelf
    .shelf-space
      div
        | {{vm.currentUser.membership}}
.filter-title
  span.publisher-name.
    Actualiza Membrecia
.shelf
  .inner-shelf
    .shelf-space
      div(data-ng-if="vm.currentUser.membership  == 'basic'")
        a.pure-button.pure-button-primary(data-ng-click="updateMembership('pro')")
          | Actualizar a PRO
      div(data-ng-if="vm.currentUser.membership  == 'pro'")
        a.pure-button.pure-button-primary(data-ng-click="updateMembership('basic')")
          | Cancelar Membrecia