
<div id="account-menu" data-ng-include="'app/account/menu/account.menu.html'"></div>
<div class="filter-title"><span class="publisher-name">Mi Membresia</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div>{{vm.currentUser.membership}}</div>
    </div>
  </div>
</div>
<div class="filter-title"><span class="publisher-name">Actualiza Membrecia</span></div>
<div class="shelf">
  <div class="inner-shelf">
    <div class="shelf-space">
      <div data-ng-if="vm.currentUser.membership  == 'basic'"><a data-ng-click="updateMembership('pro')" class="pure-button pure-button-primary">Actualizar a PRO</a></div>
      <div data-ng-if="vm.currentUser.membership  == 'pro'"><a data-ng-click="updateMembership('basic')" class="pure-button pure-button-primary">Cancelar Membrecia</a></div>
    </div>
  </div>
</div>