span(data-ng-bind="shell.labels.cancelText1")
form.pure-form.pure-form-stacked(name="cancelForm", novalidate="")
  fieldset
    .child-container
      ng-form(name="cancelForm")
        .form-container
            label(for="comment", ng-show="cancelForm.comment.$valid || cancelForm.comment.$pristine", data-ng-bind="shell.labels.comment")
            label.error(for="comment", ng-show="cancelForm.comment.$invalid && cancelForm.comment.$dirty", data-ng-bind="shell.labels.commentRequired")
            .form-icon
              textarea#comment(name="comment", data-ng-model="unsubscribe.comment", required="")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="cancelForm.comment.$pristine")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="cancelForm.comment.$valid && cancelForm.comment.$dirty")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="cancelForm.comment.$invalid && cancelForm.comment.$dirty")          
  .align-center.margin-bottom
    a.pure-button(data-ng-if="cancelForm.$invalid")
      i.fa.fa-dot-circle-o
      span(data-ng-bind="shell.labels.fieldsRequired")
    a.pure-button.button-error(data-ng-click="showModal()", data-question='¿Deseas cancelar tu membresia?', data-confirm="cancelMembership(account.user)",data-ng-if="cancelForm.$valid", confirm-message)
      i.fa.fa-times
      span(data-ng-bind="shell.labels.cancelMembership")
  .align-center.margin-bottom
    a.pure-button.button-success(data-ng-click="account.hideCancelForm()")
      i.fa.fa-check
      span(data-ng-bind="shell.labels.noCancel")