<span data-ng-bind="shell.labels.cancelText1"></span>
<form name="cancelForm" novalidate="" class="pure-form pure-form-stacked">
  <fieldset>
    <div class="child-container">
      <ng-form name="cancelForm">
        <div class="form-container">
          <label for="comment" ng-show="cancelForm.comment.$valid || cancelForm.comment.$pristine" data-ng-bind="shell.labels.comment"></label>
          <label for="comment" ng-show="cancelForm.comment.$invalid &amp;&amp; cancelForm.comment.$dirty" data-ng-bind="shell.labels.commentRequired" class="error"></label>
          <div class="form-icon">
            <textarea id="comment" name="comment" data-ng-model="unsubscribe.comment" required=""></textarea><i ng-show="cancelForm.comment.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="cancelForm.comment.$valid &amp;&amp; cancelForm.comment.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="cancelForm.comment.$invalid &amp;&amp; cancelForm.comment.$dirty" class="fa fa-times-circle-o error medium-icon">         </i>
          </div>
        </div>
      </ng-form>
    </div>
  </fieldset>
  <div class="align-center margin-bottom"><a data-ng-if="cancelForm.$invalid" class="pure-button"><i class="fa fa-dot-circle-o"></i><span data-ng-bind="shell.labels.fieldsRequired"></span></a><a data-ng-click="showModal()" data-question="¿Deseas cancelar tu membresia?" data-confirm="cancelMembership(account.user)" data-ng-if="cancelForm.$valid" confirm-message="confirm-message" class="pure-button button-error"><i class="fa fa-times"></i><span data-ng-bind="shell.labels.cancelMembership"></span></a></div>
  <div class="align-center margin-bottom"><a data-ng-click="account.hideCancelForm()" class="pure-button button-success"><i class="fa fa-check"></i><span data-ng-bind="shell.labels.noCancel"></span></a></div>
</form>