@import '../../colors'

#menu-button
  position: fixed
  top: 0
  left: 0
  background-color: $primary-color
  color: $text-primary-white
  font-size: 2rem
  padding: 0.3rem 0.8rem
  z-index: 2
  cursor: pointer

#mobile-menu
  position: fixed
  width: 100%
  background-color: $primary-color
  bottom: 0
  left: 0
  z-index: 2
  text-align: center
  color: $text-primary-white
  a
    display: inline-block
    width:100%
    font-size: 2rem
    color: $text-primary-white
    text-decoration: none
  span
    margin: 0 0.5rem

.mobile-menu-item
  cursor: pointer
  border-right: solid 1px $dividers-white
  box-sizing: border-box
  font-family: 'Raleway' !important

#mobile-side-menu
  padding: 1rem
  position: fixed
  width:60%
  height:100%;
  background-color: $primary-color
  z-index: 3
  top: 0
  left: 0

.logo-mobile
  text-align: center
  img
    width: 40%
  border-bottom: solid 1px $dividers-white

