
<div data-ng-if="showModal" class="opacity-layer">
  <div class="pure-g">
    <div class="confirmation-box pure-u-3-4 pure-u-sm-1-2 pure-u-md-1-3 align-center">
      <div class="icon"><i class="fa fa-question-circle"></i></div>
      <div data-ng-bind="question" class="confirmation-text"></div>
      <div class="confirmation-buttons"><a data-ng-click="cancelModal()" class="pure-button margin-right">No,Cancelar</a><a data-ng-click="confirmModal()" class="pure-button button-error">Si, Continuar</a></div>
    </div>
  </div>
</div>