.opacity-layer(data-ng-if="showModal")
  .pure-g
    .confirmation-box.pure-u-3-4.pure-u-sm-1-2.pure-u-md-1-3.align-center
      .icon
        i.fa.fa-question-circle
      .confirmation-text(data-ng-bind="question")
      .confirmation-buttons
        a.pure-button.margin-right(data-ng-click="cancelModal()",data-ng-bind="shell.labels.noCancel")
        a.pure-button.button-error(data-ng-click="confirmModal()", data-ng-bind="shell.labels.yesContinue")