.left-pane.mobile
  .logo-mobile
    img(src="common/images/quimera-white.png")
  nav.side-menu(data-ng-if="shell.isAdmin")
    a.pointer(ui-sref="admin.users", data-ng-class="{'active': shell.menu == 'users'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.users")
    a.pointer(ui-sref="admin.orders", data-ng-class="{'active': shell.menu == 'orders'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.orders")
    a.pointer(ui-sref="admin.products", data-ng-class="{'active': shell.menu == 'products'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.products")
    a.pointer(ui-sref="admin.publishers", data-ng-class="{'active': shell.menu == 'publishers'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.publishers")
    a.pointer(ui-sref="admin.series", data-ng-class="{'active': shell.menu == 'series'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.series")
    a.pointer(ng-click="shell.logout()",data-ng-if="shell.currentUser", data-ng-bind="shell.labels.goOut")
  nav.side-menu(data-ng-if="!shell.isDashboard && !shell.isAdmin")
    a.pointer(ui-sref="about", data-ng-class="{'active': shell.menu == 'about'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.howItWorks")
    a.pointer(ui-sref="home", data-ng-class="{'active': shell.menu == 'home'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.store")
    a.pointer(ui-sref="login", data-ng-class="{'active': shell.menu == 'login'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.myAccount")
    a.pointer(ng-click="shell.logout()",data-ng-if="shell.currentUser", data-ng-bind="shell.labels.goToOut")
    a.pointer(ng-click="shell.sideMenu = false", data-ng-bind="shell.labels.closeMenu")
    span
      a.social(href="https://www.facebook.com/thecomicsociety", target="_blank")
        i.fa.fa-facebook
       a.social(href="https://twitter.com/thecomicsociety", target="_blank")
        i.fa.fa-twitter
  nav.side-menu(data-ng-if="shell.isDashboard")
    a.pointer(ui-sref="dashboard.account", data-ng-class="{'active': shell.menu == 'account'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.myAccount")
    a.pointer(ui-sref="home", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.store")
    a.pointer(ui-sref="dashboard.orders", data-ng-class="{'active': shell.menu == 'orders'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.myOrders")
    a.pointer(ui-sref="dashboard.series", data-ng-class="{'active': shell.menu == 'series'}", data-ng-click="shell.showSideMenu(false)", data-ng-bind="shell.labels.mySubscriptions")
    a.pointer(ng-click="shell.logout()",data-ng-if="shell.currentUser", data-ng-bind="shell.labels.goOut")
    a.pointer(ng-click="shell.sideMenu = false", data-ng-bind="shell.labels.closeMenu")
    span
      a.social(href="https://www.facebook.com/thecomicsociety", target="_blank")
        i.fa.fa-facebook
       a.social(href="https://twitter.com/thecomicsociety", target="_blank")
        i.fa.fa-twitter