div(data-ng-if="expirationDate && status=='pending_payment'")
  .margin-bottom-1(data-ng-bind="shell.labels.oxxoInstructions")
  .margin-bottom-1.align-center
    div(data-ng-bind="shell.labels.limitPaymentDate")
    div.accent
      |{{expirationDate}}
  img(data-ng-src="{{barcodeUrl}}")
  .arial
    |{{barcode}}
  .margin-top-1.align-center
    a.pure-button(data-ng-bind="shell.labels.printPayment", data-ng-click="shell.print()")
div(data-ng-if="!expirationDate && status=='pending_payment'")
  .margin-bottom-1(data-ng-bind="shell.labels.oxxoExpired")
div.success(data-ng-if="status=='paid'", data-ng-bind="shell.labels.paidAtOxxo")
