.filter-title
  span.publisher-name.
    Mis Ordenes
.shelf
  .inner-shelf
    .shelf-space
      .list-item(ng-repeat="item in orders")
        .pure-g
          .pure-u-1.pure-u-md-1-5
            | ID
          .pure-u-1.pure-u-md-1-5
            | FECHA
          .pure-u-1.pure-u-md-1-5
            | MONTO
          .pure-u-1.pure-u-md-1-5
            | STATUS
          .pure-u-1.pure-u-md-1-5
            | TIPO
        .pure-g
          .pure-u-1.pure-u-md-1-5
            | {{item.referenceId}}
          .pure-u-1.pure-u-md-1-5
            | {{item.createdAt}}
          .pure-u-1.pure-u-md-1-5
            | {{item.amount}}
          .pure-u-1.pure-u-md-1-5
            | {{item.status}}
          .pure-u-1.pure-u-md-1-5
            | {{item.type}}
        