#orders-menu(data-ng-include="'app/order/menu/order.menu.html'", data-ng-if="shell.isDashboard")
#admin-menu(data-ng-include="'app/admin/orders/menu/orders.menu.html'", data-ng-if="!orders.byUser")
#checkout-menu(data-ng-include="'app/admin/users/menu/user.menu.html'", data-ng-if="orders.byUser")

.filter-title
  span.publisher-name
    |Orden {{order.info.referenceId}}
.shelf
  .inner-shelf
    .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
    .shelf-space
      .shelf-content(data-ng-hide="loading")
        .pure-g
          .pure-u-1.pure-u-md-1-3.border-right
            .information-box.padding-right-1
              .information-title.uppercase(data-ng-bind="shell.labels.summary")
              table.info
                tbody
                  tr
                    td.info-label(data-ng-bind="shell.labels.reference")
                    td.info-value
                      |{{order.info.referenceId}}
                  tr
                    td.info-label(data-ng-bind="shell.labels.amount+': '")
                    td.info-value
                      |{{order.info.amount | currency}}
                  tr
                    td.info-label(data-ng-bind="shell.labels.date+': '")
                    td.info-value
                      | {{order.info.createdAt | date: 'medium'}}
                  tr
                    td.info-label(data-ng-bind="shell.labels.status+': '")
                    td.info-value
                      |{{order.info.status}}
          .pure-u-1.pure-u-md-1-3.border-right
            .information-box.padding-side-1
              .information-title.uppercase(data-ng-bind="shell.labels.shippingAddress")
              .description
                | {{order.info.shippingAddress.street}} {{order.info.shippingAddress.number}} {{order.info.shippingAddress.apt}}
                br
                | {{order.info.shippingAddress.district}} {{order.info.shippingAddress.municipality}} 
                br
                | {{order.info.shippingAddress.country}}, {{order.info.shippingAddress.state}},  {{order.info.shippingAddress.zip}}
          .pure-u-1.pure-u-md-1-3
            .information-box.padding-side-1
              .information-title.uppercase(data-ng-bind="shell.labels.paymentMethod")
              table.info
                tbody
                  tr
                    td.info-label(data-ng-bind="shell.labels.name")
                    td.info-value
                      |{{order.info.paymentMethod.name}}
                  tr
                    td.info-label(data-ng-bind="shell.labels.issuer")
                    td.info-value
                      |{{order.info.paymentMethod.brand}}
                  tr
                    td.info-label(data-ng-bind="shell.labels.card")
                    td.info-value
                      |**** **** **** {{order.info.paymentMethod.last4}}
                  //- tr
                  //-   td.info-label(data-ng-bind="shell.labels.type")
                  //-   td.info-value
                  //-     |{{order.info.available}}

.filter-title
  span.publisher-name(data-ng-bind="shell.labels.items")
.shelf
  .inner-shelf
    .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
    .shelf-space
      .shelf-content(data-ng-hide="loading")
        table.info
          thead
            tr.text-secondary-black
              th(data-ng-bind="shell.labels.item")
              th(data-ng-bind="shell.labels.quantity")
              th(colspan="3",data-ng-bind="shell.labels.total")
          tbody
            tr(data-ng-repeat="item in order.info.items")
              td.info-value.uppercase
                | {{item.name}}
              td.info-value.align-center
                | {{item.quantity}}
              td.info-value.align-right
                |$
              td.info-value.align-right
                | {{item.price | currency:''}}
                span(data-ng-bind="' '+shell.labels.currencySymbol")
            tr(data-ng-if="order.info.shippingMethod")
              td.info-value.uppercase
                span(data-ng-bind="shell.labels.shipping+' '")                
                | {{order.info.shippingMethod.name}}
              td.info-value.align-center
                | 1
              td.info-value.align-right
                |$
              td.info-value.align-right
                | {{order.info.shippingMethod.price | currency:''}}
                span(data-ng-bind="' '+shell.labels.currencySymbol")
            tr
              td(colspan="3")
              td.info-important.align-right.border-top.padding-top
                |{{order.info.amount | currency}}
                span(data-ng-bind="' '+shell.labels.currencySymbol")

div(data-ng-if="order.info.notAvailable && order.info.notAvailable.length > 0")
  .filter-title
    span.publisher-name.error(data-ng-bind="shell.labels.notAvailableAtPayment")
  .shelf
    .inner-shelf.error-border
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      .shelf-space
        .shelf-content(data-ng-hide="loading")
          table.info
            thead
              tr.text-secondary-black
                th(data-ng-bind="shell.labels.price")
                th(data-ng-bind="shell.labels.quantity")
                th(data-ng-bind="shell.labels.price")
            tbody
              tr(data-ng-repeat="item in order.info.notAvailable")
                td.info-value.uppercase
                  | {{item.name}}
                td.info-value.align-center
                  | {{item.quantity}}
                td.info-value.align-right
                  | {{item.price | currency}}