table.total-table
  tr
    td.table-label(data-ng-bind="shell.labels.orderTotal+': '")
    td
      |$
    td
      |{{shell.shoppingCart.cartTotal | currency: ''}}
      span(data-ng-bind="shell.labels.currencySymbol")
  tr(data-ng-show="shell.shoppingCart.shippingMethod && shell.shoppingCart.shippingAddress")
    td.table-label(data-ng-bind="shell.labels.shipping+': '")
    td
      |$
    td
      |{{shell.shoppingCart.shippingMethod.price | currency: ''}}
      span(data-ng-bind="shell.labels.currencySymbol")
  tr(data-ng-hide="shell.shoppingCart.shippingMethod && shell.shoppingCart.shippingAddress")
    td.table-label(data-ng-bind="shell.labels.shipping+': '")
    td
    td
      span
        |+
      span(data-ng-bind="shell.labels.shipping")
  tr.action
    td.table-label(data-ng-bind="shell.labels.balance")
    td
      |$
    td
      |{{shell.shoppingCart.wallet | currency: ''}} MXN
      span(data-ng-bind="shell.labels.currencySymbol")
  tr.action
    td.table-label(data-ng-bind="shell.labels.discount")
    td
      |$
    td
      |{{shell.shoppingCart.discount | currency: ''}}
      span(data-ng-bind="shell.labels.currencySymbol")
  tr
    td.table-label(data-ng-bind="shell.labels.totalToPay+': '")
    td
      |$
    td
      |{{shell.shoppingCart.total| currency: ''}}
      span(data-ng-bind="shell.labels.currencySymbol")