table.total-table
  tr
    td.table-label
      |Total de la orden:
    td
      |$
    td
      |{{shoppingCart.cartTotal}}
  tr
    td.table-label
      |Descuento:
    td
      |$
    td
      |{{shoppingCart.wallet}}
  tr
    td.table-label
      |Total a Pagar:
    td
      |$
    td
      |{{shoppingCart.total}}