table.total-table
  tr
    td.table-label
      |Total de la orden:
    td
      |$
    td
      |{{shell.shoppingCart.cartTotal | currency: ''}} MXN
  tr.action
    td.table-label
      |Saldo:
    td
      |$
    td
      |{{shell.shoppingCart.wallet | currency: ''}} MXN
  tr.action
    td.table-label
      |Descuento:
    td
      |$
    td
      |{{shell.shoppingCart.discount | currency: ''}} MXN
  tr
    td.table-label
      |Total a Pagar:
    td
      |$
    td
      |{{shell.shoppingCart.total | currency: ''}} MXN