table.total-table
  tr
    td.table-label
      |Total de la orden:
    td
      |$
    td
      |{{vm.shoppingCart.cartTotal}}
  tr.action
    td.table-label
      |Saldo:
    td
      |$
    td
      |{{vm.shoppingCart.wallet}}
  tr.action
    td.table-label
      |Descuento:
    td
      |$
    td
      |{{vm.shoppingCart.discount}}
  tr
    td.table-label
      |Total a Pagar:
    td
      |$
    td
      |{{vm.shoppingCart.total}}