table.total-table
  tr
    td.table-label
      |Total de la orden:
    td
      |$
    td
      |{{shoppingCart.cartTotal}}
  tr.action
    td.table-label
      |Saldo:
    td
      |$
    td
      |{{shoppingCart.wallet}}
  tr.action
    td.table-label
      |Descuento:
    td
      |$
    td
      |{{shoppingCart.discount}}
  tr
    td.table-label
      |Total a Pagar:
    td
      |$
    td
      |{{shoppingCart.total}}