
<div data-ng-bind="shell.labels.recoveryPassword" class="section-title"></div>
<div id="recovery" data-ng-hide="recovery.complete">
  <div class="filter-title"><span data-ng-bind="shell.labels.newPassword" class="publisher-name"></span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space">
        <form name="recovery.form" novalidate="" class="pure-form pure-form-stacked">
          <fieldset>
            <label for="password" ng-show="((recovery.form.password.$valid || recovery.form.password.$pristine) || (!recovery.form.password.$error.required  &amp;&amp; recovery.form.password.$error.match &amp;&amp; recovery.form.confirmPassword.$pristine)) &amp;&amp; !(recovery.form.confirmPassword.$dirty &amp;&amp; recovery.form.password.$error.required)" data-ng-bind="shell.labels.password"></label>
            <label for="password" ng-show="recovery.form.password.$error.required &amp;&amp; (recovery.form.password.$dirty || recovery.form.confirmPassword.$dirty)" data-ng-bind="shell.labels.passwordRequired" class="error"></label>
            <label for="password" ng-show="recovery.form.confirmPassword.$dirty &amp;&amp; !recovery.form.password.$error.required &amp;&amp; recovery.form.password.$error.match &amp;&amp; recovery.form.password.$dirty" data-ng-bind="shell.labels.passwordNotMatch" class="error"></label>
            <div class="form-icon">
              <input id="password" name="password" type="password" data-ng-model="recovery.password" required="" password-match="passwordMatch" class="pure-input-1"/><i ng-show="recovery.form.password.$pristine &amp;&amp; !(recovery.form.confirmPassword.$dirty &amp;&amp; recovery.form.password.$error.required)" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="(recovery.form.password.$valid &amp;&amp; recovery.form.password.$dirty) || (recovery.form.confirmPassword.$pristine &amp;&amp; recovery.form.password.$dirty &amp;&amp; recovery.form.password.$error.match) " class="fa fa-check-circle-o success medium-icon"></i><i ng-show="(recovery.form.password.$error.required &amp;&amp; recovery.form.password.$dirty) || (recovery.form.confirmPassword.$dirty &amp;&amp; recovery.form.password.$error.match)" class="fa fa-times-circle-o error medium-icon"></i>
            </div>
            <label for="confirmPassword" ng-show="recovery.form.confirmPassword.$valid || recovery.form.confirmPassword.$pristine" data-ng-bind="shell.labels.passwordConfirm"></label>
            <label for="confirmPassword" ng-show="recovery.form.confirmPassword.$error.required &amp;&amp; recovery.form.confirmPassword.$dirty" data-ng-bind="shell.labels.passwordRequired" class="error"></label>
            <div class="form-icon">
              <input id="confirmPassword" name="confirmPassword" type="password" data-ng-model="passwordMatch" required="" class="pure-input-1"/><i ng-show="recovery.form.confirmPassword.$pristine" class="fa fa-dot-circle-o medium-icon"></i><i ng-show="recovery.form.confirmPassword.$valid &amp;&amp; recovery.form.confirmPassword.$dirty" class="fa fa-check-circle-o success medium-icon"></i><i ng-show="recovery.form.confirmPassword.$invalid &amp;&amp; recovery.form.confirmPassword.$dirty" class="fa fa-times-circle-o error medium-icon">             </i>
            </div>
          </fieldset>
          <div class="align-center margin-bottom"><a ng-click="recovery.update()" data-ng-bind="shell.labels.update" class="pure-button pure-button-primary"></a></div>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="recovery-complete" data-ng-show="recovery.complete">
  <div class="filter-title"><span data-ng-bind="shell.labels.passwordUpdated" class="publisher-name"></span></div>
  <div class="shelf">
    <div class="inner-shelf">
      <div class="shelf-space align-center">
        <h2 data-ng-bind="shell.labels.passwordSuccess" class="success"></h2><a data-ui-sref="login" data-ng-bind="shell.labels.login" class="pure-button pure-button-primary"></a>
      </div>
    </div>
  </div>
</div>