.section-title(data-ng-bind="shell.labels.recoveryPassword")
#recovery(data-ng-hide="recovery.complete")
  .filter-title
    span.publisher-name(data-ng-bind="shell.labels.newPassword")
  .shelf
    .inner-shelf
      .shelf-space
        form.pure-form.pure-form-stacked(name="recovery.form", novalidate="")
          fieldset
            label(for="password", ng-show="((recovery.form.password.$valid || recovery.form.password.$pristine) || (!recovery.form.password.$error.required  && recovery.form.password.$error.match && recovery.form.confirmPassword.$pristine)) && !(recovery.form.confirmPassword.$dirty && recovery.form.password.$error.required)", data-ng-bind="shell.labels.password")
            label.error(for="password", ng-show="recovery.form.password.$error.required && (recovery.form.password.$dirty || recovery.form.confirmPassword.$dirty)", data-ng-bind="shell.labels.passwordRequired")
            label.error(for="password", ng-show="recovery.form.confirmPassword.$dirty && !recovery.form.password.$error.required && recovery.form.password.$error.match && recovery.form.password.$dirty", data-ng-bind="shell.labels.passwordNotMatch")
            .form-icon
              input.pure-input-1#password(name="password", type="password" data-ng-model="recovery.password", required="", password-match="passwordMatch")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="recovery.form.password.$pristine && !(recovery.form.confirmPassword.$dirty && recovery.form.password.$error.required)")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="(recovery.form.password.$valid && recovery.form.password.$dirty) || (recovery.form.confirmPassword.$pristine && recovery.form.password.$dirty && recovery.form.password.$error.match) ")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="(recovery.form.password.$error.required && recovery.form.password.$dirty) || (recovery.form.confirmPassword.$dirty && recovery.form.password.$error.match)")
          
            label(for="confirmPassword", ng-show="recovery.form.confirmPassword.$valid || recovery.form.confirmPassword.$pristine", data-ng-bind="shell.labels.passwordConfirm")
            label.error(for="confirmPassword", ng-show="recovery.form.confirmPassword.$error.required && recovery.form.confirmPassword.$dirty", data-ng-bind="shell.labels.passwordRequired")
            .form-icon
              input.pure-input-1#confirmPassword(name="confirmPassword", type="password", data-ng-model="passwordMatch", required="")
              i.fa.fa-dot-circle-o.medium-icon(ng-show="recovery.form.confirmPassword.$pristine")
              i.fa.fa-check-circle-o.success.medium-icon(ng-show="recovery.form.confirmPassword.$valid && recovery.form.confirmPassword.$dirty")
              i.fa.fa-times-circle-o.error.medium-icon(ng-show="recovery.form.confirmPassword.$invalid && recovery.form.confirmPassword.$dirty")              
          .align-center.margin-bottom
            a.pure-button.pure-button-primary(ng-click="recovery.update()",data-ng-bind="shell.labels.update")
#recovery-complete(data-ng-show="recovery.complete")
  .filter-title
    span.publisher-name(data-ng-bind="shell.labels.passwordUpdated")
  .shelf
    .inner-shelf
      .shelf-space.align-center
        h2.success(data-ng-bind="shell.labels.passwordSuccess")
        a.pure-button.pure-button-primary(data-ui-sref="login", data-ng-bind="shell.labels.login")