.section-title(data-ng-bind="shell.labels.whatIs")
.filter-title
  span.publisher-name(data-ng-bind="shell.labels.membership")
.shelf
  .inner-shelf
    .shelf-space.privacy-policy
      h3(data-ng-bind="shell.labels.whatIs")
      p(data-ng-bind="shell.labels.aboutText1")
      p(data-ng-bind="shell.labels.aboutText2")
      p(data-ng-bind="shell.labels.aboutText3")
      h3(data-ng-bind="shell.labels.aboutText4")
      p(data-ng-bind="shell.labels.aboutText5")
      h3(data-ng-bind="shell.labels.aboutText6")
      p(data-ng-bind="shell.labels.aboutText7")
      h3(data-ng-bind="shell.labels.aboutText8")
      p(data-ng-bind="shell.labels.aboutText9")
      h3(data-ng-bind="shell.labels.aboutText10")
      p(data-ng-bind="shell.labels.aboutText11")
      h3(data-ng-bind="shell.labels.aboutText12")
      p(data-ng-bind="shell.labels.aboutText13", data-ng-if="!shell.system.membership")
      p(data-ng-bind="shell.labels.aboutText13A", data-ng-if="shell.system.membership")
      h3(data-ng-bind="shell.labels.aboutText14")
      p(data-ng-bind="shell.labels.aboutText15")