.section-title.
  ¿Qué es The Comics' Society?
.filter-title
  span.publisher-name
    |Membresia
.shelf
  .inner-shelf
    .shelf-space.privacy-policy
      h3
        |¿Qué es The Comics' Society?
      p
        | The Comics' Society es una tienda en linea de comics en INGLES. 
      p
        |Si tu estas cansado de ir a las tiendas a hacer filas. ¡La Sociedad es para ti!
      p
        |La Sociedad surge de la idea de facilitarnos el proceso de compra, evitar perdida de tiempo y pricipalmente tener acceso rapido y facil a todos los comics que vienen a tan solo un click de distancia.
      p
        |¡Unete a la Sociedad Ahora y conoceras la diferencia!
      h3
        |¿Comó funcionan las membresias?
      p
        | Para unirte a la Sociedad debes obtener tu membresia por $100.00 MXN al mes.
      h3
        |¿$100 pesos al mes?¿Qué obtengo con eso?
      p
        |Al ser miembro de la Sociedad obtendras el 15% de descuento en todas tus compras del mes. El descuento solo aplica a productos no al envio.
      h3
        |¿Qué articulos tendran ese 15% de descuento?
      p
        |Todos los articulos (a excepcion del envio) que esten en la tienda califican para aplicarles el decuento de Miembro de la Sociedad.
      h3
        |¿La membresia es para mi?
      p
        |La membresia solo te conviene si gastas mas de $600 pesos al mes en comics.
      h3
        |¿Puedo comprar sin tener membresia?
      p
        |Sí puedes comprar, pero al ser miembro obtienes beneficios extras.
      h3
        |¿Puedo cancelar mi membresia?
      p
        |¡Por supuesto! En cualquier momento que decidas cancelar tu membresia, basta con ir a tu dashboard y con un click tu membresia estara cancelada.