doctype html
html(data-ng-app="app")
  head
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(charset="utf-8")
    link(rel="shorcut icon", href="common/images/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="bower_components/pure/pure-min.css")
    link(rel="stylesheet", href="bower_components/pure/grids-responsive-min.css")
    link(rel="stylesheet", href="bower_components/components-font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="common/css/main.css")
  body
    div(data-ng-controller="Shell as vm")
      .loading-layer(data-ng-show="vm.loading")
        div.spinner-circle
          div.dot1
          div.dot2
      #shell
        .pure-g
          #left-pane.pure-u-1.pure-u-sm-1-4.pure-u-md-1-5
            .inner-box
              .nav-top(data-ng-include="'app/layout/sidebar.template.html'")
          #right-pane.pure-u-1.pure-u-sm-3-4.pure-u-md-4-5
            #inner-box
            .nav-top(data-ng-include="'app/layout/header.html'")
            div(ui-view)
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="bower_components/angular-resource/angular-resource.min.js")
    script(src="bower_components/angular-local-storage/dist/angular-local-storage.min.js")
    script(src="bower_components/ng-underscore/build/ng-underscore.min.js")

    //conketa
    script(type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.0/js/conekta.js")
    script(src="app/app.module.js")
    script(src="app/core/core.module.js")
    script(src="app/core/config.js")
    script(src="app/core/parse/parse.factory.js")
    script(src="app/core/parse/sepomex.factory.js")
    script(src="app/core/parse/parse.headers.factory.js")
    script(src="app/core/store/store.api.factory.js")
    script(src="app/core/user/user.api.factory.js")
    script(src="app/core/conekta/conekta.module.js")
    script(src="app/core/conekta/conekta.module.js")
    script(src="app/cart/cart.module.js")
    script(src="app/dashboard/dashboard.module.js")
    script(src="app/cart/cart.factory.js")
    script(src="app/cart/checkout/checkout.controller.js")
    script(src="app/core/conekta/conekta.factory.js")
    script(src="app/storage/storage.module.js")
    script(src="app/storage/storage.service.js")
    script(src="app/layout/layout.module.js")
    script(src="app/layout/shelf.directive.js")
    script(src="app/layout/shell.js")
    script(src="app/login/login.controller.js")
    script(src="app/card/card.controller.js")
    script(src="app/address/address.controller.js")
    script(src="app/order/order.factory.js")
    script(src="app/order/order.controller.js")
    script(src="app/order/orders.controller.js")
    script(src="app/profile/profile.controller.js")
    script(src="app/address/newAddress.directive.js")
    script(src="app/card/cardForm.directive.js")
    script(src="app/cart/checkout/items/itemsList.directive.js")
    script(src="app/cart/checkout/items/cartItem.directive.js")
    script(src="app/login/loginForms.directive.js")
    script(src="app/cart/checkout/shippingAddress/shippingAddress.directive.js")
    script(src="app/cart/checkout/paymentMethod/paymentMethod.directive.js")
    script(src="app/cart/checkout/placeOrder/placeOrder.directive.js")
    script(src="app/cart/checkout/responsePayment/responsePayment.directive.js")

