doctype html
html(data-ng-app="app")
  head
    base(href="/")
    title
      |The Comics' Society
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(charset="utf-8")
    link(rel="shorcut icon", href="common/images/quimera.ico", type="image/x-icon")
    //build:css
    link(rel="stylesheet", href="bower_components/pure/pure-min.css")
    link(rel="stylesheet", href="bower_components/pure/grids-responsive-min.css")
    link(rel="stylesheet", href="bower_components/components-font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet", href="common/css/fontface.css")
    link(rel="stylesheet", href="common/css/layout/sidebar.css")
    link(rel="stylesheet", href="common/css/layout/mobile/menu.css")
    link(rel="stylesheet", href="common/css/loading/loading.css")
    link(rel="stylesheet", href="common/css/buttons.css")
    link(rel="stylesheet", href="common/css/main.css")
    link(rel="stylesheet", href="common/css/media-query.css")
    //endbuild
  body
    div(data-ng-controller="Shell as shell")
      .initial-layer(data-ng-hide="shell.loaded")
        .initial-logo
          img(src="common/images/quimera-white.png")
        .initial-text(data-ng-hide="shell.loaded")
          |Ingresando a la Sociedad.
        .spinner-square(data-ng-hide="shell.loaded")
          .cube1
          .cube2
        
      .opacity-layer(data-ng-show="shell.loading && shell.loaded",)
        div.spinner-circle
          div.dot1
          div.dot2
      .error-layer.align-center(data-ng-if="shell.errorBar",data-ng-show='shell.loaded')
        |{{shell.errorResponse.message}}
      confirm-dialog
      #shell
        #mobile-side-menu(data-ng-include="'app/layout/mobile/side-menu.html'", data-ng-if="shell.sideMenu")
        .pure-g
          .left-pane.pure-u-1.pure-u-md-1-4.pure-u-lg-1-5
            .side-space
              .nav-top(data-ng-include="'app/layout/sidebar.template.html'")
          .right-pane.pure-u-1.pure-u-md-3-4.pure-u-lg-4-5
            #inner-box
            .nav-top(data-ng-include="'app/layout/header.html'")
            div(ui-view)
          #mobile-menu.hidden-lg(data-ng-include="'app/layout/mobile/menu.html'", data-ng-hide="shell.sideMenu || shell.isDashboard || shell.isAdmin")
      .footer
        span(data-ng-bind="shell.labels.website")
        | 
        span(data-ng-bind="shell.labels.year")
        |. 
        span(data-ng-bind="shell.labels.visitOur")
        |         
        a.accent(data-ui-sref='terms', data-ng-bind="shell.labels.termsAndConditions")
        span(data-ng-bind="shell.labels.as")
        a.accent(data-ui-sref='privacy', data-ng-bind="shell.labels.privacyTerms")
        |.  
    script(type="text/javascript" src="https://conektaapi.s3.amazonaws.com/v0.3.2/js/conekta.js")
    //build:js
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-ui-router/release/angular-ui-router.min.js")
    script(src="bower_components/angular-resource/angular-resource.min.js")
    script(src="bower_components/angular-local-storage/dist/angular-local-storage.min.js")
    script(src="bower_components/ng-underscore/build/ng-underscore.min.js")
    script(src="bower_components/angular-animate/angular-animate.min.js")
    script(src="app/app.module.js")
    script(src="app/core/core.module.js")
    script(src="app/core/initialize.js")
    script(src="app/core/config.js")
    script(src="app/core/parse/parse.factory.js")
    script(src="app/core/parse/sepomex.factory.js")
    script(src="app/core/parse/development.headers.factory.js")
    script(src="app/core/store/store.api.factory.js")
    script(src="app/core/user/user.api.factory.js")
    script(src="app/core/user/token.api.js")
    script(src="app/core/stats/stats.api.js")
    script(src="app/core/conekta/conekta.module.js")
    script(src="app/cart/cart.module.js")
    script(src="app/dashboard/dashboard.module.js")
    script(src="app/admin/admin.module.js")
    script(src="app/store/store.controller.js")
    script(src="app/cart/cart.factory.js")
    script(src="app/cart/checkout/checkout.controller.js")
    script(src="app/item/item.controller.js")
    script(src="app/core/conekta/conekta.factory.js")
    script(src="app/storage/storage.module.js")
    script(src="app/storage/storage.service.js")
    script(src="app/layout/layout.module.js")
    script(src="app/layout/shelf.directive.js")
    script(src="app/layout/shell.js")
    script(src="app/login/login.controller.js")
    script(src="app/forgot/forgot.controller.js")
    script(src="app/recovery/recovery.controller.js")
    script(src="app/payment/payment.controller.js")
    script(src="app/wallet/wallet.controller.js")
    script(src="app/wallet/coupon/coupon.directive.js")
    script(src="app/wallet/coupon/adminCoupon.directive.js")
    script(src="app/wallet/money/money.directive.js")
    script(src="app/membership/membership.directive.js")
    script(src="app/core/system/system.api.js")
    script(src="app/membership/upgrade.directive.js")
    script(src="app/core/coupon/coupon.api.factory.js")
    script(src="app/address/address.controller.js")
    script(src="app/order/order.controller.js")
    script(src="app/order/order.factory.js")
    script(src="app/order/orders.controller.js")
    script(src="app/profile/profile.controller.js")
    script(src="app/profile/profileForm.directive.js")
    script(src="app/admin/users/userProfileForm.directive.js")
    script(src="app/admin/users/payment/adminPayment.controller.js")
    script(src="app/admin/users/address/adminAddress.controller.js")
    script(src="app/admin/users/series/adminSeries.controller.js")
    script(src="app/account/account.controller.js")
    script(src="app/core/sales/sales.api.js")
    script(src="app/core/products/products.api.js")
    script(src="app/core/shipping/shipping.api.js")
    script(src="app/core/publisher/publisher.api.js")
    script(src="app/core/serie/serie.api.js")
    script(src="app/admin/products/productForm.directive.js")
    script(src="app/admin/publishers/publisherForm.directive.js")
    script(src="app/admin/series/serieForm.directive.js")
    script(src="app/admin/sales/sales.controller.js")
    script(src="app/admin/subscriptions/subscriptions.controller.js")
    script(src="app/admin/orders/orders.controller.js")
    script(src="app/admin/preorders/preorders.controller.js")
    script(src="app/admin/users/users.controller.js")
    script(src="app/admin/users/userProfile.controller.js")
    script(src="app/admin/users/user/view.controller.js")
    script(src="app/admin/users/wallet/adminWallet.controller.js")
    script(src="app/admin/products/products.controller.js")
    script(src="app/admin/publishers/publishers.controller.js")
    script(src="app/admin/series/series.controller.js")
    script(src="app/admin/products/product.controller.js")
    script(src="app/admin/publishers/publisher.controller.js")
    script(src="app/admin/series/serie.controller.js")
    script(src="app/admin/products/newProduct.controller.js")
    script(src="app/admin/publishers/newPublisher.controller.js")
    script(src="app/admin/series/newSerie.controller.js")
    script(src="app/admin/assistent/assistent.controller.js")
    script(src="app/admin/assistent/assistentStart.controller.js")
    script(src="app/admin/assistent/assistentUser.controller.js")
    script(src="app/admin/assistent/assistentUsers.controller.js")
    script(src="app/account/cancel.directive.js")
    script(src="app/serie/serie.factory.js")
    script(src="app/serie/series.controller.js")
    script(src="app/serie/serie.controller.js")
    script(src="app/address/newAddress.directive.js")
    script(src="app/payment/cardForm.directive.js")
    script(src="app/payment/validateCard.directive.js")
    script(src="app/login/passwordMatch.directive.js")
    script(src="app/cart/checkout/items/itemsList.directive.js")
    script(src="app/cart/checkout/items/cartItem.directive.js")
    script(src="app/login/loginForms.directive.js")
    script(src="app/message/message.service.js")
    script(src="app/message/message.directive.js")
    script(src="app/message/confirm.directive.js")
    script(src="app/cart/checkout/wallet/wallet.directive.js")
    script(src="app/cart/checkout/shippingAddress/shippingAddress.directive.js")
    script(src="app/cart/checkout/paymentMethod/paymentMethod.directive.js")
    script(src="app/cart/checkout/placeOrder/placeOrder.directive.js")
    script(src="app/cart/checkout/responsePayment/responsePayment.directive.js")
    script(src="app/oxxo/oxxo.directive.js")
    script(src="common/js/moment.js")
    //endbuild
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-60355284-1', 'auto');
      ga('send', 'pageview');
