#payment(data-ng-show="showPayment")
  .filter-title
    span.publisher-name.
     Metodo de Pago
  .shelf
    .disable-shelf(data-ng-show="showPlaceOrder")
      i.fa.fa-check-square-o.fa-5.success
    .inner-shelf
      .spinner(data-ng-include="'app/layout/loading/loading.template.html'", data-ng-show="loading")
      .shelf-space
        .shelf-content(data-ng-hide="loading")
          .pure-g
            .pure-u-1.pure-u-md-1-3.border-right
              .information-box.no-padding
                .address-line
                  | Tarjeta 
                .address-line
                  | {{shoppingCart.paymentMethod.card.name}}
                .address-line
                  i.fa.fa-cc-visa(ng-if="shoppingCart.paymentMethod.card.brand == 'VISA'")
                  i.fa.fa-cc-mastercard(ng-if="shoppingCart.paymentMethod.card.brand == 'MC'")
                  i.fa.fa-cc-amex(ng-if="shoppingCart.paymentMethod.card.brand == 'AMERICAN_EXPRESS'")
                  | **** **** **** {{shoppingCart.paymentMethod.card.last4}}
            .pure-u-1.pure-u-md-1-3.border-right
              .information-box
                .address-line
                  | Cambiar Metodo de Pago
                .address-line
                  select(ng-model="shoppingCart.paymentMethod", ng-options="item as item.card.last4 for item in paymentMethods")
                .address-line
                  a.pure-button.button-xsmall
                    i.fa.fa-plus
                    | Agregar Tarjeta
            .pure-u-1.pure-u-md-1-3.align-center
              .information-box
                a.pure-button.button-success(data-ng-click="toConfirmOrder()",data-ng-hide="showPlaceOrder")
                  i.fa.fa-check
                  | Continuar